---
collaborators: 
  - name: Will Rourk
    slug: will-rourk
    role: 3D Technologies Specialist
  - name: Arin Bennett
    slug: arin-bennett
    role: 3D Visualization Specialist
  - name: Brandon Walsh
    slug: brandon-walsh
    role: Head of Student Programs
layout: work
slug: cultural-heritage-informatics-documentation
title: 3D Cultural Heritage Informatics Documentation
thumb-img: cultural-heritage-informatics-documentation-thumb.png
banner-img: cultural-heritage-informatics-documentation-banner.png
research-category: Student
start-year: 2019
end-year: 2019
redirect_from:
  - /cultural-heritage-informatic-documentation
  - /cultural-heritage-informatics-documentation
  - /work/cultural-heritage-informatic-documentation
---

In 2019, the Scholars' Lab and UVA Library received funding from the <a href="https://uvaparents.virginia.edu/parents-fund/projects-funded/">UVA Parents Fund</a> to create documentation for working with augmented and virtual reality technologies on campus. 

The following posts were produced as an outcome from that project:

{% assign project_posts = site.posts | where: 'tags', 'parents-fund' %}
<ul>
{% for post in project_posts %}
{% capture authorstring %}
{% include author-name.html authorid=post.author %}
{% endcapture %}
<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> by {{ authorstring }}</li>
{% endfor %}
</ul>