#alert-message {
  padding: 2rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 5vh;
  background: $grape;
  color: white;

  p {
    font-size: 1.25rem;
    margin:0;
  }

  a, :link, :visited {
    color: white !important;
  }
}
