#alert-message {
  padding: 2rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 5vh;
  background: $teal-light;

  p {
    font-size: 1.25rem;
    margin:0;
  }

}
