/* Blog */

/* Universal Styles: */

[class*="blog-item__"] {
	span {
		display: inline-block;
		width: calc(7ch + .5em);
	//	padding-right: .5em;
		float: left;
		font-weight: 900;
		text-transform: uppercase;
		color: rgba(0,0,0,.5);
	}
	a {
		text-decoration: none;
		color: black;
	}
	@media screen and (min-width: 768px) {
		font-size: 1.25rem;
	}
}

/* Main Styles: */

.blog-wrapper {
	padding: 0 8.33%;
	padding-top: 1em;
	@media screen and (min-width: 600px) {
		padding-top: 3rem; // 2 line heights
	}
	@media screen and (min-width: 1024px) {
		max-width: calc(900px + 16.67%);
		margin: 0 auto;
	}
}

/* Header: */

.blog-page-header {

}

.blog-header__big-title {
	position: relative;
	font-size: 3rem;
	font-weight: 900;
	@media screen and (min-width: 600px) {
		font-size: 5rem;
	}
	@media screen and (min-width: 900px) {
		font-size: 6rem;
	}
	@media screen and (min-width: 1024px) {
		font-size: 7rem;
	}
}

.blog-header__subtitle {
	margin-bottom: 1em;
	padding-bottom: .5em;
	font-size: 1rem;
	font-weight: 200;
	font-family: "base-mono-narrow", monospace;
	line-height: 1;
	color: rgba(0,0,0,.5);
//	border-bottom: 1px solid magenta;
	@media screen and (min-width: 900px) {
		font-size: 2rem;
	}
}

/* Main Content: */

.blog-main-content {

}

.blog-gallery {

}

/* Item: */

.blog-gallery__item {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "title"
						 "author"
						 "date"
						 "tags"
						 "button";
	@media screen and (min-width: 768px) {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "title title"
							 "author date"
							 "tags button";
		
	}
}

/* Title: */

.blog-item__title {
	grid-area: title;
	margin-bottom: .5em;
	font-family: "Oswald", sans-serif;
	font-size: 1.75rem;
	font-weight: 600;
	line-height: 1;
	a {
		text-decoration: none;
		color: black;
	}
	@media screen and (min-width: 768px) {
		font-size: 2.25rem;
	}
}

/* Author: */

.blog-item__author {
	grid-area: author;
}

/* Date */

.blog-item__date {
	grid-area: date;
}

/* Tags: */

.blog-item__tags {
	grid-area: tags;
}

/* Link to post: */

.blog-item__cta {
	grid-area: button;
	margin: 0 !important;
	a {
		margin: 0 !important;
	}
}