/* Blog Post: */

/* Universal Styles */

[class*="post-"] {
	a {
		font-family: "Raleway", sans-serif !important;
		font-weight: bold;
		border-bottom: 2px solid hsla(186,80%,70%,1) !important;
		&:hover, &:focus {
			background-color: hsla(186,80%,70%,1) !important;
		}
	}
}

/* Main Content */

.blog-post-wrapper {
	position: relative;
	padding: 0em 4.167%;
	@media screen and (min-width: 600px) {
		padding: 0em 8.33%;
	}
	@media screen and (min-width: 1024px) {
		max-width: calc(800px + 16.67%);
		margin: 0 auto;
	}
}

.post-main-content {
	position: relative;
	display: grid;
	grid-template-areas: "title" "meta" "content" "footer";
	grid-template-columns: 1fr;
}

/* Post Title: */

.post__big-title {
	position: relative;
	grid-area: title;
	margin-bottom: .5em;
	margin-top: calc(60px + 1em);
	font-size: 3rem;
	font-weight: 900;
	line-height: 1;
	span {
		display: block;
		padding-bottom: .5em;
		font-size: .5em;
		font-family: "base-mono-wide";
	//	font-weight: 400;
		text-transform: uppercase;
		color: hsla(186,80%,70%,1);
	//	transform: translate(0, 6px);
	}
}

/* Metadata: */

.post__metadata {
	grid-area: meta;
	margin-bottom: .5rem; // + 1rem default <p> spacing = line hieght
}

.post-meta__quote {

}

.post-meta__author {

}

.post-meta__date {
	@media screen and (min-width: 600px) {
		display: inline-block;
		padding-left: 2em;
		color: rgba(0,0,0,.5);
		&::before {
			content: '//';
			position: absolute;
			left: 0;
			top: 0;
			font-weight: bold;
			color: hsla(186,80%,70%,1);
		}
	}
}

.post-meta__categories {

}

.post-meta__tags {

}

/* Text Content: */

.post__content {
	grid-area: content;
	position: relative;
//	font-size: 18px;
	p:first-of-type {
		&::first-letter {
			float: left;
			padding-right: .5rem;
			font-size: 3em;
			font-weight: 900;
			line-height: 1;
			color: hsla(186,80%,70%,1);
		}
	}
}

/* Footer: */

.post__author-credits {
	position: relative;
	grid-area: footer;
}

.post-author__info {
	display: flex;
}

.post-author__image {
	position: relative;
	img {
		height: 100px;
	}
}

.post-author__link {
	position: relative;
}

.post-author__citation {

}