/* Events Page: */

.events-wrapper {
	padding: 0 4.167%;
	padding-top: calc(1em + 60px);
	@media screen and (min-width: 600px) {
		padding: 0 8.33%;
		padding-top: calc(3rem + 60px); // 2 line heights
	}
	@media screen and (min-width: 1024px) {
	//	max-width: calc(960px + 16.67%);
	//	margin: 0 auto;
	}
}

/* Header: */

.events-page-header {

}

.events-header__big-title {
	position: relative;
	font-size: 3rem;
	font-weight: 900;
	@media screen and (min-width: 600px) {
		font-size: 5rem;
	}
	@media screen and (min-width: 900px) {
		font-size: 6rem;
	}
	@media screen and (min-width: 1024px) {
		font-size: 7rem;
	}
}

.events-header__subtitle {
	margin-bottom: 1em;
	font-size: 1rem;
	font-weight: 200;
	font-family: "base-mono-narrow", monospace;
	line-height: 1;
	color: rgba(0,0,0,.5);
	@media screen and (min-width: 900px) {
		font-size: 2rem;
	}
}

/* Main Content: */

.events-main-content {

}

.events-gallery {

}

/* Item: */

.events-gallery__item {
	position: relative;
	display: grid;
	grid-template-columns: minmax(60px, auto) 1fr;
	grid-template-areas: "date title"
						 "logistics logistics"
						 "detail detail";
	margin-bottom: 1rem;
	@media screen and (min-width: 768px) {
		grid-template-columns: minmax(80px, auto) 1fr 1fr;
		grid-template-areas: "date title title"
							 ".... logistics detail";
	}
}

/* Date: */

.events-item__date {
	grid-area: date;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	border: 2px solid magenta;
	border-radius: 50%;
	div {
		font-weight: bold;
		line-height: 1;
		text-align: center;
		text-transform: uppercase;
	}
	@media screen and (min-width: 768px) {
		width: 72px;
		height: 72px;
		font-family: "Oswald", sans-serif;
	//	font-family: "base-mono-wide", monospace;
		font-size: 1.25rem;
	}
}

/* Title: */

.events-item__title {
	grid-area: title;
	margin-left: .5em;
	font-size: 2rem;
	font-weight: 900;
}

/* Time/place: */

.events-item__logistics {
	grid-area: logistics;
}

.events-logistics__time {

}

.events-logistics__place {

}

/* Link to details: */

.events-item__cta {
	grid-area: detail;
}