/* Universal footer styles: */

// colors text & links on page
[class*="footer"] {
	color: white;
	a {
		text-decoration: none;
		color: white; // black;
	}
}

// styles section titles on page
[class*="__title"][class*="footer"] {
	line-height: 1;
	margin-bottom: 1em;
	margin-top: .5em;
	font-weight: 700;
	text-transform: uppercase;
}

/* Main styles: */

.footer-wrapper {
//	margin-top: 2rem;
	padding: 1.5rem 4.167%;
	padding-top: 1rem;
	background-color: rgba(0,0,0,1);
	@media screen and (min-width: 900px) {
		padding: 1.5rem 8.33%;
		padding-top: 1rem;
	}	
}

.footer-main-grid {
	position: relative;
	display: grid;
	grid-template-areas: "top" "site" "connect" "contact" "logos";
	grid-template-columns: 1fr;
	justify-content: center;
	align-items: start;
	max-width: 1000px;
	margin: 0 auto;
	@media screen and (min-width: 768px) {
		grid-template-areas: "site contact connect top"
							 ".. logos logos ..";
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

/* Back To Top: */

.footer__to-top {
	grid-area: top;
	justify-self: center;
	a {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		img {
			height: 2em;
			margin-bottom: .5em;
		}
		span {
			position: relative;
			width: 4em;
			padding-bottom: .5em;
			font-weight: 700;
			text-transform: uppercase;
			text-align: center;
			line-height: 1;
			color: magenta !important;
			border-bottom: 1px solid white;
		} 
	}
	@media screen and (min-width: 768px) {
		justify-self: end;
		a {
			flex-flow: row nowrap;
			align-items: flex-end;
			img {
				height: 4em;
				margin-bottom: 0;
				margin-top: .5em;
				transform: translate(.5rem, 0);
			}
			span {
				padding-bottom: 0;
				text-align: left;
				border-bottom: none;
			}
		}
	}
}

// text-based areas:
.footer__sitemap, .footer__contact, .footer__connect {
	position: relative;
	@media screen and (max-width: 767px) {
		justify-self: center;
		width: 83.33%;
		margin-bottom: 1em;
	}
	@media screen and (min-width: 768px) {
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: -1rem;
			display: block;
			width: 2px;
			height: 100%;
			background-color: white;
		}
	}
}

/* Explore: */

.footer__sitemap {
	grid-area: site;
	width: 83.33%;
	@media screen and (max-width: 767px) {
		justify-self: center;
		margin: 1.5em 0 1em 0;
	}
	@media screen and (max-width: 400px) {
		width: 100%;
	}
}

.footer-map__title {
	@media screen and (max-width: 767px) {
		display: none;
	}
}

.footer-map__links {
	a {
		display: inline-block;
		&:first-of-type {
			color: magenta;
		}
	}
	@media screen and (max-width: 767px) {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	@media screen and (min-width: 768px) {
		a {
			display: block;
		}
	}
}

/* Contact: */

.footer__contact {
	grid-area: contact;
	text-align: right;
	max-width: 83.33%;
	div:first-of-type {
		text-align: left; //title 
	}
	span {
		float: left;
		font-family: "Raleway", sans-serif;
		font-weight: normal;
	}
	@media screen and (min-width: 768px) {
		max-width: 250px;
	}
}

// each line in section
[class*="footer-contact"] {
	margin-top: .5rem;
	line-height: 1;
}

.footer-contact__email {
	display: none;

}

.footer-contact__address {
	line-height: 1.25;
}

.footer-contact__phone {

}

.footer-contact__fax {

}

/* Connect: */

.footer__connect {
	grid-area: connect;
	max-width: 83.33%;
	@media screen and (min-width: 768px) {
		justify-self: end;
		max-width: 250px;
	}

}

.footer-connect__title {

}

.footer-connect__social {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	a {
		display: flex;
		height: 2rem;
		line-height: 2rem;
		margin-bottom: .5rem;
		img {
			display: inline-block;
			width: 2rem;
		}
		span {
			padding-left: 2em;
			display: none;
		}
	}
	@media screen and (min-width: 768px) {
		flex-flow: column nowrap;
		a {
			span {
				display: initial;
			}
		}
	}
}

.footer-social__fb {

}

.footer-social__twitter {

}

.footer-social__gh {

}

.footer-social__email {

}

/* Logos: */

.footer__logos {
	grid-area: logos;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-top: 2rem;
	a {
		display: inline-block;
		&:first-of-type {
			margin-right: 2em;
		}
	}
	span {
		margin-top: 1rem;
		font-size: .5rem;
		font-style: italic;
		display: none;
	}
}

.footer-logo__slab {
	img {
		height: 3rem;
	}
}

.footer-logo__uva {
	margin-top: 1em;
	img {
		height: 2rem;
	}
}