/**
 * 					Table of Contents
 * --------------------------------------------------------------------
 * #  Section:			Description:
 * --------------------------------------------------------------------
 * 1. General styles....Universal styles for repeating elements
 * 2. Landing page......Styles for title page
 * 3. Main content......Styles for content sections, e.g. 'Ethos'
 * 4. Unused styles.....Copied main styles for future customizing
 * --------------------------------------------------------------------
 */

/* 1. General Styles: */

// Section titles
[class*="__title"][class*="maker-"] {
	margin-bottom: .5em;
	margin-top: 1em;
	font-family: "Raleway", sans-serif;
	font-size: 1.75rem;
	font-weight: 900;
	line-height: 1;
	text-transform: uppercase;
	@media screen and (min-width: 600px) {
		font-size: 2rem;
	}
}

// Inventory lists
[class*="maker-"] {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

/* Landing Page: */

.makerspace-landing-grid {
	position: relative;
	display: grid;
	grid-template-areas: "title";
	grid-template-columns: 1fr;
	grid-auto-rows: minmax(100vh, auto);
	align-items: end;
	overflow: hidden;
	width: 100%;
	padding-left: 4.167%;
	background-color: black;
	background-image: linear-gradient(to bottom, black, black 100vh, white 100vh, white);
	@media screen and (min-width: 600px) {
		padding-left: 8.33%;
	}
	@media screen and (min-width: 768px) {
		grid-template-areas: "title pics";
		grid-template-columns: 2fr 1fr;
	}
	@media screen and (min-width: 900px) {
		padding-left: 4.167%;
	}
	@media screen and (min-width: 1200px) {
		padding-right: 4.167%;
	}
}

// 'big-' prefix so =/= caught by title selector
.maker-landing__big-title {
	grid-area: title;
	align-self: start;
	position: relative;
	display: grid;
	align-items: center;
	justify-content: start;
	height: 100vh;
	font-family: "Oswald", sans-serif;
	font-size: 4rem;
	font-weight: 600;
	text-transform: uppercase;
	line-height: .9;
	color: white;
	@media screen and (min-width: 600px) {
		font-size: 5rem;
	}
	@media screen and (min-width: 900px) {
		font-size: 6rem;
	}
	@media screen and (min-width: 1024px) {
		font-size: 7rem;
	}
}

.maker-title__text {
	position: relative;
	&::after {
		content: '';
		position: absolute;
		bottom: -4px;
		left: 0;
		display: block;
		height: 4px;
		width: 100vw;
		background-color: cyan;
	}
}

.maker-landing__pics {
	grid-area: pics;
	position: relative;
	display: none;
	flex-flow: column nowrap;
	justify-content: flex-end;
	align-items: flex-start;
	margin-top: 60px; // topnav
	img {
		display: inline-block;
		max-width: 90%;
		&:nth-of-type(2) {
			align-self: flex-end;
		}
	}
	// dummy pics:
	div {
		height: 33vh;
		width: 75%;
		margin-bottom: 2rem;
		background-color: black;
		border: 3px solid $brightgrape;
		&:nth-of-type(2) {
			align-self: flex-end;
		}
		&:nth-of-type(3) {
			transform: translate(-25%, 0);
			background-color: transparent;
		}
	}
	@media screen and (min-width: 768px) {
		display: flex;
	}
}

/* Main Content: */

.makerspace-main-content {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: minmax(25vh, auto);
	grid-template-areas: "ethos"
						"hours"
						 "people"
						 "usage"
						"invent"
						"public"
						"diagram"
						"question";
	padding: 0 4.167%;
	@media screen and (min-width: 600px) {
		padding: 0 8.33%;
	}
	@media screen and (min-width: 768px) {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "ethos hours"
							 "people usage"
                             "calendar calendar"
							"invent invent"
							"public diagram"
							"question question";
	}
	@media screen and (min-width: 768px) {
		font-size: 1.125rem;
	}
}

/* Ethos: */

.makerspace__ethos {
	grid-area: ethos;
	@media screen and (min-width: 768px) {
		padding-right: 8.33%;
	}
}

.maker-ethos__title {

}

.maker-ethos__text {

}

/* Hours: */

.makerspace__hours {
	grid-area: hours;
	@media screen and (min-width: 768px) {
		padding-left: 8.33%;
	}
}

.maker-hours__title {

}

.home-makerspace__hours {

}

.maker-hours__explainer {

}

/* People: */

.makerspace__people {
	grid-area: people;
	@media screen and (min-width: 768px) {
		padding-right: 8.33%;
	}
}

.maker-people__title {

}

.maker-people__students, .maker-people__staff {
	position: relative;
	font-family: "base-mono-narrow", monospace;
	font-weight: 200;
	text-align: right;
	span {
		float: left;
		font-weight: initial;
	}
}

.maker-students__label, .maker-staff__label {
	font-family: "Oswald", sans-serif;
	font-weight: 600;
	text-align: left;
	line-height: 1;
	margin-bottom: 1em;
	margin-top: 1em;
}

.maker-students__list, .maker-staff__list {

}

.maker-people__grid {
	position: relative;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(9, 5vh);
	border-top: 1px solid rgba(0,0,0,.3);
	border-left: 1px solid rgba(0,0,0,.3);
//	grid-gap: 1px;
}

.maker-grid__default {
//	border-style: dashed;
//	background-color: rgba(0,0,0,.3);
	border-right: 1px solid rgba(0,0,0,.3);
	border-bottom: 1px solid rgba(0,0,0,.3);
}

.maker-grid__skill {
//	border-width: 3px;
//	border-style: solid;
	border-right: 1px solid rgba(0,0,0,.3);
	border-bottom: 1px solid rgba(0,0,0,.3);
	z-index: 1;
}

[id*="skill1"], [id*="skill4"], [id*="skill7"] {
	position: relative; // for bg size
//	background-image: linear-gradient(rgba(255,0,255,.1), rgba(255,0,255,.1)), url("img/white-halftone.svg"), linear-gradient(rgba(255,0,255,1), rgba(255,0,255,1));
//	background-size: auto, 500%, auto;
//	background-position: top left -10px;
	background-color: rgba(255,0,255,.7);
}

[id*="skill2"], [id*="skill5"] {
	background-color: rgba(0, 255, 255, .7);
//	border-color: cyan;
}

[id*="skill3"], [id*="skill6"] {
	background-color: rgba(0, 47, 255, .7); // #002fff
//	border-color: rgba(0, 47, 255, 1);
}

// id selectors for grid areas
@import "ms-expertise";

/* How To Use: */

.makerspace__usage {
	grid-area: usage;
	@media screen and (min-width: 768px) {
		padding-left: 8.33%;
	}
}

.maker-usage__title {

}

.maker-usage__content {

}

.makerspace__calendar {
    grid-area: calendar;
}

/* Inventory: */

.makerspace__inventory {
	grid-area: invent;
	position: relative;
	display: grid;
	grid-template-areas: "title"
	"list"
	"notes"
	"contact";
	@media screen and (min-width: 768px) {
		grid-template-areas: "title title"
		"list list"
		"notes contact";
	}
}

.maker-inventory__title {
	grid-area: title;
}

// contains all sub-lists
.maker-inventory__list {
	grid-area: list;
//	display: grid;
//	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	-moz-columns: 250px;
	-webkit-columns: 250px;
	columns: 250px;
	column-count: 1;
//	-moz-column-gap: 0;
//	-webkit-column-gap: 0;
//	column-gap: 0; // default = 1em
	ul {
		-webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
		position: relative;
		padding: 1em;
		padding-right: .75em;
		padding-left: 1.25em;
		margin-bottom: 1em;
		margin-right: .5em;
		border: 4px solid black;
		span {
			display: inline-block;
			margin-bottom: .5em;
			font-weight: 600;
			font-family: "Oswald";
			line-height: 1.15;
		}
		li {
			font-weight: 200;
			font-family: "base-mono-narrow", monospace;
			position: relative;
			margin-bottom: .25em;
			line-height: 1.25;
			&::before {
				content: '';
				position: absolute;
				top: .625em;
				left: 0;
				display: block;
				height: 6px;
				width: 6px;
				transform: translate(-200%, -50%);
				background-color: magenta;
				border-radius: 50%;
			}
		}
		&:nth-of-type(3n - 1) {
			li {
				&::before {
					background-color: cyan;
				}
			}
		}
		&:nth-of-type(3n) {
			li {
				&::before {
					background-color: rgba(0,47,255,1);
				}
			}
		}
	}
	@media screen and (min-width: 400px) {
		column-count: auto;
	}
}

.maker-inventory__rules {
	grid-area: notes;
	@media screen and (min-width: 768px) {
		padding-right: 8.33%;
	}
}

.maker-inventory__contact {
	grid-area: contact;
	@media screen and (min-width: 768px) {
		padding-left: 8.33%;
	}
}

/* Public Spaces: */

.makerspace__public-spaces {
	grid-area: public;
	@media screen and (min-width: 768px) {
		padding-right: 8.33%;
	}
}

.maker-public__title {

}

.maker-public__list {

}

/* Diagram: */

.makerspace__diagram {
	grid-area: diagram;
	position: relative;
	@media screen and (min-width: 768px) {
		padding-left: 8.33%;
	}
}

.maker-diagram__img {
	position: relative;
	img {
		max-height: 75vh;
	}
}

/* Questions: */

.makerspace__questions {
	grid-area: question;
}

.maker-questions__text {

}

/* Old Images: */

.makerspace__images {
	grid-area: images;
	display: none;
}

/* 4. Unused Styles */

/* If make into own for page:

.home-makerspace__hours {
	position: relative;
	border: 4px solid magenta;
	font-family: "base-mono-narrow", monospace;
	font-size: 20px;
	text-align: right;
	margin-top: calc(2em + 4px);
	padding: .5em 1em;
	div {
		position: absolute;
		font-family: "Oswald", sans-serif;
		font-size: 1.5rem;
		font-weight: 600;
		text-transform: uppercase;
		text-align: left;
		line-height: 1;
		transform: translate(-1em, calc(-1.5em - 4px));
	}
	span {
		float: left;
		color: magenta;
	}
}

*/
