/* Navbar 2 Styles: */

.flexnav-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	padding: 0 4.167%;
	background-color: $navgray;
	z-index: 5;
	a {
		text-transform: uppercase;
	}
}

.flexnav-main {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 60px;
}

// nested version:
.flexnav__home-icon {
	align-self: center;
	a {
		display: block;
		padding-top: 16px;
		border-bottom: none !important;
		&:hover, &:focus {
			background-color: transparent !important;
		}
		img {
			display: block;
			height: 40px;
		}
	}
}

ul[class*="flexnav"] {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

[class*="flexnav"][class*="__item"] {
	a {
		display: inline-block;
		padding-bottom: .5em;
		font-family: "base-mono-wide", monospace;
		font-weight: 200;
		text-decoration: none;
		color: hsla(186,80%,80%,1);
		border-bottom: 1px solid hsla(186,80%,80%,1);
		-moz-transition: color .3s;
		-webkit-transition: color .3s;
		transition: color .3s;
		white-space: nowrap;
		&:hover, &:focus {
			color: hsla(186,80%,50%,1);
		}
	}
}

// ul, level 1
.flexnav-main-grid {
	position: relative;
	display: flex;
	align-items: center;
	text-align: center;
	height: 100%;
	max-width: 60vw;
}

// li, level 1
.flexnav__item {
	padding-right: 2em;
}

// li, level 1
.flexnav__more-menu {
//	position: relative;
//	align-self: flex-start;
}

// div
.flexnav-more__prompt {
	height: 60px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 60px;
	color: hsla(186,80%,80%,1);;
	span {
		display: inline-block;
		line-height: 1rem;
		transform: rotate(90deg);
	}
	&:hover, &:focus {
		cursor: pointer;
	}
}

// ul, level 2
.flexnav-more__wrapper {
	position: absolute;
	right: -4.1vw;
	top: 0;
	margin-top: 60px !important;
	list-style-type: none;
	text-align: left;
	z-index: 1;
	display: none;
	opacity: 0;
	-moz-transition: opacity .5s;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
	background-color: #222;
	border-top: 1px solid rgba(255,255,255,.5);
}

// li, level 2
.flexnav-more__item {
	background-color: #222;
	border-bottom: 1px solid rgba(255,255,255,.5);
	a {
		padding: 0 1em;
		text-align: left !important;
		line-height: 3;
	}
}

/* Classes for JS: */

.hidden {
	display: none;
}

.show-more-menu {
	display: initial;
	opacity: 1;
}