/* Navbar 2 Styles: */

.flexnav-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	padding: 0 4.167%;
	background-color: $navgray;
	z-index: 5;
}

/* Main content: */

.flexnav-main {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 60px;
}

/* Home Button: */

.flexnav__home-icon {
	align-self: center;
	position: relative;
	a {
		display: block;
		border-bottom: none !important;
		&:hover, &:focus {
			background-color: transparent !important;
		}
	}
}

.flexnav-icon__text {
	position: relative;
	svg {
		height: 1.875rem;
		transition: height .3s;
		path {
			fill: white;
			transition: fill .3s ease-out;
		}
		&:hover, &:focus {
			height: 2rem;
			path {
				fill: $medskyblue !important;
			}
		}
	}
}

/* Item wrappers: */

ul[class*="flexnav"] {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* All items (inner & outer): */

[class*="flexnav"][class*="__item"] {
	a {
		position: relative;
		display: inline-block;
		font-family: "base-mono-wide", monospace;
		font-weight: 200;
		text-decoration: none;
		text-transform: uppercase;
		color: white;
		white-space: nowrap;
	}
	@media screen and (max-width: 599px) {
		font-size: .875em;
	}
}

/* Page links wrapper: */

.flexnav-main-grid {
	position: relative;
	display: flex;
	align-items: center;
	height: 100%;
	max-width: 50vw;
	text-align: center;
	@media screen and (min-width: 600px) {
		max-width: 33vw;
	}
}

/* Outer item: */

.flexnav__item {
	padding-right: 2em;
	a {
		&::after {
			content: '';
			position: absolute;
			bottom: -.25em;
			left: 0;
			display: block;
			width: 0%;
			height: 2px;
			background-color: transparent;
			-moz-transition: background-color .3s ease-out, width .3s ease-out;
			-webkit-transition: background-color .3s ease-out, width .3s ease-out;
			transition: background-color .3s ease-out, width .3s ease-out;
		}
		&:hover, &:focus {
			&::after {
				width: 100%;
				background-color: hsla(186,80%,70%,1);
			}
		}
	}
}

/* Outer item
 * wraps "More" button
 * & inner items: */
.flexnav__more-menu {

}

/* "More" button: */

.flexnav-more__prompt {
	position: relative;
	display: flex;
	align-items: center;
	height: 60px;
	padding-right: 1em;
	font-family: "base-mono-wide", monospace;
	font-weight: 200;
	text-transform: uppercase;
	color: $medskyblue;
	-moz-transition: color .5s;
	-webkit-transition: color .5s;
	transition: color .5s;
	white-space: nowrap;
	&::after {
		content: '';
		position: absolute;
		top: 44px;
		left: 0;
		display: block;
		width: 0%;
		height: 2px;
		background-color: transparent;
		-moz-transition: background-color .3s, width .3s;
		-webkit-transition: background-color .3s, width .3s;
		transition: background-color .3s, width .3s;
	}
	span {
		display: inline-block;
		height: .5em;
		line-height: 1rem;
		transform: rotate(90deg) translate(0, -1em);
	}
	&:hover, &:focus, &:active {
		cursor: pointer;
		&::after {
			width: 100%;
			background-color: hsla(186,80%,70%,1);
		}
	}
	@media screen and (max-width: 599px) {
		font-size: .875em;
	}
}

/* Inner items wrapper: */

.flexnav-more__wrapper {
	position: absolute;
	right: -4.1vw;
	top: 0;
	margin-top: 60px !important;
	list-style-type: none;
	text-align: left;
	z-index: 1;
	display: none;
	opacity: 0;
	-moz-transition: opacity .5s;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
	background-color: $navgray;
	border-left: 1px solid black;
	&::after {
		content: '';
		position: absolute;
		top: -1px;
		right: 0;
		display: block;
		width: 100%; // 4.1vw;
		height: 1px;
		background-color: hsla(186,80%,80%,.5);
	}
	@media screen and (max-width: 599px) {
		width: 100vw;
	}
}

/* Inner item: */

.flexnav-more__item {
	background-color: $navgray;
	border-bottom: 1px solid hsla(186,80%,80%,.5);
	transition: background-color .3s ease-out;
	a {
		padding: 0 1em;
		text-align: left !important;
		line-height: 3;
		-moz-transition: color .3s ease-out;
		-webkit-transition: color .3s ease-out;
		transition: color .3s ease-out;
	}
	&:hover, &:focus {
		background-color: hsla(186, 0%, 5%, 1);
		a {
			color: $medskyblue;
		}
	}
	@media screen and (max-width: 599px) {
		padding-left: 1rem;
	}
}

/* Classes for JS: */

.hidden--js {
	display: none;
}

.show-more-menu--js {
	display: initial;
	opacity: 1;
}

/* End navbar styles */