/* People Gallery Page: */

.people-wrapper {
	position: relative;
}

/* Header: */

.people-page-header {

}

.people-header__big-title {

}

.people-header__subtitle {

}

/* Main content: */

.people-main-content {
	position: relative;
	padding: 0 4.167%;
	@media screen and (min-width: 600px) {
		padding: 0 8.33%;
		padding-top: 3rem; // 2 line heights
	}
	@media screen and (min-width: 768px) {
		padding: 0 4.167%;
		padding-top: 3rem; // 2 line heights
		font-size: 1.125rem;
	}
	@media screen and (min-width: 1024px) {
		padding: 0 8.33%;
		padding-top: 3rem; // 2 line heights
	}
}

/* Staff: */

.people__staff {
	position: relative;
}

.people-staff__title {

}

/* Staff gallery: */

.people-staff__gallery {
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* Gallery items: */

.people-item-wrapper {
	position: relative;
	margin-right: 1em;
	margin-bottom: 1em;
	a {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		width: 100%;
		height: 100%;
	}
}

/* Image: */

.people-item__img {
	position: relative;
	max-width: 100%;
	img {
		max-width: 100%;
	}
}

/* Name: */

.people-item__name {

}

/* Position: */

.people-item__position {

}