/* People Gallery Page: */

.people-wrapper {
	position: relative;
}

/* Header: */

.people-page-header {

}

.people-header__big-title {

}

.people-header__subtitle {

}

/* Main content: */

.people-main-content {
	position: relative;
	padding: 0 4.167%;
	@media screen and (min-width: 600px) {
		padding: 0 8.33%;
		padding-top: 3rem; // 2 line heights
	}
	@media screen and (min-width: 768px) {
		padding: 0 4.167%;
		padding-top: 3rem; // 2 line heights
	}
	@media screen and (min-width: 1024px) {
		padding: 0 8.33%;
		padding-top: 3rem; // 2 line heights
	}
}

/* Staff: */

.people__staff {
	position: relative;
}

.people-staff__title {

}

/* Staff gallery: */

.people-staff__gallery {

}

/* Gallery items: */

.people-item-wrapper {

}

/* Image: */

.people-item__img {

}

/* Name: */

.people-item__name {

}

/* Position: */

.people-item__position {

}