/* Progress Tracker Styles: */

.progress-big-title {
	position: relative;
	display: flex;
	justify-content: flex-start;
	margin-top: .5em;
	margin-bottom: .5em;
	padding: 0 4.167%;
	font-size: 3rem;
	font-weight: 900;
	line-height: 1;
	div {
		position: relative;
		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 6px;
			display: block;
			height: 4px;
			width: 100%;
			background-color: magenta;
			z-index: -1;
		}
	}
	@media screen and (min-width: 600px) {
		font-size: 4rem;
		padding: 0 8.33%;
	}
	@media screen and (min-width: 1024px) {
		max-width: calc(1000px + 16.67%);
		margin: .5em auto;
		margin-top: .5em;
	}
}

.progress-main-wrapper {
	position: relative;
	padding: 0em 4.167%;
	@media screen and (min-width: 600px) {
		padding: 0em 8.33%;
	}
	@media screen and (min-width: 1024px) {
		max-width: calc(1000px + 16.67%);
		margin: 0 auto;
	}
}

.progress-pages-grid {
	position: relative;
	display: grid;
	grid-template-columns: 64px 1fr 1fr 1fr 2fr;
}

[class*="progress-"][class*="__title"] {
	margin-bottom: 1em;
	font-size: 2rem;
	font-weight: 900;
	line-height: 1;
	grid-column: 1 / -1; // span all, regardless of #
	grid-row: 1 / span 1;
	@media screen and (min-width: 600px) {
		font-size: 2.5rem;
	}
}

.progress-pages__title {

}

.progress-other__title {
	margin-top: 1em;
}

[class*="progress__column-label"] {
	justify-self: start;
	margin-bottom: 1em;
	font-family: "Oswald", sans-serif;
	font-size: 2rem;
	font-weight: 600;
//	text-align: center;
	text-transform: uppercase;
	line-height: 1;
//	border-bottom: 2px solid magenta;
}

.progress__column-label--1 {
	grid-column: 1 / span;
	grid-row: 2 / span;
}

.progress__column-label--2 {
	grid-column: 2 / span;
	grid-row: 2 / span;
}

.progress__column-label--3 {
	grid-column: 3 / span;
	grid-row: 2 / span;
//	text-align: center;
}

.progress__column-label--4 {
	grid-column: 4 / span;
	grid-row: 2 / span;
//	text-align: center;
}

// $blue: hsl(229, 100%, 50%);
// magenta = 300deg
// cyan = 180deg

[class*="progress-item"] {
	padding: .5em 0;
	border-bottom: 1px solid hsla(300,100%,50%,.5);
	div {
		display: inline-block;
	}
}

.progress-other-grid [class*="progress-item"] {
	border-bottom: 1px solid hsla(186,80%,70%,1);
	a {
		&:hover, &:focus {
			background-color: hsla(186,80%,70%,1) !important;

		}
	}
}

.progress-item__num {
	font-weight: bold;
	font-size: 1.125rem;
	line-height: 1;
}

.progress-item__name {
	padding-right: 1rem;
	a {
		margin-bottom: .5em;
		font-family: "base-mono-narrow", monospace;
	//	font-weight: bold;
		line-height: 1;
		text-decoration: none;
		color: black;
		border-bottom: 1px solid black;
		background-color: transparent; // hsla(300,100%,50%,.5);
		-moz-transition: background-color .3s;
		-webkit-transition: background-color .3s;
		transition: background-color .3s;
		&:hover, &:focus {
			color: black;
			background-color: magenta;

		}
	}
}

.progress-item__status {
//	justify-self: center;
	font-family: "base-mono-narrow", monospace;
	font-weight: 200;
	div {
		span {
			display: inline-block;
			padding-right: .5rem;
			font-weight: bold;
		//	color: black;
		}
	}
}

.progress-status__active {
	font-weight: bold;
	span {
		color: magenta;
	}
}

.progress-item__notes, .progress-item__related {
	padding-left: 1em;
	align-self: start;
	border-bottom: 1px solid hsla(300,100%,50%,.5);
	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
		li {
			position: relative;
		//	margin-bottom: 1em;
			font-family: "base-mono-narrow", monospace;
			font-weight: 200;
		//	line-height: 1;
			/* NB: center of dot = 1rem from <li> */
			&::before {
				content: '';
				position: absolute;
				left: -4px;
				top: calc(.75em - 1px);
				display: block;
				height: 6px;
				width: 6px;
				background-color: magenta; // hsl(229,100%,50%);
				border-radius: 50%;
				transform: translate(-.5em, -25%);
			}
		}
	}
}

/* Non-Page Tasks: */

.progress-other-grid {
	position: relative;
	display: grid;
	grid-template-columns: 64px 1fr 1fr 1fr 2fr;
	.progress-status__active {
		padding-right: 1rem;
		span {
			color: hsla(186,80%,70%,1);
		}
	}
	.progress-item__notes {
		ul {
			li {
				&::before {
					background-color: hsla(186,80%,70%,1) !important;
				}
			}
		}
	}
}

.progress-item__phase, .progress-item__time {
	font-family: base-mono-narrow;
}

.progress-item__phase {
	font-weight: bold;
}

.progress-item__time {
	font-weight: 200;
}