/* Research Project Page */

/* Landing: */

.research-landing-wrapper {
	position: relative;
	display: grid;
	grid-auto-rows: minmax(100vh, auto);
}

.research-landing-grid {
	position: relative;
	display: grid;
	grid-template-areas: "title"
						 "subtitle";
	grid-template-columns: 1fr;
	justify-content: start;
	overflow: hidden;
	width: 100%;
	padding-left: 4.167%;
	@media screen and (min-width: 600px) {
		padding: 0 8.33%;
	}
}

// 'big-' -> attr selector on '__title'
.research-landing__big-title {
	grid-area: title;
	align-self: end;
	position: relative;
	display: grid;
	align-items: end;
	justify-content: start;	
}

.research-title__text {
	position: relative;
	margin-top: 1em;
	font-family: "Oswald", sans-serif;
	font-size: 4rem;
	font-weight: 600;
	text-transform: uppercase;
	line-height: .9;
	&::after {
		content: '';
		position: absolute;
		bottom: -4px;
		left: 0;
		display: block;
		height: 4px;
		width: 100vw;
		background-color: cyan;
	}
	@media screen and (min-width: 600px) {
		font-size: 5rem;
	}
	@media screen and (min-width: 900px) {
		font-size: 6rem;
	}
	@media screen and (min-width: 1024px) {
		font-size: 7rem;
	}
}

.research-landing__description {
	grid-area: subtitle;
	align-self: start;
	position: relative;
	margin-top: 1.5em;
	padding-bottom: 1em;
	font-size: 1rem;
	@media screen and (min-width: 600px) {
		font-size: 1.5rem;
	}
	@media screen and (min-width: 768px) {
		font-size: 1.75rem;
	}
	@media screen and (min-width: 1024px) {
		font-size: 2rem;
	}
}

/* Main Content: */

.research-main-content {
	position: relative;
	padding: 1em 4.167%;
	background-color: rgba(0,0,0,.9);
	color: white;
	@media screen and (min-width: 600px) {
	//	padding: 1em 8.33%;
	}
}

/* Galleries: */

[class*="big-title"][class*="research"] {
	position: relative;
	margin-top: 1em;
	margin-bottom: .5em;
	font-size: 2rem;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 1;
}

[class*="__subtitle"][class*="research"] {
	font-family: "Oswald", sans-serif;
}

/* 1. Internal: */

.research-items__internal {

}

.research-internal__big-title {

}

.research-internal__subtitle {

}

/* 2. Collaborative: */

.research-items__collab {

}

.research-collab__big-title {

}

.research-collab__subtitle {

}

/* Grid for items: */

.research-items-wrapper {
	position: relative;
	display: grid;
//	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-columns: repeat(7, 1fr);
	margin-top: 1rem;
}

/* Items: */

.research__item {
	grid-column-end: span 2;
	grid-row-end: span 2;
	position: relative;
	margin: 1rem;
	background-color: white;
	a {
		text-decoration: none;
		position: relative;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(4, 1fr);
		height: 100%;
	//	&:hover, &:focus {
	//		img {
	//			-webkit-filter: grayscale(100%) blur(2px);
	//			filter: grayscale(100%) blur(2px);
	//		}
	//	}
	}
	// workaround on nth-of-type rules
	&:nth-of-type(4n) {
		.research-item__img {
			&::before {
				background-color: hsla(186,80%,50%,.7);
			}
		}
	}
	&:nth-child(1) {
		grid-column-start: 1;
		grid-row-start: 1;
	}

	&:nth-child(2) {
		grid-column-start: 4;
		grid-row-start: 1;
	}

	&:nth-child(3) {
		grid-column-start: 6;
		grid-row-start: 2;
	}

	&:nth-child(4) {
		grid-column-start: 4;
		grid-row-start: 3;
	}

	&:nth-child(5) {
		grid-column-start: 3;
		grid-row-start: 5;
	}

	&:nth-child(6) {
		grid-column-start: 6;
		grid-row-start: 7;
	}

	&:nth-child(7) {
		grid-column-start: 1;
		grid-row-start: 8;
	}

	&:nth-child(8) {
		grid-column-start: 4;
		grid-row-start: 8;
	}

	&:nth-child(9) {
		grid-column-start: 2;
		grid-row-start: 11;
	}

	&:nth-child(10) {
		grid-column-start: 4;
		grid-row-start: 11;
	}

	&:nth-child(11) {
		grid-column-start: 5;
		grid-row-start: 13;
	}

	&:nth-child(12) {
		grid-column-start: 1;
		grid-row-start: 14;
	}

	&:nth-child(13) {
		grid-column-start: 4;
		grid-row-start: 16;
	}
}

.research-item__img {
	grid-row: 1 / -1;
	grid-column: 1 / -1;
	position: relative;
	overflow: hidden;
//	z-index: -1;
	img {
		display: none;
		position: absolute;
		max-height: 100%;
		-webkit-filter: grayscale(100%) blur(2px);
		filter: grayscale(100%) blur(2px);
	//	-webkit-transition: filter .3s;
	//	transition: filter .3s;
	}
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		height: 100%;
		width: 100%;
		z-index: 1;
		background-color: hsla(300,100%,40%,.7);
	}
}

.research-item__title, .research-item__year {
	grid-column: 1 / -1;
	margin-top: .5em;
	padding: 0 1em;
	font-family: "Oswald", sans-serif;
	font-weight: 600;
	font-size: 2rem;
	text-transform: uppercase;
	line-height: 1;
	color: black;
	z-index: 1;
}

.research-item__title {
	grid-row: 2;
	align-self: end;
}

.research-item__year {
	grid-row: 3;
	align-self: start;
	margin-top: .25rem;
	color: rgba(0,0,0,.7);
}