/* Research Project Page */

/* Landing: */

.research-landing-wrapper {
	position: relative;
	display: grid; // 1 item: landing
	grid-auto-rows: minmax(100vh, auto);
	background-color: black;
}

.research-landing-grid {
	position: relative;
	display: grid;
	grid-template-areas: "lines1 ...."
						 "title title"
						 "lines2 ....";
	grid-template-columns: 1fr 1fr;
	justify-content: start;
	align-items: center;
	overflow: hidden;
	width: 100%;
	padding: 0 4.167%;
	@media screen and (min-width: 768px) {
		grid-template-areas: "title title lines1"
							 ".... lines2 .....";
		grid-template-columns: 2fr 4fr 4fr;
	}
	@media screen and (min-width: 1200px) {
		padding: 0;
	}
}

// 'big-' -> attr selector on '__title'
.research-landing__page-title {
	grid-area: title;
	position: relative;
	display: grid; // 1 item: title
	justify-content: start;
	&::after {
		content: '';
		position: absolute;
		bottom: 0; // -4px;
		left: 0;
		display: block;
		height: 4px;
		width: 100vw;
		background-color: rgba(255,255,255,.9);
	}
	@media screen and (min-width: 768px) {
		align-self: end;
		align-items: end;
		justify-content: end;
	//	padding-right: 20px;
		margin-right: 20px;
		&::after {
			width: 100%;
		}
	}
	@media screen and (min-width: 1200px) {
		&::after {
		//	left: -16px;
		}
	}
}

.research-title__text {
	position: relative;
	padding-bottom: 20px;
	font-family: "Oswald", sans-serif;
	font-size: 4rem;
	font-weight: 600;
	text-transform: uppercase;
	line-height: .9;
	color: white;
	z-index: 1;
	@media screen and (min-width: 600px) {
		font-size: 5rem;
	}
	@media screen and (min-width: 768px) {
		justify-self: end;
		width: 100%;
		font-size: 5.5rem;
		text-align: right;
	}
	@media screen and (min-width: 900px) {
		font-size: 6rem;
	}
	@media screen and (min-width: 1024px) {
		font-size: 7rem;
	}
}

.research-landing__lines1 {
	grid-area: lines1;
	align-self: end;
	div {
		align-self: start;
		background-color: rgba(255,255,255,.5); // magenta;
		&:nth-of-type(1) {
			width: calc(100% * 2 / 256);
		}
		&:nth-of-type(2) {
			width: calc(100% * 4 / 256);
		}
		&:nth-of-type(3) {
			width: calc(100% * 8 / 256);
		}
		&:nth-of-type(4) {
			width: calc(100% * 16 / 256);
		}
		&:nth-of-type(5) {
			width: calc(100% * 32 / 256);
		}
		&:nth-of-type(6) {
			width: calc(100% * 48 / 256);
		}
		&:nth-of-type(7) {
			width: calc(100% * 64 / 256);
		}
		&:nth-of-type(8) {
			width: calc(100% * 128 / 256);
		}
		&:nth-of-type(9) {
			width: 100%;
		}
	}
}

.research-landing__lines2 {
	grid-area: lines2;
	align-self: start;
	div {
		justify-self: end;
		align-self: end;
		background-color: rgba(255,255,255,.9); // hsla(186, 80%, 70%, 1);
		&:nth-of-type(9) {
			width: calc(100% * 2 / 256);
		}
		&:nth-of-type(8) {
			width: calc(100% * 4 / 256);
		}
		&:nth-of-type(7) {
			width: calc(100% * 8 / 256);
		}
		&:nth-of-type(6) {
			width: calc(100% * 16 / 256);
		}
		&:nth-of-type(5) {
			width: calc(100% * 32 / 256);
		}
		&:nth-of-type(4) {
			width: calc(100% * 48 / 256);
		}
		&:nth-of-type(3) {
			width: calc(100% * 64 / 256);
		}
		&:nth-of-type(2) {
			width: calc(100% * 128 / 256);
		}
		&:nth-of-type(1) {
			width: 75%;
		}
	}
	@media screen and (min-width: 768px) {
		padding-right: 20px;
	}
}

[class*="research-landing__lines"] {
	position: relative;
	display: grid;
	grid-auto-rows: 20px;
	width: 100%;
	div {
		width: 100%;
		height: 4px;
	}
	@media screen and (max-width: 767px) {
		justify-self: end;
		width: 75%;
	}
}

// NB: text is in <p> -> margin: 1em 0;
.research__description {
	padding: 1em 0;
	font-size: 1rem;
	font-weight: 200;
	background-image: linear-gradient(to bottom, black, $navgray);
	@media screen and (min-width: 600px) {
		font-size: 1.5rem;
	}
}

.research-description__title {
	color: rgba(255,255,255,.9) !important;
}

.research-description__text {
	position: relative;
	padding: 0 2em;
	margin: 0 4.167%;
	font-family: "base-mono-narrow", monospace;
	color: rgba(255,255,255,.9);
	border: 1px solid rgba(255,255,255,.9);
	&::before {
		content: '';
		position: absolute;
		right: 33%;
		top: 0;
		display: block;
		height: 3em;
		width: 1.5em;
		border-right: 1px solid white;
		border-left: 1px solid white;
		transform: translate(50%, -50%) skew(-45deg, 0);
	}
	p {
		margin: 0;
		padding-bottom: 1em;
		&:first-of-type {
			padding-top: 2em;
		}
		a {
			text-decoration: none;
			color: inherit;
			border-bottom: 2px solid hsla(186,80%,70%,1);
			background-color: transparent;
			-webkit-transition: background-color .3s;
			transition: background-color .3s;
			&:hover, &:focus {
				background-color: hsla(186,80%,70%,1);
			}
		}
	}
}

/* Gallery: */

.research-portfolio-wrapper {
	position: relative;
	width: 100%;
}

// bg color set here
.research-folio__background--black {
	background-color: $navgray;
	padding: 1rem 0;
	@media screen and (min-width: 1024px) {
		padding: 3rem; // 4.167%;
	}
}

.research-folio__background--color {
	position: relative;
}

/* Menu Links: */

.research-folio__context {
	position: absolute;
	right: 0;
	top: 0;
	display: none; /* hide during prototype */
	color: white;
	border: 1px solid blue;
	transform: translate(100%, 100%) rotate(90deg);
	transform-origin: bottom left;
	z-index: 1;
	a {
		text-decoration: none;
		color: white;
	}
}

/* Nav & Buttons: */

.research-folio__nav {
	position: absolute;
	bottom: 50%;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3.5rem;
	width: 100%;
	padding: 0;
	z-index: 10;
	@media screen and (min-width: 500px) {
		bottom: 0;
		padding: 0 24px; // magic # w/ buttons
		color: black;
	}
}

[class*="research-nav__btn--"] {
	padding: 0 .375em;
	font-size: 2rem;
	font-family: "base-mono-wide", sans-serif;
	font-weight: 900;
	color: black;
	transform: translate(0, -1px);
	cursor: pointer;
	-webkit-transition: transform .2s;
	transition: transform .2s;
	&:hover {
		transform: translate(0, 2px);
	}
	@media screen and (max-width: 499px) {
		color: white;
		text-shadow: 0 0 2px rgba(0,0,0,.5);
	}
	@media screen and (min-width: 500px) {
		padding: 0 .5em;
	}
}

.research-nav__btn--left {

}

.research-nav__btn--right {

}

/* Progress Bar: */

.research-nav__tracker {
	position: relative;
	display: none;
	justify-content: center;
	align-items: center;
	font-family: "base-mono-wide", monospace;
	font-weight: 700;
	span {
		display: inline-block;
		&:first-of-type {
			padding-right: 2rem;
		}
		&:last-of-type {
			padding-left: 2rem;
		}
	}
	@media screen and (max-width: 499px) {
		display: flex;
		width: 272px;
		transform: translate(0, 50vh);
	}
	@media screen and (min-width: 768px) {
		display: flex;
		width: 66.67%;
	}
	@media screen and (min-width: 1024px) {
		width: 50%;
	}
}

.research-tracker__progress {
	height: 4px;
	width: 33.33%; // set w/ JS
	background-color: black;
}

.research-tracker__remaining {
	height: 4px;
	width: 66.67%; // set w/ JS
	background-color: white;
	background-image: repeating-linear-gradient(-45deg, white, white 2px, black 2px, black 4px, white 4px);
	opacity: .8;
}

// NB: snap polyfill -> https://css-tricks.com/introducing-css-scroll-snap-points/

/* Gallery container: */

.research-folio__gallery-wrapper {
	position: relative;
	height: 100vh;
	width: 300px;
	margin: 0 auto;
	border-right: 1px solid black;
	overflow: hidden;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		height: 100%;
		width: 35px;
		background-image: linear-gradient(to left, rgba(0,0,0,.4) 0%, rgba(0,0,0,.19) 5px, rgba(0,0,0,0) 80%);
	}
	@media screen and (min-width: 500px) {
		height: calc(100vh - 2rem);
		width: 100%;
	}
	@media screen and (min-width: 1024px) {
		height: calc(100vh - 3rem);
	}
}

/* Item track: */

// NB: item width set here
.research-folio__gallery {
	display: grid;
	grid-template-columns: repeat(22, 300px);
	justify-content: start;
	height: 100%;
	background-color: white;
	-webkit-transition: transform .5s;
	transition: transform .5s;
	@media screen and (min-width: 500px) {
		grid-template-columns: repeat(22, 240px);
	}
}

/* Gallery Items: */

.research-gallery__item {
	position: relative;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	padding-top: calc(3 * 1.5rem);
	border-left: 1px solid rgba(0,0,0,.5);
	&::before {
		content: '';
		position: absolute;
		left: -1px;
		top: 0;
		display: block;
		height: 0%;
		width: 1px;
		background-color: black;
		opacity: .9;
		-webkit-transition: height .5s;
		transition: height .5s;
	}
	// wraps info:
	a {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: start;
		width: 100%;
		padding: 0 24px;
		text-decoration: none;
		color: black;
		div {
			line-height: 1;
		}
	}
	@media screen and (min-width: 500px) {
		&:hover, &:focus {
			&::before {
				height: 100%;
			}
			a {
				transition: transform .3s;
				.research-item__num {
					-webkit-transform: translate(0, .375em);
					transform: translate(0, .375em);
				}
				.research-item__name {
					&::before {
						opacity: .9;
					}
				}
				.research-item__pic {
					div {
						img {
							-webkit-transform: scale(1.1);
							transform: scale(1.1);
						}
					}
				}
			}
		}
	}
	@media screen and (min-width: 500px) and (max-height: 560px) {
		padding-bottom: 3rem; // eliminate overlap w/ prog bar at edge case size
	}
}

/* Item Number: */

.research-item__num {
	position: relative;
	font-family: "base-mono-wide", monospace;
	font-size: 1.5rem;
	font-weight: 700;
	color: black;
	@media screen and (min-width: 500px) {
		transition: transform .3s;
	}
}

/* Item Title: */

.research-item__name {
	position: relative;
	min-height: 5em;
	padding: 1em 0;
	font-size: 1.5rem;
	color: rgba(0,0,0,.5);
	&::before {
		content: '';
		position: absolute;
		top: calc((1.5rem * .75) - 2px);
		left: 0;
		display: block;
		width: 30px;
		height: 1px;
		background-color: black;
		opacity: .5;
		transition: opacity .3s;
	}
}

/* Image: */

.research-item__pic {
	position: relative;
	width: 100%;
	height: 250px;
	border-radius: 50%;
	box-shadow: 0 0 1px 0 rgba(0,0,0,.3);
	div {
		position: absolute;
		height: 100%;
		width: 100%;
		overflow: hidden;
		border-radius: 50%;
		img {
			max-height: 100%;
			transition: transform .3s;
		}
	}
	@media screen and (min-width: 500px) {
		height: 192px;
	}
}

/* Year: */

.research-item__yr {
	position: relative;
	margin-top: 1em;
	font-family: "base-mono-narrow", monospace;
	font-weight: 200;
	color: rgba(0,0,0,.5);
}