/* Research Project: */

// nb: identifier = 'project' to avoid conflict w/ research page

/* Layout */

.project-content-wrapper {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "pic"
						 "title"
						 "meta"
						 "text";
	width: 100%;
	min-height: 100vh;
	padding: 0 4.167%;
	padding-top: 3rem;
	margin-top: -60px; // no header
	&::after {
		content: '';
		position: fixed;
		top: calc(100vh - 48px);
		right: 0;
		display: block;
		height: 48px;
		width: 100%;
//		background-color: black;
		z-index: 1;
	}
	@media screen and (min-width: 600px) {
		padding: 0 8.33%;
		padding-top: 5rem;
	@media screen and (min-width: 768px) {
		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			display: block;
			height: 100%;
			width: 48px;
//			background-color: black;
		}
	}
	@media screen and (min-width: 1024px) {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "title pic"
							 "meta text";
	}
}

/* Title */

.project-content__title {
	position: relative;
	grid-area: title;
	justify-self: start;
	align-self: start;
	display: inline-block;
	font-size: 3rem;
	font-weight: 900;
	line-height: 1;
	z-index: 1;
	span {
		color: rgba(20,20,20,1);
	}
	
	@media screen and (min-width: 600px) {
		font-size: 4rem;
	}
	@media screen and (min-width: 768px) {
		font-size: 4.5rem; // 18px * 4
	}
	@media screen and (min-width: 900px) {

	}
	@media screen and (min-width: 1024px) {

	}
}

/* Image */

.project-content__img {
	position: relative;
	grid-area: pic;
	img {
		max-width: 100%;
	}
}

/* Title */

.project-content__title {
	position: relative;
	grid-area: title;
	@media screen and (min-width: 768px) {
		font-size: 4.5rem; // 18px * 4
	}
/* Metadata */

.project-content__metadata {
	position: relative;
	grid-area: meta;
}

.project-content__year, .project-content__category {
	position: relative;
	padding-top: .5em;
	font-size: 1.5rem;
	font-family: "base-mono-wide", monospace;
	line-height: 1;
	text-transform: uppercase;
}

.project-content__year {

}

.project-content__category {

}

/* Text */

.project-content__text {
	grid-area: text;
	position: relative;
	p {
		margin: 0;
		padding: 1em 0;
		line-height: 2;
		a {
			text-decoration: none;
			color: black;
			font-weight: 700;
			border-bottom: 2px solid hsla(51, 9%, 61%, 1);
			-moz-transition: background-color .3s;
			-webkit-transition: background-color .3s;
			transition: background-color .3s;
			&:hover, &:focus {
				background-color: hsla(51, 9%, 61%, 1);
			}
		}
	}
	@media screen and (min-width: 768px) {
		p {
			font-size: 18px;
		}
	}
}