/* Research Project Page */

/* Landing: */

.research-landing-wrapper {
	position: relative;
	display: grid; // 1 item: landing
	grid-auto-rows: minmax(100vh, auto);
	background-color: black;
	background-image: linear-gradient(to bottom, black, black 100vh, white 100vh, white);
}

.research-landing-grid {
	position: relative;
	display: grid;
	grid-template-areas: "lines1 ...."
						 "title title"
						 "lines2 ....";
	grid-template-columns: 1fr 1fr;
	justify-content: start;
	align-items: center;
	overflow: hidden;
	width: 100%;
	padding: 0 4.167%;
	@media screen and (min-width: 768px) {
		grid-template-areas: "title title lines1"
							 ".... lines2 .....";
		grid-template-columns: 2fr 4fr 4fr;
	}
	@media screen and (min-width: 1200px) {
		padding: 0;
	}
}

// 'big-' -> attr selector on '__title'
.research-landing__page-title {
	grid-area: title;
	position: relative;
	display: grid; // 1 item: title
	justify-content: start;
	&::after {
		content: '';
		position: absolute;
		bottom: 0; // -4px;
		left: 0;
		display: block;
		height: 4px;
		width: 100vw;
		background-color: rgba(255,255,255,.9); // hsla(186,80%,70%, 1); // magenta;
//		background-image: linear-gradient(to right, magenta 0%, magenta 4.167%, black 4.167%, black 8.33%, magenta 8.33%, magenta 12.5%, black 12.5%, black 16.67%, magenta 16.67%, magenta 25%, black 25%, black 27.5%, magenta 27.5%, magenta 33.33%, black 33.33%, black 41.33%, magenta 41.33%, magenta 100%);
	}
	@media screen and (min-width: 768px) {
		align-self: end;
		align-items: end;
		justify-content: end;
	//	padding-right: 20px;
		margin-right: 20px;
		&::after {
			width: 100%;
		}
	}
	@media screen and (min-width: 1200px) {
		&::after {
		//	left: -16px;
		}
	}
}

.research-title__text {
	position: relative;
	padding-bottom: 20px;
	font-family: "Oswald", sans-serif;
	font-size: 4rem;
	font-weight: 600;
	text-transform: uppercase;
	line-height: .9;
	color: white;
	z-index: 1;
	@media screen and (min-width: 600px) {
		font-size: 5rem;
	}
	@media screen and (min-width: 768px) {
		justify-self: end;
		width: 100%;
		font-size: 5.5rem;
		text-align: right;
	}
	@media screen and (min-width: 900px) {
		font-size: 6rem;
	}
	@media screen and (min-width: 1024px) {
		font-size: 7rem;
	}
}

.research-landing__lines1 {
	grid-area: lines1;
	align-self: end;
	div {
		align-self: start;
		background-color: rgba(255,255,255,.5); // magenta;
		&:nth-of-type(1) {
			width: calc(100% * 2 / 256);
		}
		&:nth-of-type(2) {
			width: calc(100% * 4 / 256);
		}
		&:nth-of-type(3) {
			width: calc(100% * 8 / 256);
		}
		&:nth-of-type(4) {
			width: calc(100% * 16 / 256);
		}
		&:nth-of-type(5) {
			width: calc(100% * 32 / 256);
		}
		&:nth-of-type(6) {
			width: calc(100% * 48 / 256);
		}
		&:nth-of-type(7) {
			width: calc(100% * 64 / 256);
		}
		&:nth-of-type(8) {
			width: calc(100% * 128 / 256);
		}
		&:nth-of-type(9) {
			width: 100%;
		}
	}
}

.research-landing__lines2 {
	grid-area: lines2;
	align-self: start;
	div {
		justify-self: end;
		align-self: end;
		background-color: rgba(255,255,255,.9); // hsla(186, 80%, 70%, 1);
		&:nth-of-type(9) {
			width: calc(100% * 2 / 256);
		}
		&:nth-of-type(8) {
			width: calc(100% * 4 / 256);
		}
		&:nth-of-type(7) {
			width: calc(100% * 8 / 256);
		}
		&:nth-of-type(6) {
			width: calc(100% * 16 / 256);
		}
		&:nth-of-type(5) {
			width: calc(100% * 32 / 256);
		}
		&:nth-of-type(4) {
			width: calc(100% * 48 / 256);
		}
		&:nth-of-type(3) {
			width: calc(100% * 64 / 256);
		}
		&:nth-of-type(2) {
			width: calc(100% * 128 / 256);
		}
		&:nth-of-type(1) {
			width: 75%;
		}
	}
	@media screen and (min-width: 768px) {
		padding-right: 20px;
	}
}

[class*="research-landing__lines"] {
	position: relative;
	display: grid;
	grid-auto-rows: 20px;
	width: 100%;
	div {
		width: 100%;
		height: 4px;
	}
	@media screen and (max-width: 767px) {
		justify-self: end;
		width: 75%;
	}
}

// NB: text is in <p> -> margin: 1em 0;
.research__description {
	padding: 1em 0;
	font-size: 1rem;
	font-weight: 200;
	background-image: linear-gradient(to bottom, black, rgba(0,0,0,.85));
	@media screen and (min-width: 600px) {
		font-size: 1.5rem;
	}
	@media screen and (min-width: 768px) {
		font-size: 1.75rem;
		line-height: 1.714; // 3rem
	}
	@media screen and (min-width: 1024px) {
	//	padding: 0 8.33%;
	//	font-size: 2rem;
	}
}

.research-description__title {
	color: rgba(255,255,255,.9) !important;
}

.research-description__text {
	position: relative;
	padding: 0 2em;
	margin: 0 4.167%;
	font-family: "base-mono-narrow", monospace;
	color: rgba(255,255,255,.9);
	border: 2px solid rgba(255,255,255,.9);
	&::before {
		content: '';
		position: absolute;
		right: 33%;
		top: 0;
		display: block;
		height: 3em;
		width: 1.5em;
		border-right: 2px solid white;
		border-left: 2px solid white;
		transform: translate(50%, -50%) skew(-45deg, 0);
	}
	p {
		margin: 0;
		padding-bottom: 1em;
		&:first-of-type {
			padding-top: 2em;
		}
	}
}

// end description

/* ######################### Portfolio: ################### */

.research-portfolio-wrapper {
	position: relative;
	width: 100%;
}

.research-folio__background--black {
	background-color: rgba(0,0,0,.85);
	padding: 1rem 0;
	@media screen and (min-width: 1024px) {
		padding: 3rem; // 4.167%;
	}

}

.research-folio__background--color {
	position: relative;
}

.research-folio__context {
	position: absolute;
	border: 1px solid blue;

}

/* Floating Navigation: */

.research-folio__nav {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3.5rem;
	width: 100%;
	padding: 0 24px; // magic # w/ buttons
	color: black;
	z-index: 10;
}

/* Buttons: */

[class*="research-nav__btn--"] {
	padding: 0 .5em;
	font-size: 2rem;
	font-family: "base-mono-wide", sans-serif;
	font-weight: 900;
	transform: translate(0, -1px);
	cursor: pointer;
	-webkit-transition: transform .2s;
	transition: transform .2s;
	&:hover {
		transform: translate(0, 2px);
	}
}

.research-nav__btn--left {

}

.research-nav__btn--right {

}

/* Progress Tracker: */

.research-nav__tracker {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	font-family: "base-mono-wide", monospace;
	font-weight: 700;
	span {
		display: inline-block;
		&:first-of-type {
			padding-right: 2rem;
		}
		&:last-of-type {
			padding-left: 2rem;
		}
	}
}

.research-tracker__progress {
	height: 4px;
	width: 33.33%; // set w/ JS
	background-color: black;
}

.research-tracker__remaining {
	height: 4px;
	width: 66.67%; // set w/ JS
//	set a polyfill color
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 2px, black 2px, black 4px, transparent 4px);
	opacity: .8;
}

// NB: snap polyfill -> https://css-tricks.com/introducing-css-scroll-snap-points/

/* Gallery container: */

.research-folio__gallery-wrapper {
	position: relative;
	height: calc(100vh - 2rem);
	width: calc(100% - 2rem);
	margin: 0 auto;
	border-right: 1px solid black;
	overflow: hidden;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		height: 100%;
		width: 35px;
		background-image: linear-gradient(to left, rgba(0,0,0,.4) 0%, rgba(0,0,0,.19) 5px, rgba(0,0,0,0) 80%);
	}
	@media screen and (min-width: 768px) {
		width: calc(100% - 72px);
	}
	@media screen and (min-width: 900px) {
		width: 100%;
		height: calc(100vh - 4.5rem);
	}
}

/* Item track: */

// #! item width set here
.research-folio__gallery {
	display: grid;
	grid-template-columns: repeat(22, minmax(240px, 25vw));
	justify-content: start;
	height: 100%;
	background-color: white;
	-webkit-transition: transform .5s;
	transition: transform .5s;
}

/* Items: */

.research-gallery__item {
	position: relative;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding-bottom: 3rem; // progress bar
	border-left: 1px solid rgba(0,0,0,.3);;
	// wraps all content:
	a {
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: start;
		width: 83.33%;
		text-decoration: none;
		color: black;
		transition: transform .3s;
		&:hover, &:focus {
			.research-item__num {
				-webkit-transform: translate(0, .25em);
				transform: translate(0, .25em);
			}
			.research-item__pic {
				div {
					img {
						-webkit-transform: scale(1.1);
						transform: scale(1.1);
					}
				}
				
			}
		}
		div {
			line-height: 1;
		}
	}
}

/* Number: */

.research-item__num {
	position: relative;
	font-family: "base-mono-wide", monospace;
	font-size: 1.5rem;
	font-weight: 700;
	color: black;
	transition: transform .3s;
}

/* Title: */

.research-item__name {
	position: relative;
	min-height: 5.5em;
	padding: 1em 0 .5em 0;
	font-size: 1.5rem;
	color: rgba(0,0,0,.5);
}

/* Image: */

.research-item__pic {
	position: relative;
	width: 100%;
	height: 200px;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, .05);
/*	&::before {
		content: '';
		position: absolute;
		top: 4px;
		left: 4px;
		display: block;
		height: 100%;
		width: 100%;
		background-image: repeating-linear-gradient(-45deg, transparent, transparent 2px, black 2px, black 4px, transparent 4px);
	//	opacity: .5;
	} */
	div {
		position: absolute;
		height: 100%;
		width: 100%;
		overflow: hidden;
		img {
			max-width: 100%;
			transition: transform .3s;
		}
	}
}

/* Year: */

.research-item__yr {
	position: relative;
	margin-top: 1.5em;
	font-family: "base-mono-narrow", monospace;
	font-weight: 200;
	color: rgba(0,0,0,.5);
}

/* ###### old version starts here ########### */

/* Main Content: */

.research-main-content {
	position: relative;
	display: none; // hiding old version
//	padding: 1em 4.167%;
	background-color: rgba(0,0,0,.9);
	color: white;
	@media screen and (min-width: 600px) {
	//	padding: 1em 8.33%;
	}
}

/* Galleries: */

[class*="big-title"][class*="research"] {
	position: relative;
	margin-top: 1em;
	margin-bottom: .5em;
	font-size: 2rem;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 1;
}

[class*="__subtitle"][class*="research"] {
	font-family: "Oswald", sans-serif;
}

/* 1. Internal: */

.research-items__internal, .research-items__collab {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "title"
						 "subtitle"
						 "gallery";
	padding: 100px 0;
	@media screen and (min-width: 1200px) {
		grid-template-columns: 9fr 2fr;
		grid-template-areas: "gallery title"
							 "gallery subtitle";
	}
}

.research-internal__big-title, .research-collab__big-title {
	grid-area: title;
}

.research-internal__subtitle, .research-collab__subtitle {
	grid-area: subtitle;
}

/* 2. Collaborative: */

.research-items__collab {

}

.research-collab__big-title {
	word-break: break-all;
}

.research-collab__subtitle {

}

/* Grid for items: */

.research-items-wrapper {
	grid-area: gallery;
	position: relative;
	-moz-columns: 300px;
	-webkit-columns: 300px;
	columns: 300px;
	column-count: 1;
	
	@media screen and (min-width: 400px) {
		column-count: auto;
	}
	@media screen and (min-width: 1200px) {
		column-count: 2;
		column-width: 500px; //400px;
		div.research__item {
			&:nth-of-type(1) {
				margin-top: 100px;
			}
		}
	}
}

/* Items: */

.research__item {
	position: relative;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
	position: relative;
	max-width: 500px;
//	max-height: 300px;
//	padding: 1em;
//	padding-right: .75em;
//	padding-left: 1.25em;
	margin-bottom: 100px;
	margin-right: 100px;
	background-color: white;
	a {
		text-decoration: none;
		position: relative;
		display: grid; // children = image, title, year
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr 1fr 4rem auto;
		height: 100%;
		&:hover, &:focus {
			div.research-item__title {
//				color: magenta;
			}	
		}
	}
	@media screen and (min-width: 1200px) {
//		height: 300px;
		max-width: 32vw;
		a {
			grid-template-rows: repeat(4, 1fr);
		}
	}
}

.research-item__img {
	grid-row: 1 / span 4; // grid = <a>
	grid-column: 1 / span 4;
	position: relative;
	overflow: hidden;
	img {
		position: absolute;
	//	height: 300px;
	//	max-width: 100%;
	//	top: 0;
	//	left: 0;
		max-height: 100%;
	//	-webkit-filter: grayscale(100%) blur(0px);
	//	filter: grayscale(100%) blur(0px);
	//	-webkit-transition: filter .3s;
	//	transition: filter .3s;
	}
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		height: 100%;
		width: 100%;
		z-index: 1;
		background-color: rgba(0,0,0,.5); // hsla(300,100%,40%,.7);
	}
}

.research-item__title, .research-item__year {
	grid-column: 1 / -1;
	margin-top: .5em;
	padding: 0 1em;
	font-family: "Oswald", sans-serif;
	font-weight: 600;
	font-size: 2rem;
	text-transform: uppercase;
	line-height: 1.25;
	color: white;
	z-index: 1;
	
}

.research-item__title {
	grid-row: 1 / span 2;
	align-self: end;
	webkit-transition: color .5s;
	transition: color .5s;
	span {
		background-color: rgba(0,0,0,.7);
	}
	@media screen and (min-width: 1200px) {
		grid-row: 2;
	}
	
}

.research-item__year {
//	display: none;
	grid-row: 3 / span 2;
	align-self: start;
	margin-top: .25rem;
//	opacity: .5;
	color: rgba(255,255,255,.5);
	@media screen and (min-width: 1200px) {
		grid-row: 3;
	}
}