/* Research Project: */

// nb: identifier = 'project' to avoid conflict w/ research page

/* Layout */

.project-content-wrapper {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto auto;
	grid-template-areas: "year title"
						 "cat title"
						 "pic title"
						 "text text";
	align-items: start;
	width: 100%;
	min-height: 100vh;
	padding: 3rem;
	margin-top: -60px; // no header
}

/* Image */

.project-content__img {
	position: relative;
	grid-area: pic;
//	grid-column: 1 / span 3;
//	grid-row: 1 / span 2;
	width: 100%;
	height: 100%;
//	border: 1px solid rgba(0,0,0,.5);
	img {
		max-width: 100%;
		box-shadow: 10px 20px 40px 0px rgba(0,0,0,.3);
	}
}

/* Title */

.project-content__title {
	position: relative;
	grid-area: title;
//	grid-column: 2 / span 4;
//	grid-row: 1 / span 1;
	@media screen and (min-width: 768px) {
		font-size: 4.5rem; // 18px * 4
	}
/* Metadata */

.project-content__metadata {
	position: relative;
	grid-area: meta;
}

.project-content__year, .project-content__category {
	position: relative;
//	grid-column: 1 / span 3;
//	grid-row: 3 / span 1;
	padding-top: .5em;
	font-size: 1.5rem;
	font-family: "base-mono-wide", monospace;
	line-height: 1;
	text-transform: uppercase;
}

.project-content__year {
	grid-area: year;
//	color: rgba(0,0,0,.5);
}

.project-content__category {
	grid-area: cat;
	position: relative;
//	grid-column: 1 / span 3;
//	grid-row: 4 / span 1;
}

/* Text */

.project-content__text {
	grid-area: text;
	position: relative;
//	grid-column: 4 / span 2;
//	grid-row: 2 / span 4;
	align-self: end;
	p {
		margin: 0;
		padding: 1em 0;
		line-height: 2;
		a {
			text-decoration: none;
			color: black;
			font-weight: 700;
			border-bottom: 2px solid hsla(51, 9%, 61%, 1);
			-moz-transition: background-color .3s;
			-webkit-transition: background-color .3s;
			transition: background-color .3s;
			&:hover, &:focus {
				background-color: hsla(51, 9%, 61%, 1);
			}
		}
	}
	@media screen and (min-width: 768px) {
		p {
			font-size: 18px;
		}
	}
}