/* Universal Styles: */

// section titles
[class*="__title"][class*="spatial-"],
[class*="__title"][class*="research-"] {
	margin-bottom: .5em;
	margin-top: 1em;
	font-family: "Raleway", sans-serif;
	font-size: 1.75rem;
	font-weight: 900;
	line-height: 1;
	text-transform: uppercase;
	@media screen and (min-width: 600px) {
		font-size: 2rem;
	}
}

// in-text links on pages specified below
[class*="home-"],
[class*="maker-"],
[class*="post-"],
[class*="person-"],
[class*="spatial-"] {
	a {
		font-family: "Raleway", sans-serif;
		font-weight: 700;
		text-decoration: none;
		color: $textgray;
		border-bottom: 2px solid hsla(186,80%,70%,1);
		background-color: transparent;
		-webkit-transition: background-color .3s;
		transition: background-color .3s;
		&:hover, &:focus {
			background-color: hsla(186,80%,70%,1);
		}
	}
}

// in-text links v2.0
[class*="post-"],
[class*="person-"] {
	a {
		border-bottom: 2px solid hsla(186,80%,70%,1) !important;
		&:hover, &:focus {
			background-color: hsla(186,80%,70%,1) !important;
		}
	}
}

// call-to-action buttons, all pages
[class*="__cta"] {
	position: relative;
	margin-top: 1em;
	a {
		display: inline-block;
		padding: .25rem .5em;
		margin-top: 4px;
		font-size: 1rem;
		font-family: "base-mono-wide", monospace !important;
		font-weight: 700;
		line-height: 1;
		text-decoration: none;
		text-transform: uppercase;
		color: hsla(186,80%,70%,1);
		border: 2px solid hsla(186,80%,70%,1);
		&:hover, &:focus {
			background-color: transparent !important;
		}
	}
	@media screen and (max-width: 767px) {
		a {
			width: 100% !important;
			text-align: center;
		}
	}
	@media screen and (min-width: 768px) {
		a {
			margin: 0 !important;
			font-size: 1.25rem !important;
		}
	}
	@media screen and (min-width: 1024px) {
		a {
	//		font-size: 1.5rem !important;
		}
	}
}