/**
 * View examples at:
 * 1.) SLab homepage, links to section homepages
 */

/* Example code: */
[class*="__cta"] {
	position: relative;
	margin-top: 1em;
	a {
		display: inline-block;
		padding: .25rem .5em;
		margin-top: 4px;
		font-size: 1.5rem;
	//	font-family: "Inconsolata", monospace;
		font-family: "base-mono-wide", monospace;
		font-weight: 700;
		line-height: 1;
		text-decoration: none;
		text-transform: uppercase;
		color: cyan;
		border: 2px solid cyan;
		&:hover, &:focus {
			background-color: transparent;
		}
	}
}

/* To change color, or if links are universally styled in a conflicting way: */
.home-students__cta {
	a {
		color: rgba(0,47,255,1);
		border: 2px solid rgba(0,47,255,1);
		&:hover, &:focus {
			background-color: transparent;
		}
	}
}

/* Corresponding HTML: */
/*
<div class="home-students__cta"><a href="#">See All</a></div>
*/