---
layout: default
title: Home
---

<section id="updates" class="feature">
    <div id="upcoming-events">
        <h2>Upcoming Events</h2>
        <ul>
{% assign events = site.events | sort: 'start_date' | limit: 4 %}
{% assign today = site.time | date: '%Y%m%d' | plus: 0 %}
{% for event in events %}
{% assign eventdate = event.start_date | date: '%Y%m%d' | plus:0 %}
{% if eventdate >= today %}
            <li>
                <a href="{{ event.url }}">
                <time>
                    <span>{{ event.start_date | date: '%b' }}</span>
                    <span>{{ event.start_date | date: '%d' }}</span>
                </time>: 
                <strong>{{ event.title }}</strong>
                </a>
            </li>
{% endif %}
{% endfor %}
        </ul>
        <p><a href="/events/">See all our events</a>.</p>
    </div>
    <div id="recent-posts">
        <h2>Recent Blog Posts</h2>
        <ul>
			{% for post in site.posts limit:4 %}
				{% if post.category != "update" %}
                {% capture authorstring %}
                {% include author-name.html authorid=post.author %}
                {% endcapture %}
                    <li>
                        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                        <p>{{ authorstring }}</p>
                    </li>
            	{% endif %}
            {% endfor %}
        </ul>
        <p><a href="/blog/">See all our blog posts</a>.</p>
    </div>
    <div id="recent-activity">
        <h2>Recent Activity</h2>
		<ul>
		{% for post in site.categories.update limit:3 %}
			<li>{{ post.content | markdownify}}</li>
		{% endfor %}
		</ul>
    </div>
</section>

<section id="newsletter">
    <p>Learn about events, news, and more in <a
            href="http://eepurl.com/h_riIP">our newsletter</a>!</p>
</section>

<section id="about-us" class="feature">
    <div>
        <h2>About Us</h2>
        <p>The Scholars' Lab is an interdisciplinary research lab for critical,
            creative, and anti-oppressive explorations of the intersections of
            technology and culture. We offer mentoring, collaboration, and
            supportive space for anyone curious about pushing scholarly
            boundaries through creative, computational research practice. While
            much of our work deals with cultural and humanities questions, we
            welcome and routinely collaborate with all disciplines. Our staff
            offer deep expertise in digital humanities, computer and information
            science, spatial technologies, maker, and cultural heritage
            approaches. Our international scholarly leadership lets us connect
            UVA colleagues to the forefront of digital and experimental
            scholarship, collaborators, and opportunities.</p>
            <p><a href="/about">>>> Our Mission</a></p>
    </div>
    <figure>
        <img src="/assets/img/decorative/lab-photos-decorative/homepage-about-us.jpeg" alt="Decorative photo of Scholars' Lab staff and students scanning a cultural heritage artifact">
        <figcaption>

        </figcaption>
    </figure>
</section>
<section id="our-spaces" class="feature">
    <div>
        <h2>Our Work</h2>
        <p>Curious? Please get in touch — absolutely no prior experience or
            fully formed ideas needed! Email us at <a
                href="mailto:scholarslab@virginia.edu">scholarslab@virginia.edu</a>
            with questions, or to schedule a teaching or research consultation.
            Our staff has particular strengths in:
        <ul>
            <li><a href="/critical-DH">the critical digital humanities</a></li>
            <li><a href="/code-design">code & design</a></li>
            <li><a href="/people/ronda-grizzle">collaborative project design & management</a></li>
            <li><a href="/dh-pedagogy">digital pedagogy</a></li>
            <li><a href="/spatial-technologies">GIS/mapping & analysis</a></li>
            <li><a href="/spatial-technologies">cultural heritage informatics</a></li>
            <li><a href="/spatial-technologies">3D laser scanning & photogrammetry</a></li>
            <li><a href="/makerspace">3D printing, making, & electronics</a></li>
            <li><a href="/spatial-technologies">virtual/augmented reality</a></li>
        </ul>
		<a href="/consult">>>> Our Expertise</a>
		</p>
    </div>
    <figure>
        <img src="/assets/img/decorative/lab-photos-decorative/homepage-printmaking.jpg" alt="Decorative photo of several inked linoleum blocks from printmaking in SLab's makersace">
        <figcaption>
            <p>Printmaking in Scholars' Lab's makerspace.</p>
        </figcaption>
    </figure>
</section>

<section class="feature" id="lab-space-and-makerspace">
    <h2>Using the Lab & Makerspace</h2>
    <div>
        <h3>THE LAB</h3>
        <p>The Scholars’ Lab includes staff offices, co-working areas, an event
            space, a VR immersion space, and data processing
            workstations. Appointments are encouraged if you want to meet a
            <a href="/people">particular staff member</a> or 
            <a href="mailto:lam2c@virginia.edu">request access</a> to specific equipment,
            though the lab space itself is open
            <a href="/use-the-lab#slab-hours">whenever Shannon Library is open</a>.</p>
        <p><a href="/visit">>>> Using the Lab & Makerspace</a></p>
    </div>
    <div>
        <h3>THE LAB'S MAKERSPACE</H3>
        <p>Our <a href="/makerspace">Makerspace</a> is a place for tinkering and experimentation
            with technologies like circuitry, 3D printing, and laser
            cutting. Open to everyone, we specialize in applications and
            research questions in the humanities and arts. The
            Makerspace staff provides consultation and instruction
            <a href="https://www.library.virginia.edu/hours/">whenever the Makerspace is open</a>, or by appointment. Please drop in, or send inquiries to <a href="mailto:slabmakerspace@virginia.edu">slabmakerspace@virginia.edu</a>.</p>
    </div>
</section>

<section id="critical-digital-humanities" class="feature">
    <div>
        <h2>Critical Digital Humanities</h2>
        <p>We use “critical” DH here to mean purposeful engagements with the field and community of DH scholarship, including its writings, theory, and international community. Much of the lab’s work draws on our strong DH background (including for non-DH projects and people!) and many of our staff identify as digital humanists and maintain a high level of engagement in external, international DH leadership, service, and community.</p>
		<p><a href="/critical-dh">>>> Critical DH</a></p>
    </div>
    <figure>
        <img src="/assets/img/decorative/lab-photos-decorative/homepage-criticaldh.jpg" alt="Decorative photo of Scholars' Lab fellows working with staff outdoors on a location-based augmented reality research project">
        <figcaption></figcaption>
    </figure>
</section>

<section id="digital-humanities-code-design" class="feature">
    <div>
        <h2>Digital Humanities Code + Design</h2>
        <p>We provide research and teaching consultation on a variety of digital
            humanities concepts, approaches, and tools, including digital
            collections & exhibitions, data collection and management, machine
            learning, text analysis, and more. Our particular strengths lie in
            the critical pedagogical and scholarly application of those
            technologies for the humanities.</p>
		<p><a href="/design-code">>>> DH Code + Design</a></p>
    </div>
    <figure>
                <img src="/assets/img/decorative/lab-photos-decorative/homepage-code-and-design.png" alt="Decorative screenshot of Scholars' Lab fellows James Ascher and Sarah Berkowitz's digital textual research project completed with the lab">
        <figcaption></figcaption>
    </figure>
</section>
<section id="spatial-technologies" class="feature">
    <div>
        <h2>Spatial Technologies</h2>
        <p>We've got experts in mapping, GIS data, cultural heritage laser
            scanning & preservation, augmented & virtual reality, and other
            spatial approaches (including ArcGIS StoryMaps) for representing our
            world across space + time. Contact us at <a
                href="mailto:spatial@virginia.edu">spatial@virginia.edu</a> to
            schedule an individual consultation or course instruction session.
        </p>
		<p><a href="/design-code">>>> Spatial Technologies</a></p>
    </div>
    <figure>
        <img src="/assets/img/decorative/lab-photos-decorative/homepage-spatialtechnologies.jpg" alt="Decorative photo of Scholars' Lab staff working with students outdoors and in museums capturing cutural heritage data">
        <figcaption></figcaption>
        </img>
    </figure>
</section>
<section id="fellowships-and-training" class="feature">
    <div>
        <h2>Fellowships + Training</h2>
        <p>We support the work of emerging scholars and digital humanities
            practitioners. In addition to our general consultations, we offer
            <a href="/for-students">three graduate fellowship programs</a> that provide students with the
            time, space, and mentorship necessary to discover, explore, and
            build. We also offer a wide variety of opportunities for students
            and faculty to gain training and experience as digital humanists.
        </p>
		<p><a href="/opportunities">>>> Opportunities</a></p>
    </div>
    <figure>
        <img src="/assets/img/decorative/lab-photos-decorative/homepage-opportunities.jpg" alt="Decorative photo of Scholars' Lab fellows posing in the library">
        <figcaption></figcaption>
        </img>
    </figure>
</section>