---
layout: default
title: Home
---

<article class="home-wrapper">
	<header class="home-landing-wrapper">
		<div class="home-landing__big-title">
			<div class="home-title__text">
				<span class="show-if-big--css">We are<br/>a community<br/>for experimental<br/>scholarship.</span>
				<span class="show-if-small--css">We<br/>are a<br/>community<br/>for<br/>experimental<br/>scholarship.</span>
			</div>
		</div>
		<div class="home-landing__hero-text">
			<div class="home-hero__hook">
				<h3>What We Do</h3>
				<p>Experimental & digital scholarship in all fields, informed by humanities & cultural heritage approaches.</p>
			</div> <!-- we practice? -->
			<div class="home-hero__description">
				<h3>Explore With Us</h3>
				<p>At the Scholars' Lab, our most important scholarship is our community: <span>mentors,</span> <span>learners,</span> <span>researchers,</span> <span>teachers,</span> <span>crafters & </span><span>makers,</span> <span>collaborators.</span> Come help us explore what scholarship with an ethic of care means&mdash;we'd love you to be part of our community! </p>
			</div>
		</div>
	</header>

	<main class="home-main-content">

		<!-- section 1: -->

		<!-- faq: -->
		<section class="home__faq">
			<div class="home-faq__title"><a href="/about">Frequently Asked Questions</a></div>
			<div class="home-faq__subtitle">Check out <a href="/about">answers to common questions</a> including:</div>
			<ul class="home-faq__questions">
				<li><a href="/about#what-is-the-scholars-lab">What is the Scholars' Lab?</a></li>
				<li><a href="/about#how-can-the-scholars-lab-fit-into-my-work">How can you fit into my work?</a></li>
				<li><a href="/about#how-does-the-lab-fit-into-the-uva-library">How do you fit into the UVA Library?</a></li>
			</ul>
			<div class="home-faq__cta"><!--Find answers to these questions and more:<br/--><a href="about">About Scholars' Lab</a></div>
		</section>

		<!-- library: -->
		<section class="home__library">
			<div class="home-lib__title"><a href="/library">The Library's Lab</a></div>
			<div class="home-lib__content">
				<p>We are the UVA Library's lab for experimental and digital research, teaching, and other forms of scholarship, open to all disciplines and anyone curious about getting their hands dirty.</p>
				<p>We're part of the Library's mission to provide equitable access to learning to everyone, and we're proud that librarian superpowers are part of our toolkit!</p>
				<!-- **ACCESSIBILITY NOTE:** changing link wording to be more descriptive -->
				<p>Visit our <a href="/library">Library collaborations hub</a> to find out about the many ways we co-create with and depend on our amazing Library colleagues, or jump to the <a href="http://lib.virginia.edu">UVA Library's main website</a> to find out more about the whole Library.</p>
			</div>
		</section>

		<!-- contact us: -->
		<section class="home__contact">
			<div class="home-contact__title">Contact Us</div>

			<div class="home-contact__wrapper">
				<div class="home-contact__content">
					<p>Curious? Please get in touch with us&mdash;absolutely no prior experience or fully formed ideas needed!</p>
					<p>Email us at <a href="mailto:scholarslab@virginia.edu">ScholarsLab@Virginia.edu</a> with questions, or if you already know you want to meet with us. Or sign up for our newsletter to hear about events and opportunities.</p>
				</div>

				<div class="home-contact__newsletter">
					<div>
					<!-- Begin MailChimp Signup Form -->
					<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
					<style type="text/css">
						#mc_embed_signup{background:#fff; clear:left; width:300px;}
					</style>
					<div id="mc_embed_signup">
					<form action="https://virginia.us1.list-manage.com/subscribe/post?u=3ac105f4d87dddbd34542ab41&amp;id=25120106cf" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					    <div id="mc_embed_signup_scroll">
						<h2>Scholars' Lab Newsletter</h2>
					<div class="mc-field-group">
						<label for="mce-EMAIL">Email Address </label>
						<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
					</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3ac105f4d87dddbd34542ab41_25120106cf" tabindex="-1" value=""></div>
					    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
					    </div>
					</form>
					</div>
					<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
					<!--End mc_embed_signup-->
					</div> <!-- end signup wrapper -->
				</div> <!-- end newsletter -->
			</div> <!-- end contact content -->
		</section> <!-- end contact -->

		<!-- section 2: -->

		<!-- find us: -->
		<section class="home__find-us">
			<div class="home-find__title"><a href="/hours-and-spaces">Find us</a></div>
			<div class="home-find__content">
				<div class="home-find__diagram">
					<img src="{{ 'assets/img/svg/alderman-floorplan.svg' | relative_url }}" height="400px" alt="Floor diagram of Scholars' Lab spaces" title="Alderman Floorplan - Floor 4">
					{% include floorplan-markup.html %}
				</div>
				<ul><!-- commenting out b/c messing w/ JS stuff rn! span>Spaces:</span-->
					{% assign spaces = site.spaces | sort: 'order' %}
					{% for space in spaces %}
					<li data-fill="{{ space.fill-color }}" data-name="{{ space.data-name }}"><span>{{ space.title }}</span>:<br/> {{ space.room }}</li>
					{% endfor %}
					<li data-fill="violet" data-name="office-hrs"><span>Open Office Hours</span></li>
					<li data-fill="teal" data-name="offices"><span>Staff offices</span></li>
				</ul>
			</div>
			<p class="home-find__link">See full list of <a href="/hours-and-spaces" aria-label="hours and spaces page">hours &amp; spaces</a>.</p>
		</section>

		<!-- events: -->
		<section class="home__events">
			<div class="home-events__title"><a href="/events">Events</a></div>
			<!-- !! NB: events description is commented out; feel free to un-comment out if we want to use it -->
			<!--div class="home-events__description">One-time or regular, hands-on workshops and discussion-rich symposia, a quick intro or community group&mdash;whatever your flavor, we probably have an event for it. Upcoming events below, or find the full list <a href="/events" aria-label="Events page">here</a>.</div-->
			{% assign events = site.events | sort: 'start_date' %}
			<!-- event layout: -->
			
			<div class="home-events__upcoming">
				{% for event in events reversed limit:3 %}
				<div>
					<h2>{{ event.title }}</h2>
					<ul>
						<li><span>When:</span> {{ event.start_date | date: "%A, %m/%-d/%Y" }}</li>
						<li><span>Where:</span> {{ event.location }}</li>
					</ul>
					<div class="events-item__cta">
						<a href="{{ site.url }}/events/{{ event.slug }}">Details &rsaquo;</a>
					</div>
				</div>
				{% endfor %}
			</div>
			<!--div class="home-events__cta"><a href="/events">All Events</a></div-->
		</section>

		<!-- open office hours: -->
		<section class="home__office-hours">
			<div class="home-hours__title">Open Office Hours</div>
			<div class="home-hours__when">Every Monday during fall and spring term,<br/>10am-11:30am.</div>
			<div class="home-hours__info">Stop by the discussion area just inside the Scholars' Lab Common Room to chat with our DH experts about your ideas, from your earliest questions and broad ideas through formal projects. (See diagram for where we are!)</div>
		</section>

		<!-- section 3: -->

		<!-- student opportunities: -->
		<section class="home__student-opps">
			<div class="home-student__content">
				<div class="home-student__title"><a href="/student-opportunities">Student Opportunities</a></div>
				<div class="home-student__text">
					<p>One of our primary missions is to support the work of emerging scholars and digital scholarship practitioners&mdash;particularly UVa graduate students.</p>
					<p>We offer a variety of fellowships and opportunities to this end, which collectively aim to support graduate students during the full measure of their time at UVA.</p>
					<p>From the innovative <a href="http://praxis.scholarslab.org/">Praxis Program</a> to professionalization training for students on the DH job market, we're here to help whether you're looking to answer a specific call for applications or simply looking to discuss your research.</p>
				</div>
			</div>
			<div class="home-student__img" title="Placeholder image"></div>
			<div class="home-student__cta"><a href="/student-opportunities">See All</a></div>
		</section>

		<!-- makerspace -->
		<section class="home__makerspace">
			<div class="home-maker__title"><a href="/makerspace">Makerspace</a></div>
			<div class="home-maker__hours">
				<div>Staffed Hours</div>
				<span>Mondays:</span>1-7pm<br/>
				<span>Tuesdays:</span>1-9pm<br/>
				<span>Wednesdays:</span>1-7pm<br/>
				<span>Thursdays:</span>1-9pm<br/>
				<span>Fridays:</span>1-5pm
			</div>
			<div class="home-maker__text">
				<p><strong>The Scholars’ Lab Makerspace</strong> is a place for tinkering and experimentation with technologies like desktop fabrication, physical computing, and augmented reality. Open to everyone, we specialize in applications and research questions in the humanities and arts.</p>
				<p>Find things like 3-D printing, wearable technologies, physical computing, & more at our space in the middle of the Scholars' Lab Common Area.</p>
			</div>
			<div class="home-maker__cta"><a href="/makerspace">Makerspace Home</a></div> <!-- had it as "Makerspace Page >" for a bit -->
		</section>

		<!-- spatial tech: -->
		<section class="home__spatial-tech">
			<div class="home-spatial__title"><a href="/spatial-technologies">Spatial Technologies</a></div>
			<div class="home-spatial__text">
				<p><strong>Experts at thinking about space + time.</strong></p>
				<p>We've got experts in GIS, cultural heritage informatics, augmented reality, virtual reality, 3D modeling, photogrammetry and scanning, aerial footage, and other spatial approaches (including our own <a href="http://neatline.org">Neatline</a> project for telling stories that combine timelines and maps).</p>
			</div>
			<ul class="home-spatial__hours">
				<h3>Cultural heritage informatics</h3>
				<li>Hours: by appointment</li>
				<li>Office: by appointment (Clemons is closed during Summer 2018)</li>
				<h3>GIS</h3>
				<li>Office: 417 Alderman</li>
		  	    <li>Hours: Weekdays 9-5 in general, but <a href="mailto: slabgis@virginia.edu">email the GIS folks</a> in advance if you need us to be there</li>
			</ul>
			<div class="home-spatial__cta"><a href="/spatial-technologies">Spatial Tech Home</a></div>
		</section> <!-- end sections -->
	</main> <!-- end main content -->
</article> <!-- end wrapper -->
