---
---

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');

* {
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin:0;
  padding:0;
}

html {
  background: hsla(40,40%,95%,1);
}

body {
  font: 18px/1.5 "Source Sans Pro", sans-serif;
  color: #404040;
  color: hsla(0,0,0,.8);
}

a {
  &:link,
  &:visited {
    color: hsla(0, 0%, 0%, .8);
  }
  &:hover,
  &:focus {
    color: hsla(0, 0%, 0%, .75);
  }
  &:active {
    color: hsla(0, 0%,0%, .5);
  }
}

h1,h2 {
  font-family: "Source Serif Pro";
}

h1 {
  font-size: 2rem;
  line-height: 1.125;

  &:after {
    display:block;
    content: " ";
    width: 50px;
    margin: 1rem 0;
    height: .125rem;
    background: hsla(5,75%,45%,.75);

  }
}

img,svg {
  max-width: 100%;
  width: auto;
  height: auto;
}

#homelink {
  width: 120px;
  padding-right: 1rem;
  margin-right: 1rem;
  border-right: 1px solid hsla(0,0,0,.125);
  svg {
    fill: hsla(0,0,0,.675);
  }

  &:hover,
  &:focus,
  &:active {
    svg {
      fill: hsla(5,75%,45%,1);
    }
  }
}

#globalnav {
  background-color: hsla(40,40%,99%,1);
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  line-height: 1;
  text-transform: lowercase;
  font-size: 1rem;
  border-bottom: .25rem solid hsla(40,40%,75%,.5);

  a,:link {
    text-decoration:none;
  }
  a,svg,div {
    line-height:0;
  }

  a + a:before {
    content: " · ";
    color: rgba(0,0,0,.125);
  }
}

.audible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#main {
  padding: 0 2rem;
  max-width: 900px;
}

@media screen and (min-width: 500px) {

  h1 {
    font-size: 3rem;
    line-height: 1.125;

    &:after {
      margin: 2rem 0;
      height: .25rem;
    }
  }
  #globalnav, main {
    padding: 2rem 4rem;
  }
}


.post {
  header {
    margin-bottom: 3rem;
  }

  .author,time {
    font-size: .9rem;
    font-weight: bold;
  }

  .author:after {
    content: " · ";
    color: rgba(0,0,0,0.25);
    margin: 0 .25rem;
  }

  footer {
    margin-top: 3rem;

    &:before {
      display:block;
      content: " ";
      width: 50px;
      margin: 2rem 0;
      height: .25rem;
      background-color: hsla(40,40%,70%,1);
    }

    .person-image {
      float:left;
      width: 150px;
    }
    p {
      margin-left: 170px;
      font-size: .8rem;
      font-weight:bold;
    }

  }

}

.people {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;

  a {
    width: 32%;
    margin-bottom: 2rem;
    text-decoration:none;
    line-height:1;
  }

  .image {
    margin-bottom: .5rem;
  }

  .name {
    display:block;
    font-weight:bold;
  }

  .title {
    font-size: .875rem;
  }
}

li p {
  margin:0;
}

li p + p {
  margin-top: 1em;
}

/* Labs & Research pages masonry 
All lab/research images need to be the same size. Need to pull default texture image in for when no photo provided.
*/
#lab-grid {
display: block;
}
.research-intro {
	padding:0 2rem 2rem;
	max-width:900px;
}

.project {
	width: 300px;
	height: 300px;
	position: relative;
	float: right;
}
.research-caption {
	background:#000019;
	color:#FFFFFF;
	padding:5px;
	opacity:0.6;
	position: absolute;
	top: 0;
	left: 0;
}
