---
---

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');

* {
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin:0;
  padding:0;
}

html {
  background: hsla(40,40%,95%,1);
}

body {
  font: 18px/1.5 "Source Sans Pro", sans-serif;
  color: #404040;
  color: hsla(0,0,0,.8);
}

a {
  &:link,
  &:visited {
    color: hsla(0, 0%, 0%, .8);
  }
  &:hover,
  &:focus {
    color: hsla(0, 0%, 0%, .75);
  }
  &:active {
    color: hsla(0, 0%,0%, .5);
  }
}

h1,h2 {
  font-family: "Source Serif Pro";
}

h1 {
  font-size: 3rem;
  line-height: 1.125;

  &:after {
    display:block;
    content: " ";
    width: 50px;
    margin: 2rem 0;
    height: .25rem;
    background: hsla(55,90%,50%,.75);
  }
}

img,svg {
  max-width: 100%;
  width: auto;
  height: auto;
}

#homelink {
  width: 120px;
  padding-right: 1rem;
  margin-right: 1rem;
  border-right: 1px solid hsla(0,0,0,.125);
  svg {
    fill: hsla(0,0,0,.675);
  }
}

#globalnav {
  background-color: hsla(40,40%,99%,1);
  display: flex;
  align-items: center;
  padding: 1.5rem 3rem;
  line-height: 1;
  text-transform: lowercase;
  font-size: 1rem;
  a,:link {
    text-decoration:none;
  }
  a,svg,div {
    line-height:0;
  }

  a + a:before {
    content: " · ";
    color: rgba(0,0,0,.125);
  }
}

.audible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

main {
  padding: 0 3rem 6rem;
  max-width: 900px;
}

.post {
  header {
    margin-bottom: 3rem;
  }

  .author,time {
    font-size: .9rem;
    font-weight: bold;
  }

  .author:after {
    content: " · ";
    color: rgba(0,0,0,0.25);
    margin: 0 .25rem;
  }

  footer {
    margin-top: 3rem;

    &:before {
      display:block;
      content: " ";
      width: 50px;
      margin: 2rem 0;
      height: .25rem;
      background-color: hsla(40,40%,70%,1);
    }

    .person-image {
      float:left;
      width: 150px;
    }
    p {
      margin-left: 170px;
      font-size: .8rem;
      font-weight:bold;
    }

  }

}

.people {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;

  a {
    width: 32%;
    margin-bottom: 2rem;
    text-decoration:none;
    line-height:1;
  }

  .image {
    margin-bottom: .5rem;
  }

  .name {
    display:block;
    font-weight:bold;
  }

  .title {
    font-size: .875rem;
  }
}

li p {
  margin:0;
}

li p + p {
  margin-top: 1em;
}

/* Labs page masonry */

#lab-grid {
  -moz-column-width: 13em;
  -webkit-column-width: 13em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
}

section {
  display: inline-block;
  margin: 0.25rem;
  padding: 1rem;
  width: 100%;
  background: #efefef;
}
