---
---

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');

* {
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin:0;
  padding:0;
}

html {
  background: hsla(40,40%,95%,1);
}

body {
  font: 18px/1.5 "Source Sans Pro", sans-serif;
  color: #404040;
  color: hsla(0,0,0,.8);
}

a {
  &:link,
  &:visited {
    color: hsla(0, 0%, 0%, .8);
  }
  &:hover,
  &:focus {
    color: hsla(0, 0%, 0%, .75);
  }
  &:active {
    color: hsla(0, 0%,0%, .5);
  }
}

h1 {
  font-size: 3rem;
  line-height: 1.125;
}

img,svg {
  max-width: 100%;
  width: auto;
  height: auto;
}

#homelink {
  width: 120px;
  padding-right: 1rem;
  margin-right: 1rem;
  border-right: 1px solid hsla(0,0,0,.125);
  svg {
    fill: hsla(0,0,0,.675);
  }
}

#globalnav {
  background: white;
  background: rgba(255,255,255,.625);
  background: hsla(40,40%,99%,1);
  
  display: flex;
  align-items: center;
  min-height: 3rem;
  height: 15vh;
  padding: 0 1.5rem;
  line-height: 1;
  text-transform: lowercase;
  font-size: 1rem;
  a,:link {
    text-decoration:none;
  }
  a,svg,div {
    line-height:0;
  }

  a + a:before {
    content: " · ";
    color: rgba(0,0,0,.125);
  }
}

.audible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

main {
  padding: 0 1.5rem;
  max-width: 900px;
}

