---
---

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');
@import "materialize/materialize";

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }
 main {
     flex: 1 0 auto;
     padding-right: 300px;
     padding-left: 10px;
 }
header, footer {
    padding-right: 300px;
}
.button-collapse, #slide-nav {
    display: none;
}
@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-right: 0;
  }
  .button-collapse, #slide-nav {
      display: initial;
  }
}
.side-nav {
    li > a {
        &:hover {
            background-color: #f6f5f6;
            color: #fff;
        }
    }
}
a {
  &:link,
  &:visited {
    color: hsla(0, 0%, 0%, .8);
  }
  &:hover,
  &:focus {
    color: hsla(0, 0%, 0%, .75);
  }
  &:active {
    color: hsla(0, 0%,0%, .5);
  }
}

h1,h2 {
  font-family: "Source Serif Pro";
}

h1 {
  font-size: 2rem;
  line-height: 1.125;

  &:after {
    display:block;
    content: " ";
    width: 50px;
    margin: 1rem 0;
    height: .125rem;
    background: hsla(5,75%,45%,.75);

  }
}

img,svg {
  max-width: 100%;
  width: auto;
  height: auto;
  padding: 0.8rem;
}

#homelink {
  width: 120px;
  border-right: 1px solid rgba(255,255,255,.125);
  svg {
    fill: rgba(255,255,255,.5);
  }
  &:hover,
  &:focus,
  &:active {
    svg {
      fill: rgba(255,255,255,1);
    }
  }
}

#globalnav {
  background-color: hsla(40,40%,99%,1);
  background: hsla(60,5%,95%,1);
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  line-height: 1;
  text-transform: lowercase;
  font-size: 1rem;
  border-bottom: 2px solid hsla(60,5%,35%,.125);

  a,:link {
    text-decoration:none;
  }
  a,svg,div {
    line-height:0;
  }

  a + a:before {
    content: " · ";
    color: rgba(0,0,0,.125);
  }
}

.audible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// #main {
//   padding: 0 2rem;
// }

@media screen and (min-width: 500px) {

  h1 {
    font-size: 3rem;
    line-height: 1.125;

    &:after {
      margin: 2rem 0;
      height: .25rem;
    }
  }
  // #globalnav, main {
  //   padding: 2rem;
  // }
}


.post {
  header {
    margin-bottom: 3rem;
  }

  .author,time {
    font-size: .9rem;
    font-weight: bold;
  }

  .author:after {
    content: " · ";
    color: rgba(0,0,0,0.25);
    margin: 0 .25rem;
  }

  footer {
    margin-top: 3rem;

    &:before {
      display:block;
      content: " ";
      width: 50px;
      margin: 2rem 0;
      height: .25rem;
      background-color: hsla(40,40%,70%,1);
    }

    .person-image {
      float:left;
      width: 150px;
    }
    p {
      margin-left: 170px;
      font-size: .8rem;
      font-weight:bold;
    }

  }

}

.people {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;

  a {
    width: 32%;
    margin-bottom: 2rem;
    text-decoration:none;
    line-height:1;
  }

  .image {
    margin-bottom: .5rem;
  }

  .name {
    display:block;
    font-weight:bold;
  }

  .title {
    font-size: .875rem;
  }
}

li p {
  margin:0;
}

li p + p {
  margin-top: 1em;
}

/* Labs & Research pages masonry
All lab/research images need to be the same size. Need to pull default texture image in for when no photo provided.
*/
#lab-grid {
  display: flex;
  justify-content: space-between;
}

.project {
	width: 31%;
	height: 300px;
}

.research-caption {
	background:#000019;
	color:#FFFFFF;
}

@media screen and (min-width: 700px) {
  html {
    border: 1px solid hsla(40,40%,85%,1);
    border-width: 0 0 0 10px;
  }

  body {
    display:block;
  }

  #homelink {
    border:0;
    padding:0;
    margin:0;
  }

  // #globalnav {
  //   width: 25%;
  //   align-items: flex-start;
  //   align-content: center;
  //   flex-direction: column;
  //   border:0;
  //   height:100%;
  //   position:fixed;
  //   top:0;
  //   right:0;
  //
  //   a {
  //     display:block;
  //     line-height: 1;
  //
  //     &:before {
  //       display:none;
  //     }
  //   }
  //
  // }

  .trigger {
  }

  // #main {
  //   margin-right: 28%;
  //   display:block;
  //   flex-direction: row;
  //   flex-wrap:no-wrap;
  //   padding: 1rem 4rem;
  // }
}
