---
layout: page
title: Our Projects
permalink: /our-projects/
nav: true
redirect_from:
  - /research
  - /work
---

<!-- May eventually order into sections, or otherwise visually indicate what projects are student, faculty, internal; I believe _work already uses 3-4 categories that would allow this. -->

<p>Here we share a sampling of the Scholars’ Lab scholarship in its many states and forms, from incipient ideas to formal projects with their own laptop stickers.</p>

<section id="scholars-lab-projects">
<h2>Projects</h2>
{% for project in site.work %}
{% unless project.research-category == 'Student' %}
<a class="project" href="/work/{{ project.slug }}/">
	<img src="{{ '/assets/img/work/' | append: project.thumb-img }}" alt="">
	<p>{{ project.title | replace: ' - ', ': ' }}</p>
</a>
{% endunless %}
{% endfor %}
</section>

<section id="student-projects-archive">
<h2>Student Projects</h2>
{% assign student_projects = site.work | where:'research-category', 'Student' %}
{% for project in student_projects %}
<a class="project" href="/work/{{ project.slug }}/">
	<img src="{{ '/assets/img/work/' | append: project.thumb-img }}" alt="{{ project.title }}">
	<p>{{ project.title | replace: ' - ', ': ' }}</p>
</a>
{% endfor %}
</section>

<section class="other-formats">
	<h2>Other Formats</h2>
	<div class="collaborations">
	<!-- Capture & markdownify code below allows us to manage the file as markdown (easier to add to list), but display within this HTML page as HTML.-->
	<h3>Places we've collaborated at the University of Virginia</h3>
		<!-- See /_includes/_content-includes for the editable file containing the list of places we've worked on campus-->
	{% capture uva-areas %}{% include _content-includes/uva-areas.md %}{% endcapture %}
	{{ uva-areas | markdownify }}
	</div>
	<div class="fieldwork-sites">
		<h3>External fieldwork sites</h3>
		<!-- See /_includes/_content-includes for the editable file containing the list of places we've done external fieldwork.-->
	{% capture fieldwork %}{% include _content-includes/fieldwork.md %}{% endcapture %}
	{{ fieldwork | markdownify }}
	</div>
</section>