---
layout: page
title: Our Projects
permalink: /work/
nav: true
redirect_from:
  - /research
  - /our-projects
---

<!-- May eventually order into sections, or otherwise visually indicate what projects are student, faculty, internal; I believe _work already uses 3-4 categories that would allow this. -->

<p>Here we share a sampling of the Scholars' Lab scholarship in its many states and forms.</p>

<p>Given an increased emphasis on evolving, collaborative, logo-less work—variously shaped collaborations, consultations, community-building, teaching, advanced mentorship, and deep advising on projects owned by others—we’re working to add many more examples of that full spectrum of scholarship here. We don't list all this work here as we don't want this page’s design to seem to claim ownership for work where we’ve been advisors, participants, or made other contributions not accurately represented by simply listing the name of a project and a logo.</p>

<p>In the meantime, we encourage you to reach out to <a href="mailto:scholarslab@virginia.edu">ScholarsLab@Virginia.edu</a> to share your areas of interest-we'll reply with examples of the kind of relevant work we've been doing here! With 11 full-time experts in many methods and fields, and a rich interdisciplinary community, we've likely worked in your area of interest (or can connect you to those who do).</p>

<section id="scholars-lab-projects">
<h2>Projects</h2>
{% for project in site.work %}
{% unless project.research-category == 'Student' %}
<a class="project" href="/work/{{ project.slug }}/">
	<img src="{{ '/assets/img/work/' | append: project.thumb-img }}" alt="">
	<p>{{ project.title | replace: ' - ', ': ' }}</p>
</a>
{% endunless %}
{% endfor %}
</section>

<section id="student-projects-archive">
<h2>Student Projects</h2>
{% assign student_projects = site.work | where:'research-category', 'Student' %}
{% for project in student_projects %}
<a class="project" href="/work/{{ project.slug }}/">
	<img src="{{ '/assets/img/work/' | append: project.thumb-img }}" alt="{{ project.title }}">
	<p>{{ project.title | replace: ' - ', ': ' }}</p>
</a>
{% endfor %}
</section>

<section class="other-formats">
	<h2>Other Scholarly Activities</h2>
	<div class="collaborations">
	<!-- Capture & markdownify code below allows us to manage the file as markdown (easier to add to list), but display within this HTML page as HTML.-->
	<h3>Our collaborators at UVA</h3>
		<p>Schools, departments, and other major groups we've collaborated with and supported, at the University of Virginia.</p>
		<!-- See /_includes/_content-includes for the editable file containing the list of places we've worked on campus-->
	{% capture uva-areas %}{% include _content-includes/uva-areas.md %}{% endcapture %}
	{{ uva-areas | markdownify }}
	</div>
	<div class="fieldwork-sites">
		<h3>External community collaborations & fieldwork sites</h3>
		<!-- See /_includes/_content-includes for the editable file containing the list of places we've done external fieldwork.-->
	{% capture fieldwork %}{% include _content-includes/fieldwork.md %}{% endcapture %}
	{{ fieldwork | markdownify }}
	</div>
	<div class="external-leadership">
		<h3>External scholarly leadership</h3>
		<p>External international scholarly organizations and editorial boards we've held elected or appointed service on.</p>
		<!-- See /_includes/_content-includes for the editable file containing the list of places we've done external leadership.-->
	{% capture external-leadership %}{% include _content-includes/external-leadership.md %}{% endcapture %}
	{{ external-leadership | markdownify }}
	</div>
</section>
