/**
 * View examples at:
 * 	   1.) theme-testing/shadow-nav.html
 *
 * NB: 1.) JS required. Include link to nav.js at bottom of HTML.
 *	   2.) nav.scss must be compiled; can't link directly.
 *	   3.) All links in nav.html relative to structure/names in theme-testing dir 
 */

/* Example code: */
.nav-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	height: 35px;
	width: 100%;
	padding: 0 .5rem 0 .25rem;
	background-image: linear-gradient(to bottom, rgba(0,0,0,.2), rgba(0,0,0,0) 100%), linear-gradient(to bottom, rgba(0,0,0,.2), rgba(0,0,0,.1) 40%, rgba(0,0,0,0) 90%), linear-gradient(to bottom, rgba(0,0,0,.2), rgba(0,0,0,.15) 50%, rgba(0,0,0,0) 80%);
	z-index: 5;
	transform: translateY(-100%);
	transition: transform .5s ease-out .2s;
	@media screen and (min-width: 768px) {
		height: 50px;
	}
}


.nav-wrapper--scroll-up {
	transform: translateY(0);
}

[class*="nav__arrow"] {
	position: relative;
	display: inline-block;
	height: 100%;
	a {
		img {
		//	position: absolute;
			height: 15px;
			margin-top: 7.5px;

		}
	}
	@media screen and (min-width: 768px) {
		a {
			img {
				height: 20px;
				margin-top: 10px;

			}
		}
	}
}

.nav__arrow--top {
	a {
		img {
			transform: rotate(90deg);
			opacity: .7;
		}
	}
}

/* Corresponding HTML: */
/* NB: img link path =/= accurate, since dirs written from theme-testing
<div class="nav-wrapper">
	<div class="nav__arrow--back">
		<a href="http://maybe.scholarslab.org"><img src="img/_nav/left-arrow-white.svg" alt="back arrow"></a>
	</div>
	<div class="nav__arrow--top">
		<a href="#top"><img src="img/_nav/left-arrow-white.svg" alt="back arrow"></a>
	</div>
</div>
*/