<!-- If we have a site footer, we'll put its info here -->
<footer role="contentinfo" id="footer">
<p>Content shared under the <a class="footer-logo__license" rel="license"
href="https://creativecommons.org/licenses/by/4.0/" aria-label="Creative Commons
License">CC-By 4.0</a> license. | <a href="mailto:scholarslab@virginia.edu"
rel="email" class="email">scholarslab@virginia.edu</a> | <a class="bluesky"
href="https://bsky.app/profile/scholarslab.bsky.social">Bluesky</a> | <a
href="https://github.com/scholarslab" class="github">GitHub</a></p>
<a href="#banner" id="back-to-top">Back to Top</a>
</footer>