<ul id="main-nav" class="side-nav fixed right-aligned grey lighten-4">
    <a id="homelink" rel="home" href="{{ site.baseurl }}/"><span class="audible">Scholars&#8217; Lab Home Page</span>
      {% include logotype.html %}
    </a>
    {% assign page_paths = site.header_pages %}
    {% if page_paths %}
          {% for path in page_paths %}
            {% assign my_page = site.pages | where: "path", path | first %}
            {% if my_page.title %}
            <li><a class="page-link" href="{{ my_page.url | relative_url }}" style="text-transform:lowercase; font-size:18px;">{{ my_page.slug | capitalize }}</a></li>
            {% endif %}
          {% endfor %}
    {% endif %}
</ul>

<ul id="slide-nav" class="side-nav grey lighten-4">
    <a id="homelink" rel="home" href="{{ site.baseurl }}/"><span class="audible">Scholars&#8217; Lab Home Page</span>
      {% include logotype.html %}
    </a>
    {% assign page_paths = site.header_pages %}
    {% if page_paths %}
          {% for path in page_paths %}
            {% assign my_page = site.pages | where: "path", path | first %}
            {% if my_page.title %}
            <li><a class="page-link" href="{{ my_page.url | relative_url }}" style="text-transform:lowercase; font-size:18px;">{{ my_page.slug | capitalize }}</a></li>
            {% endif %}
          {% endfor %}
    {% endif %}
</ul>
<a href="#" data-activates="slide-nav" class="button-collapse"><i class="material-icons">menu</i></a>
