<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% capture fulltitle %}{% if page.title %}{{ page.title | escape | append: " | Scholars' Lab" }}{% else %}{{ site.title | escape }}{% endif %}{% endcapture %}
  <title>{{ fulltitle }} </title>
  
  {% assign description = page.excerpt | default: site.description | strip_html | normalize_whitespace | escape %}
  <meta name="description" content="{{ description }}">
  
  <!-- Open Graph http://ogp.me/ -->
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:type" content="{{ page.og_type }}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}/">
  {% if page.image %}<meta property="og:image" content="{{ page.image }}">{% endif %}

  {% if page.author.size > 0 %}
  {% for author in page.author %}
    {% assign people = site.people | where: 'slug', author %}
    {% if people.size > 0 %}
        {% for person in people %}
  <meta property="og:author" content="{{ person.title }}">
        {% endfor %}
    {% endif %}
  {% endfor %}
  {% endif %}

  <!-- Twitter Cards https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/summary -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="{{ site.twitter_username }}">
  <meta name="twitter:title" content="{{ fulltitle }}">
  <meta name="twitter:description" content="{{ description }}">
  {% if page.image %}<meta property="twitter:image" content="{{ page.image }}">{% endif %}

  <link href="https://fonts.googleapis.com/icon?family=Raleway:200,400,400i,600,700,700i,900|Oswald:200,400,600,700|Inconsolata:400,700|VT323" rel="stylesheet">
  <link rel="stylesheet" href="{{ "assets/css/style.css" | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ "assets/css/print.css" | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ "assets/css/zenburn.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}/">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  
  <!--  favicon -->
  
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/assets/img/favicon/site.webmanifest">
<link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/assets/img/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/assets/img/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

  {% if site.analytics %}
  {% include analytics.html %}
  {% endif %}
</head>
