<span>Spring 2020 Hours</span><br/>
<span>Mondays</span>1-7pm<br/>
<span>Tuesdays</span>1-9pm<br/>
<span>Wednesdays</span>11am-5pm<br/>
<span>Thursday</span>1-9pm<br/>
<span>Friday</span>1-5pm<br/>
<span>Sat-Sun</span>Closed<br/><br/>


<!--
<span>Summer 2019 Hours</span><br/>
<span>Monday-Friday</span>1-5pm<br/>
-->

<!--
<div>Fall 2019 Hours</div>
<span>Mondays:</span>1-9pm<br/>
<span>Tuesdays:</span>3:30-9pm<br/>
<span>Wednesdays:</span>1-9pm<br/>
<span>Thursdays:</span>3:30-7:30pm<br/>
<span>Fridays:</span>1-5pm 
-->

<!--
URL to get data from LibCal for just Makerspace hours for the next 4 weeks
https://api3.libcal.com/api_hours_grid.php?iid=863&lid=2093&format=json&weeks=4&systemTime=0
-->
