<div class="navbar-wrapper">
	<div class="navbar-main-grid">

		<div class="navbar__home-icon">
			<a href="{{ site.url }}" aria-label="Scholars' Lab home"><img src="{{ '/assets/img/svg/slab-logo-color-white.svg' | relative_url }}" alt="SLab logo"></a>
		</div>

		<ul class="flexnav-main-grid">
		{% assign pages = site.pages | sort: 'order' %}
		{% for page in pages %}
		{% if page.layout != nil and page.nav %}
			<li class="flexnav__item"><a href="{{ page.url }}">{{ page.title | replace: ' and ', ' &amp; ' }}</a></li>
		{% endif %}
		{% endfor %}
			<li class="flexnav__more-menu">
				<div class="flexnav-more__prompt" aria-label="More menu items">More &nbsp;<span>&rsaquo;</span></div>
				<ul class="flexnav-more__wrapper">
				{% for page in pages %}
				{% if page.layout != nil and page.nav %}
					<li class="flexnav-more__item"><a href="{{ page.url }}">{{ page.title | replace: ' and ', ' &amp; ' }}</a></li>
				{% endif %}
				{% endfor %}
				</ul>
			</li>
		</ul>

	</div> <!-- end content -->
</div> <!-- end wrapper -->