<div class="flexnav-wrapper--2">
	<div class="flexnav-main--2">
		<div class="flexnav__home-icon">
			<a href="{{ site.url }}" aria-label="Scholars' Lab home"><img src="{{ '/assets/img/svg/8bit-beaker.svg' | relative_url }}" alt="Beaker by Cuby Design for the Noun Project" title="Courtesy of Cuby Design"></a>
		</div>

		<ul class="flexnav-main-grid">
			<li class="flexnav__item"><a href="{{ site.baseurl }}">Projects</a></li>
			<li class="flexnav__item"><a href="{{ site.baseurl }}">Blog</a></li>
			<li class="flexnav__item"><a href="{{ site.baseurl }}">About Us</a></li>
		</ul>
	</div> <!-- end content -->
</div> <!-- end wrapper -->