<div>		
				<h2>Open Office Hours</h2>
				<ul>
				<li><span>When:</span> 10-11:30am Wednesdays, during fall and spring term (**currently cancelled due to COVID-19**)</li>
				<li><span>Where:</span> Scholars' Lab's <a href="/hours-and-spaces/#the-common-room">discussion area</a> just inside our Common Room.</li>
                </ul>
                <p>Come chat with our experts about anything, from your getting started through advanced projects.</p>
				<div class="events-item__cta">
				      <a href="/hours-and-spaces/#the-common-room">Location &rsaquo;</a>
        </div>
</div>
