{% assign projects = (site.data.student-projects | sort: 'years' | reverse) %}
{% assign site_posts = site.posts %}
{% for project in projects %}
{% if project.title %}
### {{ project.title }}
{% else %}
### {{ project.student }}'s Project
{% endif %}
* Student(s): {{ project.student }}
* Type: {{ project.type }}
* Dates: {{ project.years }}
* Description: {{ project.description }} {% if project.url %} More info at the <a href="{{ project.url }}">project website</a>.{% endif %}
{% if project.title in ['Prism', 'Ivanhoe', 'ClockWork', 'Dash-Amerikan', 'UVA-Reveal'] %}
## TO DO - PULL OUT THE POSTS FOR PARTICULAR TAGS
{% project.posts | where: 'tag' %}
{% endif %}
{% if project.posts != empty %}
* Related Posts
  {% for post_slug in project.posts %}
    {% for post in site_posts %}
      {% if post_slug == post.slug %}
  * <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}
{% endfor %}