{%- capture studentstring -%}
{%- assign students = include.studentid -%}
{%- if students.size > 0 -%}
{%- for student in students -%}
{%- assign proc-name = student | replace: "'", '' | slugify: 'latin' -%}
  {%- assign people = site.people | where: 'slug', proc-name -%}
  {%- if people.size > 0 -%}
  {%- for person in people -%}
  <a href="{{ site.baseurl }}/people/{{ person.slug }}/">{{ person.title }}</a>,
  {%- endfor -%}
  {%- else -%}
  {{ student }},
  {%- endif -%}
{%- endfor -%}
{%- else -%}
Scholars’ Lab
{%- endif -%}
{%- endcapture -%}
{%- assign studentarray =  studentstring | strip | split: "," -%}
{{ studentarray | array_to_sentence_string }}
