/* Amanda added stuff, not sure how you want to organize this in or even if we want to keep it... */
/* Cycles the "people" in "DH is people" hero through various colors. This may be ugly, distracting, and/or not accessible. We should at least check each color against grayscale/hi-res versions and color blindness palettes. */
.colorchange {
-webkit-animation:colorchange 20s infinite alternate;
}
 @-webkit-keyframes colorchange {
      0% {
        
        color: blue;
      }
      
      10% {
        
        color: #8e44ad;
      }
      
      20% {
        
        color: #1abc9c;
      }
      
      30% {
        
        color: #d35400;
      }
      
      40% {
        
        color: blue;
      }
      
      50% {
        
        color: #34495e;
      }
      
      60% {
        
        color: blue;
      }
      
      70% {
        
        color: #2980b9;
      }
      80% {
     
        color: #f1c40f;
      }
      
      90% {
     
        color: #2980b9;
      }
      
      100% {
        
        color: pink;
      }
    }