/**
 * 					Table of Contents
 * --------------------------------------------------------------------
 * #  Section:			Description:
 * --------------------------------------------------------------------
 * 1. General styles....Universal styles for repeating elements
 * 2. Landing page......Styles for title page
 * 3. Main content......Styles for content sections, e.g. 'Ethos'
 * 4. Unused styles.....Copied main styles for future customizing
 * --------------------------------------------------------------------
 */

/* 1. General Styles: */

// Section titles
[class*="__title"][class*="maker-"] {
	margin-bottom: .5em;
	margin-top: 1em;
	font-family: "Raleway", sans-serif;
	font-size: 1.75rem;
	font-weight: 900;
	line-height: 1;
	text-transform: uppercase;
	@media screen and (min-width: 600px) {
		font-size: 2rem;
	}
}

// Inventory lists
[class*="maker-"] {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

/* Landing Page: */

.makerspace-landing-grid {
	position: relative;
	display: grid;
	grid-template-areas: "title";
	grid-template-columns: 1fr;
	grid-auto-rows: minmax(100vh, auto);
	align-items: end;
	overflow: hidden;
	width: 100%;
	padding-left: 4.167%;
	background-color: black;
	background-image: linear-gradient(to bottom, black, black 100vh, white 100vh, white);
	@media screen and (min-width: 600px) {
		padding-left: 8.33%;
	}
	@media screen and (min-width: 768px) {
		grid-template-areas: "title pics";
		grid-template-columns: 2fr 1fr;
	}
	@media screen and (min-width: 900px) {
		padding-left: 4.167%;
	}
	@media screen and (min-width: 1200px) {
		padding-right: 4.167%;
	}
}

// 'big-' prefix so =/= caught by title selector
.maker-landing__big-title {
	grid-area: title;
	align-self: start;
	position: relative;
	display: grid;
	align-items: center;
	justify-content: start;
	height: 100vh;
	font-family: "Oswald", sans-serif;
	font-size: 4rem;
	font-weight: 600;
	text-transform: uppercase;
	line-height: .9;
	color: white;
	@media screen and (min-width: 600px) {
		font-size: 5rem;
	}
	@media screen and (min-width: 900px) {
		font-size: 6rem;
	}
	@media screen and (min-width: 1024px) {
		font-size: 7rem;
	}
}

.maker-title__text {
	&::after {
		content: '';
		display: block;
		height: 4px;
		// NB: this is a magic number!! fix!
		width: 200%;
		background-color: cyan;
	}
}

.maker-landing__pics {
	grid-area: pics;
	position: relative;
	display: none;
	flex-flow: column nowrap;
	justify-content: flex-end;
	align-items: flex-start;
	margin-top: 60px; // topnav
	img {
		display: inline-block;
		max-width: 90%;
		&:nth-of-type(2) {
			align-self: flex-end;
		}
	}
	// dummy pics:
	div {
		height: 33vh;
		width: 75%;
		margin-bottom: 2rem;
		background-color: black;
		border: 3px solid magenta;
		&:nth-of-type(2) {
			align-self: flex-end;
		}
		&:nth-of-type(3) {
			transform: translate(-25%, 0);
			background-color: transparent;
		}
	}
	@media screen and (min-width: 768px) {
		display: flex;
	}
}

/* Main Content: */

.makerspace-main-content {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: minmax(25vh, auto);
	grid-template-areas: "ethos"
						"hours"
						 "people"
						 "usage"
						"invent"
						"public"
						"diagram"
						"question";
	padding: 0 4.167%;
	@media screen and (min-width: 600px) {
		padding: 0 8.33%;
	}
	@media screen and (min-width: 768px) {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "ethos hours"
							 "people usage"
							"invent invent"
							"public diagram"
							"question question";
	}
}

/* Ethos: */

.makerspace__ethos {
	grid-area: ethos;
}

.maker-ethos__title {

}

.maker-ethos__text {

}

/* Hours: */

.makerspace__hours {
	grid-area: hours;
}

.maker-hours__title {

}

.home-makerspace__hours {

}

.maker-hours__explainer {

}

/* People: */

.makerspace__people {
	grid-area: people;
}

.maker-people__title {

}

.maker-people__students {

}

.maker-people__staff {

}

/* How To Use: */

.makerspace__usage {
	grid-area: usage;
}

.maker-usage__title {

}

.maker-usage__content {

}

/* Inventory: */

.makerspace__inventory {
	grid-area: invent;
	position: relative;
	display: grid;
	grid-template-areas: "title title"
	"list list"
	"notes contact";
}

.maker-inventory__title {
	grid-area: title;
}

// contains all sub-lists
.maker-inventory__list {
	grid-area: list;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	ul {
		position: relative;
		padding: 1em;
		margin-bottom: 1em;
		margin-right: 1em;
		border: 4px solid black;
		span {
			display: inline-block;
			margin-bottom: .5em;
			font-weight: 600;
			font-family: "Oswald";
			line-height: 1.15;
		}
		li {
			font-weight: 200;
			font-family: "base-mono-narrow", monospace;
			position: relative;
			margin-bottom: .25em;
		//	margin-left: .25em;
			line-height: 1.25;
			&::before {
				content: '';
				position: absolute;
				top: .625em;
				left: 0;
				display: block;
				height: 6px;
				width: 6px;
				transform: translate(-175%, -50%);
				background-color: magenta;
				border-radius: 50%;
			}
		}
		&:nth-of-type(3n - 1) {
			li {
				&::before {
					background-color: cyan;
				}
			}
		}
		&:nth-of-type(3n) {
			li {
				&::before {
					background-color: rgba(0,47,255,1);
				}
			}
		}
	}
}

.maker-inventory__rules {
	grid-area: notes;
}

.maker-inventory__contact {
	grid-area: contact;
}

/* Public Spaces: */

.makerspace__public-spaces {
	grid-area: public;
}

.maker-public__title {

}

.maker-public__list {

}

/* Diagram: */

.makerspace__diagram {
	grid-area: diagram;
	div {

	}
}

/* Questions: */

.makerspace__questions {
	grid-area: question;
}

.maker-questions__text {

}

/* Old Images: */

.makerspace__images {
	grid-area: images;
	display: none;
}

/* 4. Unused Styles */

/* If make into own for page:

.home-makerspace__hours {
	position: relative;
	border: 4px solid magenta;
	font-family: "base-mono-narrow", monospace;
	font-size: 20px;
	text-align: right;
	margin-top: calc(2em + 4px);
	padding: .5em 1em;
	div {
		position: absolute;
		font-family: "Oswald", sans-serif;
		font-size: 1.5rem;
		font-weight: 600;
		text-transform: uppercase;
		text-align: left;
		line-height: 1;
		transform: translate(-1em, calc(-1.5em - 4px));
	}
	span {
		float: left;
		color: magenta;
	}
}

*/