.include--topnav {
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100px;
	z-index: 1;
	opacity: .5;
	transition: height 1s;
}

.topnav-scroll--down {
	height: 60px;
}

.home-wrapper {
	position: relative;
}

.topnav__content-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 100%;
	width: 100%;
	background-color: red;
}

.topnav-item {
	border: 1px solid black;
	margin: 0 1em;
	&:first-of-type {
		margin-right: auto;
	}
}

.topnav-item__link {
	display: block;
	height: 60px;
	line-height: 60px;
	border: 1px solid blue;
	img {
		display: block;
		height: 60px;
	}
}

.topnav-dummy-content {
	display: grid;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-size: 3em;
	background-image: linear-gradient(to bottom, lightpink, white);
}