/* Research Project Page: */

/* Landing: */

.research-landing-wrapper {
	position: relative;
	display: grid;
	grid-auto-rows: minmax(100vh, auto);
}

.research-landing-grid {
	position: relative;
	display: grid;
	grid-template-areas: "title"
						 "subtitle";
	grid-template-columns: 1fr;
	justify-content: start;
	overflow: hidden;
	width: 100%;
	padding-left: 4.167%;
//	background-color: black;
	@media screen and (min-width: 600px) {
		padding: 0 8.33%;
	}
}

// 'big-' -> attr selector on '__title'
.research-landing__big-title {
	grid-area: title;
	align-self: end;
	position: relative;
	display: grid;
	align-items: end;
	justify-content: start;	
}

.research-title__text {
	position: relative;
	margin-top: 2em;
	font-family: "Oswald", sans-serif;
	font-size: 4rem;
	font-weight: 600;
	text-transform: uppercase;
	line-height: .9;
//	color: magenta;
/*	&::after {
		content: '';
		position: absolute;
		bottom: -4px;
		left: 0;
		display: block;
		height: 4px;
		width: 100vw;
		background-color: cyan;
	} */
	@media screen and (min-width: 600px) {
		font-size: 5rem;
	}
	@media screen and (min-width: 900px) {
		font-size: 6rem;
	}
	@media screen and (min-width: 1024px) {
		font-size: 7rem;
	}
}

.research-landing__description {
	grid-area: subtitle;
	align-self: start;
	position: relative;
	margin-top: 1.5em;
	padding-bottom: 1em;
	font-size: 1rem;
//	font-weight: 700;
//	color: white;
//	background-color: white;
	@media screen and (min-width: 600px) {
		font-size: 1.5rem;
	}
	@media screen and (min-width: 768px) {
//		font-size: 1.75rem;
	}
	@media screen and (min-width: 1024px) {
//		font-size: 2rem;
//		max-width: 900px;
	}
}

/* Main Content: */

.research-main-content {
	position: relative;
	padding: 1em 4.167%;
	@media screen and (min-width: 600px) {
		padding: 1em 8.33%;
	}
}

/* Galleries: */

[class*="big-title"][class*="research"] {
	position: relative;
	margin-top: 1em;
	margin-bottom: .5em;
	font-size: 2rem;
	font-weight: 900;
//	font-family: "Oswald";
	text-transform: uppercase;
	line-height: 1;
}

[class*="__subtitle"][class*="research"] {
	font-family: "Oswald", sans-serif;
}

/* 1. Internal: */

.research-items__internal {

}

.research-internal__big-title {

}

.research-internal__subtitle {

}

/* 2. Collaborative: */

.research-items__collab {

}

.research-collab__big-title {

}

.research-collab__subtitle {

}

/* Grid for items: */

.research-items-wrapper {
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	margin-top: 1em;
}

/* Items: */

.research__item {
	grid-row: span 4;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
//	min-height: 250px;
	min-width: 250px;
	margin-bottom: 2em;
	margin-right: 2em;
//	border: 1px solid rgba(0,0,0,.15);
//	border: 2px solid black;
/*	&:nth-of-type(2) {
		grid-row: 2 / span 4;
		grid-column: 2;
	}
	&:nth-of-type(3) {
		grid-row: 3 / span 4;
		grid-column: 3;
	} */
	a {
		text-decoration: none;
	}
}

.research-item__img {
	position: relative;
//	width: 200px;
//	margin: 0 auto;
	width: 300px;
	height: 200px;
	overflow: hidden;
//	border: 4px solid rgba(0,0,0,.7);
//	border: 1px solid rgba(0,0,0,.15);
	img {
		position: absolute;
	//	min-width: 300px;
		min-height: 100%;
	//	min-width: 100%;
		
	}
}

.research-item__title, .research-item__year {
	margin-top: .5em;
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	font-size: 1.5rem;
	text-transform: uppercase;
	line-height: 1;
	color: black;
}

.research-item__year {
	margin-top: .25rem;
//	font-weight: 300;
	color: rgba(0,0,0,.5);
}