/* Research Project Page */

/* Landing: */

.research-landing-wrapper {
	position: relative;
	display: grid;
	grid-auto-rows: minmax(100vh, auto);
}

.research-landing-grid {
	position: relative;
	display: grid;
	grid-template-areas: "title"
						 "subtitle";
	grid-template-columns: 1fr;
	justify-content: start;
	overflow: hidden;
	width: 100%;
	padding-left: 4.167%;
//	background-color: black;
	@media screen and (min-width: 600px) {
		padding: 0 8.33%;
	}
}

// 'big-' -> attr selector on '__title'
.research-landing__big-title {
	grid-area: title;
	align-self: end;
	position: relative;
	display: grid;
	align-items: end;
	justify-content: start;	
}

.research-title__text {
	position: relative;
	margin-top: 1em;
	font-family: "Oswald", sans-serif;
	font-size: 4rem;
	font-weight: 600;
	text-transform: uppercase;
	line-height: .9;
	&::after {
		content: '';
		position: absolute;
		bottom: -4px;
		left: 0;
		display: block;
		height: 4px;
		width: 100vw;
		background-color: cyan;
	}
	@media screen and (min-width: 600px) {
		font-size: 5rem;
	}
	@media screen and (min-width: 900px) {
		font-size: 6rem;
	}
	@media screen and (min-width: 1024px) {
		font-size: 7rem;
	}
}

.research-landing__description {
	grid-area: subtitle;
	align-self: start;
	position: relative;
	margin-top: 1.5em;
	padding-bottom: 1em;
	font-size: 1rem;
//	color: white;
	@media screen and (min-width: 600px) {
		font-size: 1.5rem;
	}
	@media screen and (min-width: 768px) {
		font-size: 1.75rem;
	}
	@media screen and (min-width: 1024px) {
		font-size: 2rem;
	}
}

/* Main Content: */

.research-main-content {
	position: relative;
	padding: 1em 4.167%;
	@media screen and (min-width: 600px) {
		padding: 1em 8.33%;
	}
	/* ADD TO ALL MAIN CONTENT DEFS: */
	@media screen and (min-width: 1024px) {
	//	max-width: calc(1000px + 16.67%);
	//	margin: 0 auto;
	}
}

/* Galleries: */

/* 1. Internal: */

.research-items__internal {

}

.research-internal__title {

}

.research-internal__subtitle {

}

/* 2. Collaborative: */

.research-items__collab {

}

.research-collab__title {

}

.research-collab__subtitle {

}

/* Grid for items: */

.research-items-wrapper {
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
//	grid-auto-rows: minmax(300px, 1fr);
}

/* Items: */

.research__item {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
//	padding: 1em;
	margin-bottom: 1em;
	margin-right: 1em;
	border: 1px solid black;
	a {
		text-decoration: none;
	}
}

.research-item__img {
	position: relative;
//	width: 200px;
	margin: 0 auto;
	background-color: rgba(0,0,0,.05);
	border: 1px solid rgba(0,0,0,.15);
	img {
		position: relative;
		width: 100%;
	}
}

.research-item__title {
	margin-top: 1em;
	font-family: "Oswald", sans-serif;
	font-weight: 600;
	font-size: 1.25rem;
	text-align: center;
	color: black;
}