---
layout: page
title: Events
permalink: /events/
nav: true
order: 6
redirect_from:
  - /events
---
<header><hgroup>
<p>Current and upcoming events hosted, sponsored, or partnered on by the Scholars' Lab.</p>
</hgroup></header>

<div class="content">
<h2>Upcoming events</h2>

<!-- temp hardcoded until Jeremy swaps in new LibCal pull -->
		<section class="events-gallery__item">
			<h3><a href="https://cal.lib.virginia.edu/event/13365703">Scholars' Lab DH Fellows Info Session</a></h3>
			<div class="events-item__logistics">
				<div class="events-logistics__time"><span>When: </span>January 15, 2025 1-2pm</div>
				<div class="events-logistics__place"><span>Where: </span>Online</div>
				<div><span>Register: </span><a href="https://cal.lib.virginia.edu/event/13365703">https://cal.lib.virginia.edu/event/13365703</a></div>
			</div>
		</section> 

		<section class="events-gallery__item">
			<h3><a href="https://cal.lib.virginia.edu/event/13768179">"Barriers to Belonging": disability justice & zine-making workshop</a></h3>
			<div class="events-item__logistics">
				<div class="events-logistics__time"><span>When: </span>January 22, 2025 9:30am-11:30am</div>
				<div class="events-logistics__place"><span>Where: </span>Shannon 308 (Scholars' Lab Common Room)</div>
				<div><span>Register: </span><a href="https://cal.lib.virginia.edu/event/13768179">https://cal.lib.virginia.edu/event/13768179</a></div>
			</div>
		</section>
<!-- end temp hardcoded events -->



<!-- removed old code pulling from now-epty events md folder -->




<h2>Recent events</h2>
<p>Any events from this academic year that have already happened. Events from before this academic year can be found in our <a href="/events-archive">past event archive</a>.</p>

<ul class="page-previous_posts">
	{% for event in events %}
		{% assign eventdate = event.start_date | date: '%Y%m%d' | plus:0 %}
		{% if eventdate >= today %}
			{% continue %}
		{% endif %}
		{% assign currentyear = event.start_date | date: "%Y" %}
		{% if currentyear != year %}
			{% unless forloop.first %}
				</ul>
			{% endunless %}
			<h3>{{ currentyear }}</h3>
			<ul>
			{% assign year = currentyear %}
		{% endif %}
		<li><a href="/events/{{ event.slug }}">{{ event.title }}</a> ({{ event.start_date | date: "%A, %B %-d, %Y" }})</li>
		{% if forloop.last %}
			</ul>
		{% endif %}
	{% endfor %}
</ul>

</div> <!-- ends .content -->