---
layout: page
title: Events
permalink: /events/
nav: true
order: 6
redirect_from:
  - /events
---
<header><hgroup>
<p>Current and upcoming events hosted, sponsored, or partnered on by the Scholars' Lab. (<a href="/event-archive">See past event archive</a>.)</p>
</hgroup></header>

<div class="content">
{% assign events = site.events | sort: 'start_date' %}
{% assign today = site.time | date: '%Y%m%d' | plus: 0 %}
{% for event in events %}
	{% assign eventdate = event.start_date | date: '%Y%m%d' | plus:0 %}
	{% if eventdate >= today %}
		<section class="events-gallery__item">
			<h3><a href="/events/{{ event.slug }}">{{ event.title }}</a></h3>
			<!-- remove trailing seconds zeros on time -->
			{% assign start_time = event.start_time | date: "%r" | remove: ":00 " %}
			{% assign end_time = event.end_time | date: "%r" | remove: ":00 " %}
			<!-- check for leading zero -->
			{% assign zerocheck1 = start_time | slice: 0 %}
			{% assign zerocheck2 = end_time | slice: 0 %}
			<!-- remove if present -->
			{% if zerocheck1 == '0' %}
				{% assign start_time = start_time | slice: 1, 6 %}
			{% endif %}
			{% if zerocheck2 == '0' %}
				{% assign end_time = end_time | slice: 1, 6 %}
			{% endif %}
			<div class="events-item__logistics">
				<div class="events-logistics__time"><span>When: </span>{{ event.start_date | date: "%A, %B %-d, %Y" }}, {{ start_time }}-{{ end_time }}</div>
				<div class="events-logistics__place"><span>Where: </span>{{ event.location }}</div>
			</div>
			<div class="events-item__cta">
				<a href="/events/{{ event.slug }}">Details &rsaquo;</a>
			</div>
		</section>
	{% endif %}
{% endfor %} <!-- end event -->

</div>