---
---
/* Stylesheet table of contents:
Variables
General Styles
Site Banner
Navigation
Footer
Main content for all pages
	People image/name/role sections on unit pages
Homepage Styles
/work projects browse
Individual work projects pages
/people grid page
Individual people (bio) pages
/makerspace AND /use-the-lab pages: weekly calendar hours styling
/makerspace page
/blog
Individual post pages
*/

/********************************************************************/
/* Variables */
:root {
	/* Brand Fonts */
	--franklin-gothic-urw: franklin-gothic-urw, Arial, sans-serif;
	--franklin-gothic-urw-comp: franklin-gothic-urw-comp, Arial, sans-serif;
	--franklin-gothic-urw-cond: franklin-gothic-urw-cond, Arial, sans-serif;
	--adobe-caslon-pro: adobe-caslon-pro, Garamond, serif;
	--bodoni-urw: bodoni-urw, serif;

	/* Brand Color Palette*/
	--uvalib-main-rotunda-orange: #E57200;
	--uvalib-main-jefferson-blue: #232D4B;
	--uvalib-main-white: #FFFFFF;
	--uvalib-main-black: #000000;

	/*Secondary Brand Colors*/
	--uvalib-secondary-web-orange: rgb(235, 95, 12);
	--uvalib-secondary-web-blue: #141E3C;
	--uvalib-secondary-light-gray: #F1F1F1;
	--uvalib-secondary-medium-gray: #DADADA;
	--uvalib-text-grey: #595959;
	--uvalib-text-dk-grey: #474747;
	--uvalib-text-almost-black: #212121;
	--uvalib-secondary-emergency-red: #E00000;
	--uvalib-secondary-cyan: rgb(0, 159, 223);
	--uvalib-secondary-yellow: #FDDA24;
	--uvalib-secondary-teal: #25CAD3;
	--uvalib-secondary-magenta: #EF3F6B;
	--uvalib-secondary-green: #008000;

	/*Custom SLab Colors*/
	--blue-alt-dark:#005679;
	--blue-alt:#007BAC;
	--blue-alt-light:#55C4EC;
	--blue-alt-lighter:#91D8F2;
	--blue-alt-lightest:#BFE7F7;
	--teal-darker:#16777C;
	--teal-dark:#1DA1A8;
	--teal:#25CAD3;
	--teal-light:#5BD7DE;
	--teal-lightest:#C8F2F4;
	--grape:rgb(111, 45, 189);
	--pale-aqua:rgb(184, 208, 235);
	--diamond: rgb(185, 250, 248);
	--darkpastelpurple: rgb(154, 119, 210);
	--medskyblue:rgb(117, 227, 239);

	/* Colors from SLab rainbow vines-hand logo */
	--logo-red-orange:#FE5102
	--logo-light-orange:#FEA607
	--logo-yellow:#FED80B
	--logo-lime-green:#A3CE13
	--logo-jade-green:#2EC378
	--logo-aqua-blue:#06C5D7
	--logo-sky-blue:#179EF9
	--logo-bubblegum-pink:#F47EA2
	--logo-grape-purple:#AF78D5

}

/********************************************************************/
/* General Styles: */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: white;
	font-family: var(--franklin-gothic-urw);
	font-size: 20px;
	line-height: 1.5; // if 16px, = 24px line height
	color: var(--uvalib-text-almost-black);
	min-width: 350px;
}

iframe {
    width: 100%;
}

img {
	max-width: 100%;
	width: auto;
	height: auto;
}

.center-align {
	text-align: center;
}

/* Visually hide but allow screen reader access. */
.audible {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
	&.focusable:active,
	&.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		white-space: inherit;
		width: auto;
	}
}

a {
	&:link{
		color: var(--blue-alt-dark);
	}
	&:visited{
		color: var(--blue-alt);
	}
	&:hover,
	&:focus {
		color: var(--blue-alt-dark);
		text-decoration:none;
	}
	&:active{
		color: var(--uvalib-text-almost-black);
	}
}

h1,h2,h3,h4 {
	font-family: var(--franklin-gothic-urw-comp);
	text-transform: uppercase;
}

#banner {
	font-family: var(--franklin-gothic-urw-comp);
	text-transform: uppercase;
	-webkit-position: sticky;
	position: sticky;
	top:0;
}

.stats-box, #stats-box {
	position: relative;
	border: 4px solid var(--blue-alt-dark);
	font-family:  monospace;
	font-size: 18px;
	padding: 0em 1em;
	span {
		color: rgba(0,0,0,.5);
	}
}

body.post article {

	figure {
		margin: 0 0 1rem;
		padding:0;
	}

	blockquote {
		color: var(--uvalib-text-dk-grey);
		padding:  0 0 1rem;
		margin:0;
		font: 2rem var(--franklin-gothic-urw-comp);
		p:first-child {
			margin-top:0;
		}
		p:last-child {
			margin-bottom:0;
		}
	}

	blockquote + figcaption {
		font-size: 0.9rem;
		padding: 1rem 0;
		color: #999;
		border-top: 1px solid #eee;
		width: fit-content;
		p {
			margin-top:0;
		}


	}
}

/********************************************************************/
/* Site Banner */
#scholarslab-header {
	display:flex;
	justify-content: space-between;
	padding: 1rem;
	flex-wrap: wrap;
	width: 100%;
	background: white;
	border-top: 0.5rem solid var(--uvalib-main-rotunda-orange);
	border-bottom: 1px solid #ddd;
}

#slab-logo {
	display:block;
	text-decoration:none;
	width: 50%;
	max-width: 300px;

	img {
		margin:0;
	}

}

button.menu-toggle {
	outline:none;
	border:none;
	margin:0;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	font-size: 1.5rem;
	background: none;
	color: var(--uvalib-main-jefferson-blue);

	&:hover,
	&:focus {
		color: var(--blue-alt);
	}

}

#global-navigation {
	width: 100%;
	flex-basis: 100%;
	display:block;

	ul.dropdown-menu {
		clear:both;
		width: 100%;
		max-width: 1200px;
		flex-wrap: wrap;
		gap: 2rem;
		list-style: none;
		margin:0 auto;
		padding:3rem;
		justify-content: space-around;
		& > li {
			flex: 1 1 calc(33.333% - 2rem); /* 20px should match the gap on the container */
			box-sizing: border-box;
			font-weight: bold;
			font-size: 1.5rem;
			& > a {
				border-bottom: 1px solid var(--blue-alt-lightest);
			}

			ul {
				list-style: square;
				padding-left: 1.25rem;
				font-weight: normal;
				font-size: 1.25rem;
				::marker {
					color: var(--blue-alt-lighter);
				}
			}
		}
	}

	a {
		display:block;
		text-decoration:none;
		&:link,
		&:visited {
			color: var(--blue-alt-dark);
		}

		&:hover,
		&:focus,
		&:active {
			color: var(--blue-alt);
		}
	}

	a,
	button {
		flex: 1 1;
		justify-content: space-between;
	}

	.hide {
		display: none !important;
	}

	.show {
		display: flex !important;
	}

	.transitioning {
		display: flex !important;
	}
}

/********************************************************************/
/* Main content for all pages. */
#main {

	& > header:first-of-type,
	body.post & article header:first-of-type
	{
		padding: 4rem 0 0;
		display:flex;
		flex-direction: column;
		justify-content: flex-end;
		min-height: 10vh;
		background-color: rgba(0,0,0,0.0325);
		background-image: url('/assets/img/decorative/tiles/hypnotize.png');
		background-size:200px;
		border-bottom: 1px solid #ddd;

		@media screen and (min-width: 900px) {
			min-height: 30vh;
		}

		hgroup {
			max-width: 900px;
			margin: 0 auto;
			width: 100%;
			padding: 0 2rem;
		}

		h1 {
			font-size: 3rem;
			@media screen and (min-width: 900px) {
			font-size: 5rem;
			}
			margin-top:0;
			line-height: 1.2;
		}
	}

	.content {
		max-width: 900px;
		margin: 0 auto;
		padding: 0 2rem 2rem;
	}
}

/********************************************************************/
/* Homepage Styles */
.home #introduction {
	padding: 0 2rem;
	display:flex;
	flex-direction:column;
	flex-wrap: nowrap;
	justify-content: center;
	min-height: 400px;
	background-color: rgba(0,0,0,0.0325);
	background-image: url('/assets/img/decorative/tiles/hypnotize.png');
	background-size: 200px;

	h1 {
		font-size: 4rem;
		text-transform: none;
		line-height:1;
		margin:0 0 1rem;
	}

	p {
		margin:0;
	}

	@media screen and (min-width: 700px) {
		background-image:
			url('/assets/img/logos/slab-logos/Transparent-SLabVinesHandsLogo-CCBYNC.png'),
			url('/assets/img/decorative/tiles/hypnotize.png');
		background-size: contain, 200px;
		background-position: bottom right;
		background-repeat: no-repeat, repeat;
		padding-right: 50%;
	}

}

#newsletter {
	padding: 1rem;
	text-align: center;
	font-size: 1.5rem;
	background-color: var(--teal-lightest);
}

section.feature {
	padding: 2rem;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed;

	div {
		background: white;
	}

	div:not(:last-child) {
	margin-bottom: 30px;
	}

	div h2 {
		margin-top:0;
	}

	figure {
		display:block;
		margin:0;
		padding:0;
		img {
			max-width: 100%;
			width: auto;
			height: auto;
			box-shadow: 5px 5px 0 var(--darkpastelpurple);
		}
	}

	&#updates {


		h2 {
			margin:0 0 2rem -1.7rem;
			font-size: 1.2rem;
			border-left: 1.2rem solid var(--blue-alt-lightest);
			line-height: 1;
			padding-left: 0.5rem;
		}

		h3,p {
			margin:0;
			line-height: 1;
		}

		ul {
			list-style:none;
			margin:0;
			padding:0;
			font-size: 1rem;
		}

		.see-all {
			text-decoration:none;
			background-color: var(--blue-alt);
			color: white;
			padding: 0.5rem 1rem;
			width: fit-content;
			display:block;
			margin-top: 2rem;
			transition: background-color .25s;
			border-radius: 10px;
			&:hover,
			&:focus {
				background-color: var(--blue-alt-light);
			}

		}

		#upcoming-events {
			li + li {
				margin-top: 1rem;
			}

			li a {
				text-decoration:none;
				display:flex;
				color: var(--uvalib-text-dk-grey);
				align-items: center;
				gap: 1rem;
			}
			.time {
				border: 1px solid #999;
				border-top-color: #ddd;
				border-left-color: #ddd;
				text-align: center;
				width: 3rem;
				padding: 0.5rem;

				span {
					display:block;
					margin:0;
					line-height: 1;
					&.day {
						font-weight: bold;
						font-size: 1.75rem;
					}
				}
			}
			strong {
				font-size: 1.2rem;
			}
		}

		#recent-activity li + li:before,
		#recent-posts li + li:before {
			display:block;
			content: ' ';
			margin: 1rem auto;
			width: 20px;
			background: var(--blue-alt-lighter);
			height: 3px;
		}
	}

	&#lab-space-and-makerspace {
		display:flex;
		flex-direction: row;
		flex-wrap: wrap;
		h2 {
			width: 100%;
			background-color: white;
			margin:0;
			padding: 1rem 2rem;
		}
		div:not(:first-child) {
			flex: 1;
			padding: 0 2rem 2rem;
		}
	}

	@media screen and (min-width: 700px) {
		padding: 4rem;
		display:flex;
		gap: 1rem;

		&#updates {
			display:flex;
			flex-direction: row;
			flex-wrap: nowrap;
			gap: 2rem;
			padding: 2rem 3.7rem;
			div {
				flex:1;
			}
		}

		&:nth-child(odd) {
			flex-direction: row-reverse;
		}

		& + section {
			border-top: 1px dashed var(--uvalib-secondary-medium-gray);
		}

		div,figure {
			flex:1;
		}

	}
}

.photo-byline {
	color: var(--uvalib-text-dk-grey);
	font-style: italic;
	font-size: 16px;
}


/********************************************************************/
/* Projects browse */
.our-projects section {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2rem;
}

.our-projects section h2 {
	width: 100%;
}

.our-projects section a {
	width: 20%;
	text-decoration:none;
}

.our-projects section a p {
	font-size: 1rem;
	margin:0;
}

/********************************************************************/
/* Footer */
#footer {
	padding: 2rem;
	border-top: 1px solid #ccc;
	p {
		margin:0;
	}

	@media screen and (min-width: 700px) {

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;

	#back-to-top {
		text-align: right;
		color: white;
		text-decoration:none;
		background-color: var(--blue-alt);
		padding: 0.5rem 1rem;
		width: fit-content;
		display:block;
		transition: background-color .25s;
		border-radius: 10px;
		&:hover,
		&:focus {
			background-color: var(--blue-alt);
		}
		&:hover,
		&:active {
			background: var(--blue-alt-light);
		}
	}
	}
}

/* People image/name/role sections on unit pages */

.rd-person__img, #spatial-staff, .makerspace__people img {
	width: 50%;
}

/* Don't show a bullet next to each */
#rd-staff ul, #spatial-staff ul, #makerspace-staff ul {
	list-style-type: none;
}

#rd-staff li, #spatial-staff li, #makerspace-staff li {
	padding-bottom: 1em;
}

.rd-person__name, #spatial-staff .name, .makerspace-person__name {
	font-weight: bold;
}

/********************************************************************/
/* /work projects browse */
.our-projects section {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2rem;
}

.our-projects section h2 {
	width: 100%;
}

.our-projects section a {
	width: 20%;
	text-decoration:none;
}

.our-projects section a p {
	font-size: 1rem;
	margin:0;
}

/********************************************************************/
/* Individual work projects pages */

.project-image {
	text-align: center;
	padding-top: 1em;
}

/********************************************************************/
/* /people grid page */
body.people .gallery {
	display:flex;
	gap: 1rem;
	flex-wrap: wrap;
	justify-content: space-between;
	a {
		flex: 1 1 100%;
		max-width: 48%;
		@media screen and (min-width: 800px) {
			max-width: 23%;
		}
		display:inline-block;
		text-decoration:none;
		color: var(--uvalib-text-dk-grey);

		p {
			margin:0;
			line-height:1;
		}
		.person-name {
			font-weight: bold;
			margin-bottom: 0.25rem;
		}
		.person-role{
			font-size: 1rem;
		}
	}

}

#alumni ul, #students ul {
	list-style:none;
	margin:0;
	padding: 0;
	columns: 2;
	@media screen and (min-width: 800px) {
		columns: 4;

	}
	font-size: 1rem;

	a {
		text-decoration:none;
		display:block
	}

	li {
	break-inside: avoid-column;
	}
}

#alumni ul a {
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 0.5rem 1rem;
}

#students ul {
	a {
		padding: 0.5rem 0rem;
	}
	li {
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
}

/********************************************************************/
/** Individual people (bio) pages */

.person__img {
	padding-top: 1em;
}

/********************************************************************/
/* Use the Lab page & /makerspace page: weekly calendar hours styling */
.s-lc-whw thead { background-color: #F5F5F5; }
.s-lc-whw-head-date { color: #5F5F5F; }
.s-lc-whw-today-h {  background-color: #ddd; }
.s-lc-whw-today { background-color: #F5F5F5; }
.s-lc-whw-bh { text-align: right; white-space: nowrap; }
.s-lc-whw-locname { font-weight: bold;}
.s-lc-whw-sublocname{ padding-left: 10px!important; }
.s-lc-whw-footnote { color: #555; font-size: 80%; }
.s-lc-whw-footnote td:hover { background-color:#fff!important;}
/* Below styles can be removed if you are already using Bootstap v3 in host page */
.s-lc-whw-cont {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 12px;}
.s-lc-whw-pr, .s-lc-whw-ne{ padding: 5px 10px; font-size: 12px; line-height: 1.5; border-radius: 3px; color: #333; background-color: #fff; border-color: #ccc; display: inline-block; margin-bottom: 0; font-weight: 400; text-align: center; vertical-align: middle; cursor: pointer; background-image: none; border: 1px solid transparent; white-space: nowrap; }
.s-lc-whw-pr:disabled { background-color: #efefef; }
.s-lc-whw-ne:disabled { background-color: #efefef; }
.s-lc-whw { width: 100%; margin-bottom: 20px; max-width: 100%; background-color: transparent; border-bottom: none; border-left: none; border-collapse: collapse; border-spacing: 0; }
.s-lc-whw>tbody>tr>td { padding: 5px; }
.s-lc-whw>thead>tr>th { vertical-align: bottom; border-bottom: 2px solid #ddd; padding: 5px;}
.s-lc-whw th { border-top: none; border-bottom: none; border-right: none;}
.sr-only { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0,0,0,0); border: 0; }
@media (max-width: 768px) {
   .s-lc-whw-cont .table-responsive { width: 100%; margin-bottom: 15px; overflow-y: hidden; overflow-x: scroll; -ms-overflow-style: -ms-autohiding-scrollbar; border: 1px solid #ddd; -webkit-overflow-scrolling: touch; }
   .s-lc-whw td { white-space: nowrap; }
}

/********************************************************************/
/* /makerspace page */

.equipment_block {
	margin-bottom: 12vh;
}
.equipment {
	list-style: none;
	margin-left:0;
	padding-left:0;
	display:flex;
	flex-flow: column;
	align-items: flex-end;
	gap: 1rem;
	li {
		flex:1 1 250px;
		font-size: 1rem;
		text-align: center;
		max-width: 250px;
		margin: 0 auto;
	}
	@media screen and (min-width: 700px) {
		flex-flow: row wrap;
	}
}

#makerspace-students > ul > li > span {
	font-weight: bold;
}

.makerspace-button {
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
}
.makerspace-button:hover,
.makerspace-button:active,
.makerspace-button:focus {
    opacity: 0.88;
	color: var(--uvalib-main-white);
}
.makerspace-button:visited {
	color: var(--uvalib-main-white);
}
#printers > h4 {
	font-weight: normal;
}
.makerspace-notice {
	background-color: #fdd;
	color: #700;
	padding: 20px;
	border-radius: 22px;
	text-align: center;
	font-weight: bolder;
}

/********************************************************************/
/* /blog */

#latest-posts {
	margin: 0;
}

#latest-posts h3 {
	margin: 0;
}

#latest-posts .content {
	padding: 0;
}

#latest-posts .post {
  display: inline-block;
  vertical-align: top;
  padding: 0px 15px;
}

#latest-posts .post + .post:before {
	display:block;
	content: ' ';
	margin: 1rem auto 1rem auto;
	width: 60px;
	background: var(--uvalib-secondary-web-orange);
	height: 3px;
}

.byline {
	color: var(--uvalib-text-dk-grey);
	font-style: italic;
}

/********************************************************************/
/* Individual post pages */

h1.post-title {
	font-size: 3rem !important; /* figure out how to not use important, post-launch */
}

.post__credits {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 2rem 2rem;
	position: relative;
	&::before {
		content: '';
		display: block;
		height: 2px;
		width: 33%;
		background-color: rgba(0,0,0,.5);
	}
}

.post-credits__author {
	display: flex;
	align-items: center;
	padding-top: 1.5rem;
}

.post-author__image {
	position: relative;
	height: 64px;
	width: 64px;
	img {
		max-height: 100%;
		border-radius: 50%;
	}
}

.post-author__name {
	position: relative;
	padding-left: 1rem;
	opacity: .5;
	a, #anonymous {
		font-weight: 900;
	}
}

.post-credits__citation {
	position: relative;
	font-family:  monospace;
	font-weight: 200;
	color: var(--uvalib-text-dk-grey);
	span {
		display: block;
		padding: 1.5rem 0 .5rem 0;
		font-weight: 900;
		line-height: 1;
	}
	a {
		font-family: inherit !important;
		font-weight: inherit;
		color: inherit !important;
		border: inherit !important;
		word-break: break-word;
	}
}

#migration-alert {
    margin: 24px 0 -1em;
    padding: 18px;
    background: var(--uvalib-secondary-light-gray);
}

.post_crosspost{
padding: 20px;
margin-bottom: 15px;
margin-top: 15px;
}

.post_crosspost::before {
	content: "\2192";
}