---
---
/* Stylesheet table of contents:
Variables
General Styles
Site Banner
Navigation
Footer
Main content for all pages
	People image/name/role sections on unit pages
Homepage Styles
/work projects browse
Individual work projects pages
/people grid page
Individual people (bio) pages
/makerspace AND /use-the-lab pages: weekly calendar hours styling
/makerspace page
/blog
Individual post pages
*/

/********************************************************************/
/* Variables */
:root {
	/* Brand Fonts */
	--franklin-gothic-urw: franklin-gothic-urw, Arial, sans-serif;
	--franklin-gothic-urw-comp: franklin-gothic-urw-comp, Arial, sans-serif;
	--franklin-gothic-urw-cond: franklin-gothic-urw-cond, Arial, sans-serif;
	--adobe-caslon-pro: adobe-caslon-pro, Garamond, serif;
	--bodoni-urw: bodoni-urw, serif;

	/* Brand Color Palette*/
	--uvalib-main-rotunda-orange: #E57200;
	--uvalib-main-jefferson-blue: #232D4B;
	--uvalib-main-white: #FFFFFF;
	--uvalib-main-black: #000000;

	/*Secondary Brand Colors*/
	--uvalib-secondary-web-orange: rgb(235, 95, 12);
	--uvalib-secondary-web-blue: #141E3C;
	--uvalib-secondary-light-gray: #F1F1F1;
	--uvalib-secondary-medium-gray: #DADADA;
	--uvalib-text-grey: #595959;
	--uvalib-text-dk-grey: #474747;
	--uvalib-text-almost-black: #212121;
	--uvalib-secondary-emergency-red: #E00000;
	--uvalib-secondary-cyan: rgb(0, 159, 223);
	--uvalib-secondary-yellow: #FDDA24;
	--uvalib-secondary-teal: #25CAD3;
	--uvalib-secondary-magenta: #EF3F6B;
	--uvalib-secondary-green: #008000;

	/*Custom SLab Colors*/
	--blue-alt-dark:#005679;
	--blue-alt:#007BAC;
	--blue-alt-light:#55C4EC;
	--blue-alt-lighter:#91D8F2;
	--blue-alt-lightest:#BFE7F7;
	--teal-darker:#16777C;
	--teal-dark:#1DA1A8;
	--teal:#25CAD3;
	--teal-light:#5BD7DE;
	--teal-lightest:#C8F2F4;
	--grape:rgb(111, 45, 189);
	--pale-aqua:rgb(184, 208, 235);
	--diamond: rgb(185, 250, 248);
	--darkpastelpurple: rgb(154, 119, 210);
	--medskyblue:rgb(117, 227, 239);
	
	/* Colors from SLab rainbow vines-hand logo */
	--logo-red-orange:#FE5102
	--logo-light-orange:#FEA607
	--logo-yellow:#FED80B
	--logo-lime-green:#A3CE13
	--logo-jade-green:#2EC378
	--logo-aqua-blue:#06C5D7
	--logo-sky-blue:#179EF9
	--logo-bubblegum-pink:#F47EA2
	--logo-grape-purple:#AF78D5
		
}

/********************************************************************/
/* General Styles: */
* {
	box-sizing: border-box;
}

html {
	// background-image: linear-gradient(to right, $teal-light 50%, rgba($teal-light, 0) 50%),
	// 	linear-gradient(to right, $teal-lightest, $teal-lightest);
	// background-size: 100px 100px, 10px 30px;
	// background-position: top left;
	// background-repeat: repeat-x;
	// padding-top: 10px;
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--franklin-gothic-urw);
	font-size: 20px;
	line-height: 1.5; // if 16px, = 24px line height
	color: var(--uvalib-text-almost-black);
	min-width: 350px;
}

iframe {
    width: 100%;
}

img {
	max-width: 100%;
	width: auto;
	height: auto;
}

.center-align {
	text-align: center;
}

a {
	&:link{
		color: var(--blue-alt-dark);
	}
	&:visited{
		color: var(--blue-alt);
	}
	&:hover,
	&:focus {
		color: var(--blue-alt-dark);
		text-decoration:none;
	}
	&:active{
		color: var(--uvalib-text-almost-black);
	}
}

h1,h2,h3,h4 {
	font-family: var(--franklin-gothic-urw-comp);
	text-transform: uppercase;
}

#banner {
	font-family: var(--franklin-gothic-urw-comp);
	text-transform: uppercase;
}

.stats-box, #stats-box {
	position: relative;
	border: 4px solid var(--blue-alt-dark);
	font-family:  monospace;
	font-size: 18px;
	padding: 0em 1em;
	span {
		color: rgba(0,0,0,.5);
	}
}

/********************************************************************/
/* Site Banner */
#scholarslab-header {
	position: relative;
	padding: 1rem;
	#global-navigation > .menu-toggle {
		position: absolute;
		top: 1rem;
		right: 1rem;
	}
}

#slab-logo {
	display:block;
	text-decoration:none;
	width: 300px;

	img {
		margin:0;
	}

}

#global-navigation {
	ul {
		display: none;
		flex-direction: column;
		list-style: none;
		padding: 0;
		width: 100%;
		min-width: max-content;
		font-size: 1rem;
	}

	li {
		padding: 0;
		min-width: min-content;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	button {
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		background: none;
		color: black;
		outline:none;
		border:none;
		font-size: 1.5rem;
	}

	a {
		display:flex;
		align-items: center;
		text-decoration:none;
		&:link,
		&:visited {
		}

		&:hover,
		&:focus,
		&:active {
		}
	}

	a,
	button {
		flex: 1 1;
		justify-content: space-between;
		gap: var(1rem, 1.5rem);
	}

	.dropdown-toggle {
		flex-shrink: 1;
		flex-grow: 0;
		&::after {
			display: flex;
			content: "▾";
			align-items: center;
			justify-content: center;
			transition: transform 300ms ease;
		}

		&[aria-expanded="true"]::after {
			transform: rotate(-180deg);
		}
	}
	.hide {
		display: none !important;
	}

	.show {
		display: flex !important;
		opacity: 1;
	}

	.transitioning {
		display: flex !important;
		opacity: 0;
	}
}

@media screen and (min-width: 900px) {
	.menu-toggle {
		display: none !important;
	}

	#scholarslab-header {
		display:flex;
		flex-direction: row;
		flex-wrap:nowrap;
		justify-content: space-between;
		padding: 1rem;
	}

	#global-navigation {
		.dropdown-toggle {
			display:none;
		}

		 ul,
		> ul.hide {
		display: flex !important;
		flex-direction: row;
		justify-content: space-between;
		margin: 0;
			li {
				padding: 0 0 0 1rem;
				ul {
				position: absolute;
				top: 3rem;
				right:0;
				width:fit-content;
				justify-content: flex-end;
				}
			}
		}
		ul.show {
			background: white;
			padding: 1rem !important;
			position:absolute;
			li {
				display:inline !important;
			}

		}
	}
}

/********************************************************************/
/* Main content for all pages. */
#main {

	& > header:first-of-type,
	body.post & article header:first-of-type
	{
		padding: 4rem 0 0;
		display:flex;
		flex-direction: column;
		justify-content: flex-end;
		min-height: 10vh;
		background-color: rgba(0,0,0,0.0325);
		background-image: url('/assets/img/decorative/tiles/hypnotize.png');
		background-size:200px;

		@media screen and (min-width: 900px) {
			min-height: 30vh;
		}

		hgroup {
			max-width: 900px;
			margin: 0 auto;
			width: 100%;
			border-bottom: 2rem solid white;
			padding: 0 2rem;
		}

		h1 {
			font-size: 3rem;
			@media screen and (min-width: 900px) {
			font-size: 5rem;
			}
			margin-top:0;
			line-height: 1.2;
		}
	}

	.content {
		max-width: 900px;
		margin: 0 auto;
		padding: 0 2rem 2rem;
	}
}

/********************************************************************/
/* Homepage Styles */
#introduction {
	padding: 0 2rem;
	display:flex;
	flex-direction:column;
	flex-wrap: nowrap;
	justify-content: center;
	min-height: 400px;
	background-color: rgba(0,0,0,0.0325);
	background-image: url('/assets/img/decorative/tiles/hypnotize.png'); 
	background-size: 200px;
	
	h1 {
		font-size: 4rem;
		text-transform: none;
		line-height:1;
		margin:0 0 1rem;
	}

	p {
		margin:0;
	}
	
	@media screen and (min-width: 700px) {
		background-image: 
			url('/assets/img/logos/slab-logos/Transparent-SLabVinesHandsLogo-CCBYNC.png'),
			url('/assets/img/decorative/tiles/hypnotize.png');
		background-size: contain, 200px;
		background-position: bottom right;
		background-repeat: no-repeat, repeat;
		padding-right: 50%;
	}
	
}

#newsletter {
	padding: 1rem;
	text-align: center;
	font-size: 1.5rem;
	background-color: var(--teal-lightest);
}

section.feature {
	padding: 2rem;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed;

	div {
		background: white;
	}
	
	div:not(:last-child) {
	margin-bottom: 30px;
	}

	div h2 {
		margin-top:0;
	}

	figure {
		display:block;
		margin:0;
		padding:0;
		img {
			max-width: 100%;
			width: auto;
			height: auto;
			box-shadow: 5px 5px 0 var(--darkpastelpurple);
		}
	}

	&#updates {


		h2 {
			margin:0 0 2rem -1.7rem;
			font-size: 1.2rem;
			border-left: 1.2rem solid var(--blue-alt-lightest);
			line-height: 1;
			padding-left: 0.5rem;
		}

		h3,p {
			margin:0;
			line-height: 1;
		}

		ul {
			list-style:none;
			margin:0;
			padding:0;
			font-size: 1rem;
		}

		.see-all {
			text-decoration:none;
			background-color: var(--blue-alt);
			color: white;
			padding: 0.5rem 1rem;
			width: fit-content;
			display:block;
			margin-top: 2rem;
			transition: background-color .25s;
			border-radius: 10px;
			&:hover,
			&:focus {
				background-color: var(--blue-alt-light);
			}

		}

		#upcoming-events {
			li + li {
				margin-top: 1rem;
			}

			li a {
				text-decoration:none;
				display:flex;
				color: var(--uvalib-text-dk-grey);
				align-items: center;
				gap: 1rem;
			}
			time {
				border: 1px solid #999;
				border-top-color: #ddd;
				border-left-color: #ddd;
				text-align: center;
				width: 3rem;
				padding: 0.5rem;

				span {
					display:block;
					margin:0;
					line-height: 1;
					&.day {
						font-weight: bold;
						font-size: 1.75rem;
					}
				}
			}
			strong {
				font-size: 1.2rem;
			}
		}

		#recent-activity li + li:before,
		#recent-posts li + li:before {
			display:block;
			content: ' ';
			margin: 1rem auto;
			width: 20px;
			background: var(--blue-alt-lighter);
			height: 3px;
		}
	}

	&#lab-space-and-makerspace {
		display:flex;
		flex-direction: row;
		flex-wrap: wrap;
		h2 {
			width: 100%;
			background-color: white;
			margin:0;
			padding: 1rem 2rem;
		}
		div:not(:first-child) {
			flex: 1;
			padding: 0 2rem 2rem;
		}
	}

	@media screen and (min-width: 700px) {
		padding: 4rem;
		display:flex;
		gap: 1rem;

		&#updates {
			display:flex;
			flex-direction: row;
			flex-wrap: nowrap;
			gap: 2rem;
			padding: 2rem 3.7rem;
			div {
				flex:1;
			}
		}
		
		&:nth-child(odd) {
			flex-direction: row-reverse;
		}

		& + section {
			border-top: 1px dashed var(--uvalib-secondary-medium-gray);
		}

		div,figure {
			flex:1;
		}
		
	}
}


/********************************************************************/
/* Projects browse */
.our-projects section {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2rem;
}

.our-projects section h2 {
	width: 100%;
}

.our-projects section a {
	width: 20%;
	text-decoration:none;
}

.our-projects section a p {
	font-size: 1rem;
	margin:0;
}

/********************************************************************/
/* Footer */
#footer {
	padding: 1rem;
	p {
		margin:0;
	}

}

/* People image/name/role sections on unit pages */

.rd-person__img, .spatial-person__img, .makerspace__people img {
	width: 50%;
}

/* Don't show a bullet next to each */
#rd-staff ul, .spatial__people ul, #makerspace-staff ul {
	list-style-type: none;
}

#rd-staff li, .spatial__people li, #makerspace-staff li {
	padding-bottom: 1em;
}

.rd-person__name, .spatial-person__name, .makerspace-person__name {
	font-weight: bold;
}

/********************************************************************/
/* /work projects browse */
.our-projects section {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2rem;
}

.our-projects section h2 {
	width: 100%;
}

.our-projects section a {
	width: 20%;
	text-decoration:none;
}

.our-projects section a p {
	font-size: 1rem;
	margin:0;
}

/********************************************************************/
/* Individual work projects pages */

.project-image {
	text-align: center;
	padding-top: 1em;
}

/********************************************************************/
/* /people grid page */
body.people .gallery {
	display:flex;
	gap: 1rem;
	flex-wrap: wrap;
	justify-content: space-between;
	a {
		flex: 1 1 100%;
		max-width: 48%;
		@media screen and (min-width: 800px) {
			max-width: 23%;
		}
		display:inline-block;
		text-decoration:none;
		color: var(--uvalib-text-dk-grey);

		p {
			margin:0;
			line-height:1;
		}
		.person-name {
			font-weight: bold;
			margin-bottom: 0.25rem;
		}
		.person-role{
			font-size: 1rem;
		}
	}

}

#alumni ul, #students ul {
	list-style:none;
	margin:0;
	padding: 0;
	columns: 2;
	@media screen and (min-width: 800px) {
		columns: 4;

	}
	font-size: 1rem;

	a {
		text-decoration:none;
		display:block
	}

	li {
	break-inside: avoid-column;
	}
}

#alumni ul a {
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 0.5rem 1rem;
}

#students ul {
	a {
		padding: 0.5rem 0rem;
	}
	li {
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
}

/********************************************************************/
/** Individual people (bio) pages */

.person__img {
	padding-top: 1em;
}

/********************************************************************/
/* Use the Lab page & /makerspace page: weekly calendar hours styling */
.s-lc-whw thead { background-color: #F5F5F5; }
.s-lc-whw-head-date { color: #5F5F5F; }
.s-lc-whw-today-h {  background-color: #ddd; }
.s-lc-whw-today { background-color: #F5F5F5; }
.s-lc-whw-bh { text-align: right; white-space: nowrap; }
.s-lc-whw-locname { font-weight: bold;}
.s-lc-whw-sublocname{ padding-left: 10px!important; }
.s-lc-whw-footnote { color: #555; font-size: 80%; }
.s-lc-whw-footnote td:hover { background-color:#fff!important;}
/* Below styles can be removed if you are already using Bootstap v3 in host page */
.s-lc-whw-cont {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 12px;}
.s-lc-whw-pr, .s-lc-whw-ne{ padding: 5px 10px; font-size: 12px; line-height: 1.5; border-radius: 3px; color: #333; background-color: #fff; border-color: #ccc; display: inline-block; margin-bottom: 0; font-weight: 400; text-align: center; vertical-align: middle; cursor: pointer; background-image: none; border: 1px solid transparent; white-space: nowrap; }
.s-lc-whw-pr:disabled { background-color: #efefef; }
.s-lc-whw-ne:disabled { background-color: #efefef; }
.s-lc-whw { width: 100%; margin-bottom: 20px; max-width: 100%; background-color: transparent; border-bottom: none; border-left: none; border-collapse: collapse; border-spacing: 0; }
.s-lc-whw>tbody>tr>td { padding: 5px; }
.s-lc-whw>thead>tr>th { vertical-align: bottom; border-bottom: 2px solid #ddd; padding: 5px;}
.s-lc-whw th { border-top: none; border-bottom: none; border-right: none;}
.sr-only { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0,0,0,0); border: 0; }
@media (max-width: 768px) {
   .s-lc-whw-cont .table-responsive { width: 100%; margin-bottom: 15px; overflow-y: hidden; overflow-x: scroll; -ms-overflow-style: -ms-autohiding-scrollbar; border: 1px solid #ddd; -webkit-overflow-scrolling: touch; }
   .s-lc-whw td { white-space: nowrap; }
}

/********************************************************************/
/* /makerspace page */

.equipment {
	list-style: none;
	margin-left:0;
	padding-left:0;
	display:flex;
	gap: 1rem;
	li {
		flex:1;
		font-size: 1rem;

		#laser-cutting & {
			max-width: 30%;
		}
	}
}


  #mysched_41069 {
    background: #702dbe;
    border: 1px solid #cccccc;
    border-radius: 4px;
    color: #ffffff;
    font: 14px Arial, Helvetica, Verdana;
    padding: 8px 20px;
    cursor: pointer;
  }

  #mysched_41069:hover,
  #mysched_41069:active,
  #mysched_41069:focus {
    opacity: 0.9;
  }
  #eq_0 {
    background: #702dbe;
    border: 1px solid #cccccc;
    border-radius: 8px;
    color: #ffffff;
    font: 14px Arial, Helvetica, Verdana;
    padding: 8px 20px;
    cursor: pointer;
  }
  #eq_0:hover,
  #eq_0:active,
  #eq_0:focus {
    opacity: 0.9;
  }

  .darker-background {
    background-color: rgb(207, 251, 255);
    border-radius: 10px;
  }
  .lighter-background {
    background-color: #f2d9ff;
    border-radius: 10px;
  }

/********************************************************************/
/* /blog */

#latest-posts {
	margin: 0;
}

#latest-posts h3 {
	margin: 0;
}

#latest-posts .content {
	padding: 0;
}

#latest-posts .post {
  border: solid var(--grape);
  text-align: justify;
  border-width: 0 3px;
  display: inline-block;
  vertical-align: top;
  padding: 5px 15px;
  margin: 20px;

#latest-posts.post:before {
	display:block;
	content: ' ';
	margin: 1rem auto;
	width: 20px;
	background: var(--uvalib-secondary-web-orange);
	height: 3px;
}

}

.byline {
	color: var(--uvalib-text-dk-grey);
	font-style: italic;
}


/********************************************************************/
/* Individual post pages */

h1.post-title {
	font-size: 3rem !important; /* figure out how to not use important, post-launch */
}

.post__credits {
	position: relative;
	grid-area: footer;
	margin-top: 2em; // paragraph above has 1em by default
	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 2px;
		width: 33%;
		background-color: rgba(0,0,0,.5);
	}
}

.post-credits__author {
	display: flex;
	align-items: center;
	padding-top: 1.5rem;
}

.post-author__image {
	position: relative;
	height: 64px;
	width: 64px;
	img {
		max-height: 100%;
		border-radius: 50%;
	}
}

.post-author__name {
	position: relative;
	padding-left: 1rem;
	opacity: .5;
	a, #anonymous {
		font-weight: 900;
	}
}

.post-credits__citation {
	position: relative;
	font-family:  monospace;
	font-weight: 200;
	color: var(--uvalib-text-dk-grey);
	span {
		display: block;
		padding: 1.5rem 0 .5rem 0;
		font-weight: 900;
		line-height: 1;
	}
	a {
		font-family: inherit !important;
		font-weight: inherit;
		color: inherit !important;
		border: inherit !important;
		word-break: break-word;
	}
}

#migration-alert {
    margin: 24px 0 -1em;
    padding: 18px;
    background: var(--uvalib-secondary-light-gray);
}

.post_crosspost{
padding: 20px;
margin-bottom: 15px;
margin-top: 15px;
}

.post_crosspost::before {
	content: "\2192";
}