---
---

/* General Styles: */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Raleway", sans-serif;
	line-height: 1.5; // if 16px, = 24px line height
}

iframe {
    width: 100%;
}

img {
	max-width: 100%;
	width: auto;
	height: auto;
}

/*
 * Possibly prevents horizontal scroll on any
 * embeded Github gists.
 */
.gist td {
	max-width: 600px;
}


/* Partials: */

@import "_colors/slab-palette";

#library-banner {
	padding: 1rem;
}

#library-link {
	display: block;
	width: 150px;
}

#scholarslab-header {
	padding: 2rem;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap:nowrap;

	.home & {
		min-height: 40vh;

		hgroup {
			align-self:flex-end;
		}

	}

	p {
		margin:0;
	}

}

#slab-logo {
	display:block;
	width: 120px;

	body.home & {
		width: 300px;
	}

	height: auto;
}

#slab-logo svg {
	fill: #ffffff;
	max-width:100%;
}

#global-navigation {
	text-align: right;
}

#primary-navigation {
	font-size: 1.2rem;
	font-weight: 100;
}

#secondary-navigation {
	font-size: 0.9rem;
	font-weight: 100;
}

nav a {
	display:inline-block;
	text-decoration:none;
	padding: 0.5rem;
}

nav a:link,
nav a:visited {
	color: white;
	color: rgba(255,255,255,0.875);
}

nav a:hover,
nav a:focus,
nav a:active,
#secondary-navigation a {
	color: white;
}

#secondary-navigation a {
	padding-top: 0.5rem;
}


body.for-students a.opportunities,
body.research-and-development a.code-design,
body.makerspace a.makerspace,
body.spatial-tech a.spatial-tech,
body.our-work a.our-work {
	font-weight: 600;
	color: white;
	border-bottom: 5px solid rgba($blue-alt-light,0.5);
}

#secondary-navigation {
	border-top: 2px solid rgba($blue-alt-light,0.5);
}


#banner,
#main > header,
#main > article header
 {
	background: rgba($brand-blue, 1);
	color: white;
}

#library-banner {
	background: rgba(0,0,0,.125);
}

#newsletter {
	background: $teal-darker;
	color: white;
	padding: 1rem;
	text-align: center;
	font-size: 1.5rem;
}

section.feature {
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	min-height: 400px;

	&:nth-child(even) {
		flex-direction: row-reverse;
	}

	div {
		width:50%;
		padding: 2rem;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	&#recent-activity {
		min-height: auto;
		div {
			justify-content: flex-start;
		}
	}
	figure {
		display:block;
		width: 50%;
		background: rgba($brand-blue, .25);
		margin:0;
		padding:0;
		position: relative;
		img {
			max-width: 100%;
			width: auto;
			height: auto;
		}
		figcaption {
			position:absolute;
			bottom:0;
			left:0;
		}
	}

}

#main {
	& > header:first-of-type,
	body.post & article header:first-of-type
	{
		background: rgba($brand-blue, 1);
		color: white;
		padding: 2rem 0;
		display:flex;
		flex-direction: column;
		justify-content: flex-end;
		min-height: 30vh;

		h1 {
			margin:0 auto;
			font-size: 3rem;
			max-width: 900px;
		}
	}

	.content {
		max-width: 900px;
		margin: 0 auto;
	}
}


#footer {
	background: $blue-alt-dark;
	color: white;
	padding: 1rem;
	p {
		margin:0;
	}

}