---
layout: page
title: Spatial Tech
permalink: /spatial-technologies/
nav: true
redirect_from:
  - /geospatial-services
---

<div class="spatial-main-content">

<div class="spatial__mission">
	<h2>What We Do</h2>
	<div class="spatial-mission__text">
		<p>We provide training, consultations, and collaboration on the latest software, equipment, and methods, including GIS, 3D modeling, laser scanning, aerial drones, photogrammetry, virtual and augmented reality, and more.</p>
	</div>
</div>

<div class="spatial__starting">
	<h2>Get in touch</h2>
	<div class="spatial-starting__how">
		<h3>Email</h3>
		<ul class="spatial-starting__chi">
			<li><a href="mailto:spatial@virginia.edu">Email the Spatial Tech experts</a> at spatial@virginia.edu</li>
		</ul>
		<h3>GIS staff availability</h3>
		<ul class="spatial-starting__gis">
			<li>Staff: Chris Gist and Drew MacQueen</li>
			<li>Office: Shannon Library, Room 308</li>
		  	<li>Hours: Weekdays 9-5 in general, but <a href="mailto: slabgis@virginia.edu">email the GIS folks</a> in advance if you need us to be there</li>
		</ul>
		<h3>Cultural heritage informatics staff availability</h3>
		<ul>
			<li>Staff: Will Rourk and Arin Bennett</li>
			<li>Office: Shannon Library, Room 308</li>
			<li>Hours: by appointment</li>
		</ul>
	</div>
</div>

<div>
	<h2>GIS</h2>
	<h3>University support of GIS</h3>
	<ul class="spatial-starting__gis">
		<li>See our <a href="https://guides.lib.virginia.edu/gis">GIS Research Page</a> for all things GIS: download software, find spatial data, attend a workshop, or schedule a consultation with our staff specialists.</li>
		<li>Our GIS resources include the <a href="http://gis.lib.virginia.edu">UVA Library Geoportal</a> and the <a href="https://geoportal.lib.virginia.edu/UVAImageDiscovery/">UVA Image Discovery Tool</a>.</li>
	</ul>
	<h3>GIS workshop series</h3>
	<ul>
		<li>We offer a series of friendly, jargon-free workshops each fall and spring. You can read more about upcoming and past workshops on our <a href="https://scholarslab.lib.virginia.edu/events/">events page</a>.</li>
	</ul>
	
	<h2>Cultural Heritage Informatics</h2>
		<h3>Cultural heritage informatics at UVA</h3>
			<ul class="spatial-starting__gis">
				<li>Visit our <a href="https://wordpress.its.virginia.edu/Cultural_Heritage_Data/">cultural heritage informatics</a> page to learn more about our ongoing projects; view our equipment, data, and demos; and access our 3D data repository.</li>
				<li><a href="/cultural-heritage-informatics-documentation/">Documentation</a> for Cultural Heritage Informatics technologies and methods (funded by UVA Parents Fund)</li>
			</ul>
</div>

<div class="spatial__inventory">
<h2>Tools, Data, Equipment</h2>
<p>* = by appointment/request only. ^ = not distributed</p>

		<div class="maker-inventory__list">
		  <ul class="maker-list__3d">
			  <span><a href="https://guides.lib.virginia.edu/gis/software">GIS software & extensions</a></span>
		    <li><a href="https://guides.lib.virginia.edu/gis/software#s-lib-ctab-20595149-1">ArcGIS Pro</a></li>
		    <li>ArcMap</li>
		    <li>ArcGIS Server</li>
		    <li>Drone2Map*</li>
			<li>City Engine*</li>
		    <li>Business Analyst</li>
		    <li>Network Analyst</li>
		    <li>Spatial Analyst</li>
		  </ul>
		  <!-- VR/AR/3D -->
		  <ul class="maker-list__vr-ar">
		    <span><a href="https://guides.lib.virginia.edu/gis/software#s-lib-ctab-20595149-3">ArcGIS Online Enterprise Access</a></span>
            <li>Story Maps</li>
            <li>Web AppBuilder</li>
            <li>Business Analyst Online</li>
			<li>Community Analyst Online</li>
			<li>ArcGIS Insights</li>
		  </ul>
		  <!-- Physical Computing -->
		  <ul class="maker-list__physical">
		    <span>Supported GIS tools</span>
		    <li>QGIS</li>
            <li>Google Earth</li>
            <li>Google Tour Builder</li>
		  </ul>
		  <!-- Textiles, Wearables - Learn how to take fashion into the future. -->
		  <ul class="maker-list__wearables">
			  <span><a href="https://guides.lib.virginia.edu/gis/data">GIS data</a></span>
		    <li><a href="https://guides.lib.virginia.edu/gis/data#s-lib-ctab-20595222-0">Shared Drive</a></li>
		    <li><a href="http://data-uvalibrary.opendata.arcgis.com/">Open Data Portal</a></li>
		  </ul>
		  <!-- Textiles, Wearables - Learn how to take fashion into the future. -->
		  <ul class="maker-list__wearables">
		    <span>VR & AR</span>
		    <li>2 VR spaces (Clemons 3rd Floor Viz Lounge)</li>
			<li>Virtual reality and augmented reality equipment^</li>
		  </ul>
		  <!-- CHI stuff -->
		  <ul class="maker-list__wearables">
		    <span>GIS equipment</span>
		    <li>4 Garmin eTrex 20 handheld GPS units</li>
		  </ul>
		  <ul class="maker-list__physical">
		    <span>3D laser scanning</span>
		    <li>FARO Focus 3D laser scanner*</li>
            <li>Creaform Zscanner 700 CX*</li>
            <li>FARO Scene*</li>
            <li>Creaform VX Elements^</li>
		  </ul>
		  <ul class="maker-list__physical">
		    <span>Photogrammetry</span>
		    <li>DJI Inspire 1 quadcopter*</li>
            <li>Photoscan Pro^</li>
            <li>Autodesk Recap</li>
			</ul>
		  <ul class="maker-list__physical">
		    <span>Tactile surface scanning</span>
		    <li>Microscribe*</li>
            <li>Rhino 3D^</li>
		  </ul>
		  <ul class="maker-list__physical">
		    <span>Data & modeling software</span>
            <li>FARO Scene LT</li>
            <li>Autodesk Recap</li>
            <li>Geomagic*</li>
            <li>Mesh Lab</li>
            <li>Cloud Compare</li>
            <li>Sketchup</li>
            <li>Blender</li>
            <li>Maya 3D (in G-Lab)</li>
		  </ul>
		  </ul>
		</div> <!-- end list -->
	</div> <!-- end inventory -->

	<div class="spatial__people">
		<div class="spatial-people__title">Spatial<br/>Technologists</div>
		<ul class="spatial-people__list">
			<!-- use Liquid here: -->
			{% for person in site.people %}
			{% if person.title == 'Will Rourk' or person.title == 'Arin Bennett' or person.title == 'Chris Gist' or person.title == 'Drew MacQueen' %}
			<li class="spatial-people__person">
				<div class="spatial-person__img"><img src="{{ site.baseurl }}/assets/img/people/{{ person.slug }}.jpg" alt="{{ person.title }}"></div>
				<div class="spatial-person__name"><a href="{{ site.baseurl }}/people/{{ person.slug }}">{{ person.title }}</a></div> <!-- link to their page -->
				<div class="spatial-person__position">{{ person.position }}</div>
			</li>
			{% endif %}
			{% endfor %}
		</ul> <!-- end person list -->
	</div>

</div> <!-- end main content -->
