---
layout: page
title: People
permalink: /people/
nav: true
---

<!-- Get all the people records at once.  -->
{% assign slab_people = site.people %}

<!-- filter directors & staff and merge into single array -->
{% assign directors = slab_people | where: 'people-category', 'director' | where: 'status', 'current' | sort: 'first_name' %}
{% assign staff = slab_people | where: 'people-category', 'staff' | where:
'status', 'current' | sort: 'last_name' %}
{% assign slab_staff = directors | concat: staff %}

<!-- filter current students -->
{% assign students = slab_people | where: 'people-category', 'student' | where: 'status', 'current' | sort: 'last_name' %}

<!-- filter alumni -->
{% assign alumni = slab_people | where: 'status', 'not_current' | sort: 'last_name' %}

<p>To contact the Scholars' Lab, just email <a href="mailto:scholarslab@virginia.edu">scholarslab@virginia.edu</a>; we'll get you to the right person!</p>

<!-- staff, with directors at start -->
<section id="staff">
	<h2>Staff</h2>
	<div class="gallery">
		<!-- directors at start -->
		{% for person in slab_staff %}
			{% assign profile_pic = site.static_files | where: "basename", person.slug | limit: 1 %}
			<a href="/people/{{ person.slug }}/" aria-label="{{ person.title }}">
			{% if profile_pic == empty %}
				<img src="{{ site.baseurl }}/assets/img/people/grid/default-printing.jpg" alt="">
			{% else %}
				{% for pic in profile_pic %}
					{% if pic.path contains 'grid' %}
				<img src="{{ pic.path }}" alt="">
					{% endif %}
				{% endfor %}
			{% endif %}
				<p class="person-name">{{ person.title }}</p>
				<p class="person-role">{{ person.position }}</p>
			</a>
		{% endfor %}
	</div> <!-- end staff- gallery -->
</section> <!-- end staff section -->

<!-- students: -->
<section id="students">
	<h2>Current Students</h2>
	<ul>
		{% for person in students %}
			<li><a href="/people/{{ person.slug }}" aria-label="{{ person.title }}">{{ person.title }}</a><br>
			{% for item in person.roles limit: 1 %}{{ item }}{% endfor %}</li>
		{% endfor %}	
	</ul>
</section> <!-- end students section -->

<section id="alumni">
	<h2>Alumni</h2>
	<p>We're proud of our wonderful alums! If you're an alum and would like your information on our site edited or removed, please read <a href="/people-edits">these instructions</a>.</p>
	<ul>
{% for person in alumni %}
		<li><a href="/people/{{ person.slug }}" aria-label="{{ person.title }}">{{ person.title }}</a></li>
{% endfor %}
	</ul>
</section>
