---
layout: default
title: Blog
permalink: /fake-blog/
fake: true
---

<div class="blog-wrapper">

	<header class="blog-page-header">
		<div class="blog-header__big-title">Blog</div>
		<div class="blog-header__subtitle">Our thoughts, from rough new ideas to polished arguments. Scholars’ Lab team and collaborators write about their scholarship around experimental and digital humanities and culture.</div>
	</header>

	<div class="blog-main-content">
		<div class="blog-gallery">
			{% assign blog = site.fake-blog | sort: 'date' %}
			<!-- post layout: -->
			{% for post in blog %}
			<section class="blog-gallery__item">
				<div class="blog-item__title">
					<a href="{{ site.url }}/{{ post.url }}">{{ post.title }}</a>
				</div>
				<!-- fetch author object, link to their page -->
				{% assign author = site.people | where: 'slug', post.author | first %}
				<div class=blog-item__author>
					<span>By: </span><a href="{{ site.url}}/people/{{ post.author }}">{{ author.name }}</a>
				</div>
				<div class="blog-item__date"><span>Posted: </span>{{ post.date | date: "%B %-d, %Y" }}</div>
				<!-- check if 1+ tags, print if so -->
				{% assign tagsize = post.tags | size %}
				{% if tagsize >= 1 %}
				<div class="blog-item__tags">
					<span>Tags: </span>
					{% for t in post.tags%}
					{% assign last = post.tags | last %}
					{% if t == last %} <a href="{{ site.url }}/posts-by-tag/#{{ t | slugify }}">{{ t }}</a>
					{% else %} <a href="{{ site.url }}/posts-by-tag/#{{ t | slugify }}">{{ t }}</a>,
					{% endif %}{% endfor %}
				</div>
				{% endif %}
				<div class="blog-item__cta">
					<a href="{{ site.url }}/{{ post.url }}">Read more &rsaquo;</a>
				</div>
			</section>
			{% endfor %} <!-- end post -->
		</div> <!-- end gallery -->
	</div> <!-- end main content -->
</div> <!-- end wrapper -->