---
layout: default
title: Blog
permalink: /fake-blog/
fake: true
---

<div class="blog-wrapper">
	<header class="blog-page-header">
		<div class="blog-header__big-title">Blog</div>
		<div class="blog-header__subtitle">Our thoughts, from rough new ideas to polished arguments. Scholars’ Lab team and collaborators write about their scholarship around experimental and digital humanities and culture.</div>
	</header>

	<div class="blog-main-content">
		<div class="blog-gallery">
			<!-- post layout: -->
			{% for post in site.posts %}
			<section class="blog-gallery__item">
				<div class="blog-item__title">
					<span>
						{% if post.categories contains 'Events' %}
							Events
						{% elsif post.categories contains 'Announcements' %}
							Announcements
						{% elsif post.tags contains 'praxis program' %}
							Praxis Program
						{% elsif post.categories contains 'Grad Student Research' %}
							Grad Student Research
						{% elsif post.categories contains 'Experimental Humanities' %}
							Experimenting
						{% elsif post.categories contains 'Digital Humanities' or post.tags contains 'Digital Humanities' or post.categories contains 'digital humanities' %}
							Digital Humanities
						{% else %}
							Miscellany
						{% endif %}
					</span>
					<!--span>Announcements</span-->
					<a href="{{ site.url }}/{{ post.url }}">{{ post.title }}</a>
				</div>
				<!-- pull quote, or 1st 25 words of post content. -->
				{% if post.pull-quote %}
				<div class="blog-item__quote">{{ post.pull-quote | prepend: '"' | append: '"' | smartify }}</div>
				{% else %}
				<div class="blog-item__quote">{{ post.content | truncatewords: 25 | markdownify | strip_html }}</div>
				{% endif %}
				<!-- fetch author object, link to their page -->
				{% assign author_object = site.people | where: 'slug', post.author %}
				<div class="blog-item__author">
					{% for author in author_object %}
					    <a href="{{ site.baseurl }}/people/{{post.author}}/">{{ author.name }}</a>
					{% endfor %}
					{% if author_object == empty %}
					    {% assign author = post.author | split: '-' %}
					        {% for name in author %}
					            {{ name | capitalize}}
					        {% endfor %}
					{% endif %}
				</div>
				<div class="blog-item__date">{{ post.date | date: "%B %-d, %Y" }}</div>
			</section>
			{% endfor %} <!-- end post -->
		</div> <!-- end gallery -->
	</div> <!-- end main content -->
</div> <!-- end wrapper -->