---
layout: no-header
title: Fellowship Layout
permalink: /fellowship/
# test vars:
post-title: Praxis Program Fellowships
author: Katherine Donnally
categories: 
- tutorials
- ice cream
- dogs
---

<div class="text-main-content" aria-label="Main content">

	<div class="text__page-type">Text Page</div>

	<div class="text__title">{{ page.post-title }}</div>

	<div class="text__metadata">
		<div class="text-meta__categories">
			<strong>Applications are due February 15th, 2018 for the 2018-2019 cohort.</strong> Please <a href="https://eepurl.com/fJ9J">subscribe</a> to the Scholars&#8217; Lab newsletter or check back here for further information.
		</div>
		<div class="text-meta__author">By <a href="#">{{ page.author }}</a></div>
		<div class="text-meta__date">Posted {{ site.time | date: "%B %d, %Y" }}</div>
		<div class="text-meta__categories">Filed under:
			{% for c in page.categories %}
			{% assign last = page.categories | last %}
			{% if c == last %} <a href="#">{{ c }}</a>
			{% else %} <a href="#">{{ c }}</a>,
			{% endif %}{% endfor %}
		</div>
	</div>

	<div class="text__content">
		<p>The <a href="http://praxis.scholarslab.org/">Praxis Program</a> is a radical re-imagining of the annual teaching and training we offer in the Scholars&#8217; Lab. Its fellowships support a team of six University of Virginia PhD students from a variety of disciplines, who work collaboratively on a shared digital humanities project. Under the guidance of Scholars&#8217; Lab faculty and staff, Praxis fellows conceive, develop, publish, and promote a digital project over the course of an academic year.</p>
		<p>Our first two cohorts designed and built <a title="Prism" href="http://prism.scholarslab.org/">Prism</a>, a digital tool for crowd-sourced humanities interpretation, visualization, and textual analysis. Our third and fourth cohorts re-imagined <a href="http://ivanhoe.scholarslab.org/" target="_blank" rel="noopener noreferrer">Ivanhoe</a>, a WordPress theme enabling collaborative criticism through roleplay. Our fifth cohort explored sonification of humanities data with the project <a href="http://clockwork.scholarslab.org/">Clockwork</a>. Stay tuned for news about our incoming cohort!</p>
		<p>Beginning as a 2011-2013 pilot project supported by a grant from the Andrew W. Mellon Foundation to UVa Library&#8217;s <a href="http://uvasci.org">Scholarly Communication Institute</a>, the Praxis Program is now generously supported by <a href="http://www.library.virginia.edu/">UVa Library</a> and <a href="http://gsas.virginia.edu/">GSAS</a>.</p>
		<p><strong>The Praxis fellowship replaces recipients&#8217; teaching responsibilities for the academic year</strong> by providing $10,000 to replace teaching wages. Accordingly, fellows are expected to devote 10 hours per week to their work in the Scholars&#8217; Lab. A call for applicants will be announced in January 2017.</p>
		<h3>Eligibility</h3>
		<p>Applicants must be doctoral students in the humanities, social sciences or the arts at the University of Virginia.</p>
		<p>Applicants must be enrolled full time in the year for which they are applying.</p>
		<p>Applicants must still be drawing upon their regular funding packages as part of their doctoral program. I.e. students will typically be in years 2-5 of their program during the year the fellowship will be held.</p>
		<h3>How to Apply</h3>
		<p>The application process for Praxis is simple! You apply individually, and we assemble the team, through a process that includes group interviews and input from peers. To start, we only ask for a letter of intent. The letter should include:</p>
		<ul>
		<li>the applicant&#8217;s research interests;</li>
		<li>summary of the applicant&#8217;s plan for use of digital technologies in your research;</li>
		<li>summary of what skills, interests, methods the applicant will bring to the Praxis Program;</li>
		<li>summary of what the applicant hopes to gain as a Praxis Fellow;</li>
		<li>and your availability February 28th from 11:30 -12:30 and March 1st from 9:30-10:30. We&#8217;re aiming for a quicker process this year by announcing those group interview times in advance, though they may be subject to change if scheduling difficulties arise.</li>
		</ul>

		<p>Completed applications, questions about Praxis Fellowships, and inquiries about the application process should be directed to <a href="mailto:bmw9t@virginia.edu">Brandon Walsh</a>.</p>
	</div>
</div>