---
layout: no-header
title: Flexible Navigation
permalink: /flexible-nav/
---

<div class="flexnav-wrapper">
	<ul class="flexnav-main-grid">
	{% for page in site.pages %}
	{% if page.layout != nil %}
		<li class="flexnav__item"><a href="{{ page.url }}">{{ page.title }}</a></li>
	{% endif %}
	{% endfor %}
		<li class="flexnav__more-menu">
			<div class="flexnav-more__prompt" aria-label="More menu items">More</div>
			<ul class="flexnav-more__wrapper">
			{% for page in site.pages %}
			{% if page.layout != nil %}
				<li class="flexnav-more__item"><a href="{{ page.url }}">{{ page.title }}</a></li>
			{% endif %}
			{% endfor %}
			</ul>
		</li>
	</ul>
</div>


<!-- page content to show with menu: -->
{% assign fellows = site.pages | where_exp: "item", "item.title == 'Fellowship Layout'" %}
{% for page in fellows %}
	{{ page.content }}
{% endfor %}