---
layout: default
title: People
permalink: /people/
nav: true
---

<!-- people categories: staff, students, & alumni -->
{% assign staff = site.people | where: 'people-category', 'staff' | where: 'status', 'current' | sort: 'last_name' %}
<!-- filter to ensure they're not in staff when printing: -->
{% assign students = site.people | where: 'people-category', 'student' | where: 'status', 'current' | sort: 'last_name' %}
{% assign alumni = site.people | where: 'status', 'not_current' | sort: 'last_name' %}

<div class="people-wrapper">
  <header class="people-page-header">
    <div class="people-header__big-title">People</div>
    <!--div class="people-header__subtitle"><!-- unsure if needed, but leaving structure in case -></div-->
  </header>

  <article class="people-main-content">
    <!-- staff: -->
    <section class="people__staff">
      <!-- section label: -->
      <div class="people-staff__title">
        <div></div><span>Staff</span><div></div>
      </div>
      <!-- NB: insert number of ppl; maybe color code by what we do (r&d, spatial tech, etc.) -->
      <!-- staff gallery: -->
      <div class="people-staff__gallery">
        <!-- gallery item: -->
        {% for person in staff %}
        {% assign profile_pic = site.static_files | where: "basename", person.slug | limit: 1 %}
        <div class="people-item-wrapper">
          <a href="/people/{{ person.slug }}/" aria-label="{{ person.title }}">
            <div class="people-item__img">
            {% if profile_pic == empty %}
              <img src="{{ site.baseurl }}/assets/img/people/grid/default-printing.jpg" alt="[Default image] Makerspace printing in process">
            {% else %}
              {% for pic in profile_pic %}
              {% if pic.path contains 'grid' %}
                <img src="{{ pic.path }}" alt="{{ person.slug }}">
              {% endif %}
              {% endfor %}
            {% endif %}
            </div>
            <div class="people-item__name">{{ person.title }}</div>
            <div class="people-item__position">{{ person.position }}</div>
          </a>
        </div>
        {% endfor %} <!-- end item -->
      </div> <!-- end gallery -->
    </section> <!-- end staff -->

    <!-- students: -->
    <section class="people__students">
      <div class="people-students__title"><div></div><span>Students</span><div></div></div>
      <!-- NB: insert number of ppl; maybe color code by what we do (r&d, spatial tech, etc.) -->
      <!-- student gallery: -->
      <div class="people-students__gallery">
        <!-- gallery item: -->
        {% for person in students %}
        {% assign profile_pic = site.static_files | where: "basename", person.slug | limit: 1 %}
        <div class="people-item-wrapper">
          <a href="/people/{{ person.slug }}/" aria-label="{{ person.title }}">
            <div class="people-item__img">
            {% if profile_pic == empty %}
              {% assign num = forloop.index | modulo:6 %}
              {% if num == 0 %}
              <img src="{{ site.baseurl }}/assets/img/people/grid/default-screwdrivers.jpg" alt="[Default image] Screwdrivers close-up">
              {% elsif num == 1 %}
              <img src="{{ site.baseurl }}/assets/img/people/grid/default-toy.jpg" alt="[Default image] Cute toy">
              {% elsif num == 2 %}
              <img src="{{ site.baseurl }}/assets/img/people/grid/default-clamps.jpg" alt="[Default image] Clamps close-up">
              {% elsif num == 3 %}
              <img src="{{ site.baseurl }}/assets/img/people/grid/default-eggs.jpg" alt="[Default image] Makerspace Eggs">
              {% elsif num == 4 %}
              <img src="{{ site.baseurl }}/assets/img/people/grid/default-widgets.jpg" alt="[Default image] Makerspace widgets">
              {% elsif num == 5 %}
              <img src="{{ site.baseurl }}/assets/img/people/grid/default-printing.jpg" alt="[Default image] Makerspace printing in process">
              {% else %}
              <img src="{{ site.baseurl }}/assets/img/people/grid/default-dino.jpg" alt="[Default image] dino close-up">
              {% endif %} 
            {% else %}
              {% for pic in profile_pic %}
              {% if pic.path contains 'grid' %}
                <img src="{{ pic.path }}" alt="{{ person.slug }}">
              {% endif %}
              {% endfor %}
            {% endif %}
            </div>
            <div class="people-item__name">{{ person.title }}</div>
            <div class="people-item__position">
<!-- new logic for displaying list of current & past roles, if person is current student  -->
<ul>
   {% for item in person.roles limit: 1 %}
      <li>{{ item }}</li>
   {% endfor %}
</ul>
            </div>
          </a>
        </div>
        {% endfor %} <!-- end item -->
      </div> <!-- end gallery -->
    </section> <!-- end students -->

<div class="research__description">
	<div class="research-description__text">
    <p>We're proud of our wonderful alums! <a href="#bio-changes">Info on requesting changes</a> to your bio is available at the bottom of this page.
    </p>
	</div>
</div> 
    
    <!-- alumni: -->
    <section class="people__alumni">
      <div class="people-alumni__title"><div></div><span>Alumni</span><div></div></div>
      <!-- NB: insert number of ppl; maybe color code by what we do (r&d, spatial tech, etc.) -->
      <!-- alumni gallery: -->
      <div class="people-alumni__gallery">
        <!-- gallery item: -->
        {% for person in alumni %}
        {% assign profile_pic = site.static_files | where: "basename", person.slug | limit: 1 %}
        <div class="people-item-wrapper">
          <a href="/people/{{ person.slug }}" aria-label="{{ person.title }}">
            <!-- image: -->
            <div class="people-item__img">
            {% if profile_pic == empty %}
              {% assign num = forloop.index | modulo:7 %}
              {% if num == 0 %}
              <img src="{{ site.baseurl }}/assets/img/people/default-screwdrivers.jpg" alt="[Default image] Screwdrivers close-up">
              {% elsif num == 1 %}
              <img src="{{ site.baseurl }}/assets/img/people/default-toy.jpg" alt="[Default image] Cute toy">
              {% elsif num == 2 %}
              <img src="{{ site.baseurl }}/assets/img/people/default-clamps.jpg" alt="[Default image] Clamps close-up">
              {% elsif num == 3 %}
              <img src="{{ site.baseurl }}/assets/img/people/default-eggs.jpg" alt="[Default image] Makerspace Eggs">
              {% elsif num == 4 %}
              <img src="{{ site.baseurl }}/assets/img/people/default-widgets.jpg" alt="[Default image] Makerspace widgets">
              {% elsif num == 5 %}
              <img src="{{ site.baseurl }}/assets/img/people/default-printing.jpg" alt="[Default image] Makerspace printing in process">
              {% else %}
              <img src="{{ site.baseurl }}/assets/img/people/default-dino.jpg" alt="[Default image] Dino close-up">
              {% endif %}
            {% else %}
              {% for pic in profile_pic %}
              {% if pic.path contains 'grid' %}
                <img src="{{ pic.path }}" alt="{{ person.slug }}">
              {% endif %}
              {% endfor %}
            {% endif %}
            </div>
            <!-- name: -->
            <div class="people-item__name">{{ person.title }}</div>
          </a>
        </div>
        {% endfor %} <!-- end item -->
      </div> <!-- end gallery -->
    </section> <!-- end alumni -->
    
<section class="people__info">
      <!-- section label: -->
      <div class="people-info__title">
        <a id="bio-changes"></a><div></div><span>Updating your info</span><div></div>
      </div>
      <div>
If your pronouns, name, and/or other info on this and/or your individual bio page should be changed at any point, we’re happy to edit or remove text and/or photos—just let us know! You have a couple options for requesting this, depending on desired confidentiality (please see the "privacy alert" below if you're concerned about others noticing the change):

- Email scholarslab@virginia.edu (this will go to the inboxes of all current Scholars' Lab staff)  
- Email any of the following indvidual staff and they’ll update the site without drawing anyone else’s attention to it: Amanda Visconti (abv6x@virginia.edu), Brandon Walsh (bmw9t@virginia.edu), Jeremy Boggs (jeremy@virginia.edu)  
- Ask any of our current staff in person (at UVA, at a conference)  
- Call the lab at 434-243-8800 and ask to speak to any current Scholars' Lab staff. Please note that with the Alderman renovation, this number is likely to be the first contact info on this page that breaks. You can always call the main UVA Library phone (434-924-3021) and ask to be transferred to the Scholars' Lab.  
- If you're comfortable with GitHub, by making a pull request to our <a href="https://github.com/scholarslab/scholarslab.org">website repo</a>  
- Any other way you prefer to contact us. Please let us know if you have ideas for more options, or for improving this process! 

*Staff will respond to any request to verify it's been received.* If you don’t receive a response, that may mean we've missed your message (e.g. staff change, phone numbers change) but we've forgotten to update these directions. Emailing scholarslab@virginia.edu goes to all current SLab staff inboxes, so it will definitely reach us. If you wish to only make your bio update request to a single staffer, you may choose to just point out to scholarslab@virginia.edu that this webpage has outdated contact info, and wait for us to update the contact page before following up with one person on your specific change request.

*Privacy alert:* If you wish to not draw attention to the requested change, please note that this website's GitHub repository (place storing the code underlying this website) is publicly visible, so anyone who understands GitHub could see things such as the code for earlier versions of the site and the list of changes made to the site. We’ll use something like “updated people info” as the commit message (note attached to changed website code/text explaining what was changed and why). Please also note that UVA email and other routes of contact may be monitored or shared with others for legal or technical reasons.
      </div>
    </section>   
    
  </article> <!-- end main content -->
</div> <!-- end wrapper -->
