---
layout: default
title: People
permalink: /people/
nav: true
---

<!-- people categories: staff, students, & alumni -->
{% assign staff = site.people | where: 'people-category', 'staff' | where: 'status', 'current' | sort: 'last_name' %}
<!-- filter to ensure they're not in staff when printing: -->
{% assign students = site.people | where: 'people-category', 'student' | where: 'status', 'current' | sort: 'last_name' %}
{% assign alumni = site.people | where: 'status', 'not_current' | sort: 'last_name' %}

<div class="people-wrapper">
  <header class="people-page-header">
    <div class="people-header__big-title">People</div>
    <!--div class="people-header__subtitle"><!-- unsure if needed, but leaving structure in case -></div-->
  </header>

  <article class="people-main-content">
    <!-- staff: -->
    <section class="people__staff">
      <!-- section label: -->
      <div class="people-staff__title">
        <div></div><span>Staff</span><div></div>
      </div>
      <!-- NB: insert number of ppl; maybe color code by what we do (r&d, spatial tech, etc.) -->
      <!-- staff gallery: -->
      <div class="people-staff__gallery">
        <!-- gallery item: -->
        {% for person in staff %}
        {% assign profile_pic = site.static_files | where: "basename", person.slug | limit: 1 %}
        <div class="people-item-wrapper">
          <a href="{{ site.url }}/people/{{ person.slug }}/" aria-label="{{ person.title }}">
            <div class="people-item__img">
            {% if profile_pic == empty %}
              <img src="{{ site.baseurl }}/assets/img/people/grid/scholarslab.png" alt="Scholars' Lab Lab">
            {% else %}
              {% for pic in profile_pic %}
              {% if pic.path contains 'grid' %}
                <img src="{{ pic.path }}" alt="{{ person.slug }}">
              {% endif %}
              {% endfor %}
            {% endif %}
            </div>
            <div class="people-item__name">{{ person.title }}</div>
            <div class="people-item__position">{{ person.position }}</div>
          </a>
        </div>
        {% endfor %} <!-- end item -->
      </div> <!-- end gallery -->
    </section> <!-- end staff -->

    <!-- students: -->
    <section class="people__students">
      <div class="people-students__title"><div></div><span>Students</span><div></div></div>
      <!-- NB: insert number of ppl; maybe color code by what we do (r&d, spatial tech, etc.) -->
      <!-- student gallery: -->
      <div class="people-students__gallery">
        <!-- gallery item: -->
        {% for person in students %}
        {% assign profile_pic = site.static_files | where: "basename", person.slug | limit: 1 %}
        <div class="people-item-wrapper">
          <a href="{{ site.url }}/people/{{ person.slug }}/" aria-label="{{ person.title }}">
            <div class="people-item__img">
            {% if profile_pic == empty %}
              {% assign num = forloop.index | modulo:4 %}
              {% if num == 0 %}
              <img src="{{ site.baseurl }}/assets/img/people/grid/elizabeth-mitchell.jpg" alt="[Default image] Screwdrivers close-up">
              {% elsif num == 1 %}
              <img src="{{ site.baseurl }}/assets/img/people/grid/marysia-serafin.jpg" alt="[Default image] Cute toy">
              {% elsif num == 2 %}
              <img src="{{ site.baseurl }}/assets/img/people/grid/tanner-greene.jpg" alt="[Default image] Clamps close-up">
              {% else %}
              <img src="{{ site.baseurl }}/assets/img/people/grid/nic-dalton.jpg" alt="[Default image] Screwdrivers close-up">
              {% endif %}
            {% else %}
              {% for pic in profile_pic %}
              {% if pic.path contains 'grid' %}
                <img src="{{ pic.path }}" alt="{{ person.slug }}">
              {% endif %}
              {% endfor %}
            {% endif %}
            </div>
            <div class="people-item__name">{{ person.title }}</div>
            <div class="people-item__position">
<!-- new logic for displaying list of current & past roles, if person is current student  -->
<ul>
   {% for item in person.roles %}
      <li>{{ item }}</li>
   {% endfor %}
</ul>
            </div>
          </a>
        </div>
        {% endfor %} <!-- end item -->
      </div> <!-- end gallery -->
    </section> <!-- end students -->

    <!-- alumni: -->
    <section class="people__alumni">
      <div class="people-alumni__title"><div></div><span>Alumni</span><div></div></div>
      <!-- NB: insert number of ppl; maybe color code by what we do (r&d, spatial tech, etc.) -->
      <!-- alumni gallery: -->
      <div class="people-alumni__gallery">
        <!-- gallery item: -->
        {% for person in alumni %}
        {% assign profile_pic = site.static_files | where: "basename", person.slug | limit: 1 %}
        <div class="people-item-wrapper">
          <a href="{{ site.url }}/people/{{ person.slug }}" aria-label="{{ person.title }}">
            <!-- image: -->
            <div class="people-item__img">
            {% if profile_pic == empty %}
              {% assign num = forloop.index | modulo:4 %}
              {% if num == 0 %}
              <img src="{{ site.baseurl }}/assets/img/people/nic-dalton.jpg" alt="[Default image] Screwdrivers close-up">
              {% elsif num == 1 %}
              <img src="{{ site.baseurl }}/assets/img/people/marysia-serafin.jpg" alt="[Default image] Cute toy">
              {% elsif num == 2 %}
              <img src="{{ site.baseurl }}/assets/img/people/tanner-greene.jpg" alt="[Default image] Clamps close-up">
              {% else %}
              <img src="{{ site.baseurl }}/assets/img/people/elizabeth-mitchell.jpg" alt="[Default image] Screwdrivers close-up">
              {% endif %}
            {% else %}
              {% for pic in profile_pic %}
              {% if pic.path contains 'grid' %}
                <img src="{{ pic.path }}" alt="{{ person.slug }}">
              {% endif %}
              {% endfor %}
            {% endif %}
            </div>
            <!-- name: -->
            <div class="people-item__name">{{ person.title }}</div>
            <!-- position(s) -->
            <ul class="people-item__position">
              {% assign pr = person.role %}
				<!-- former staff: -->
                {% if pr contains 'staff' %}
                <li>Former {{ person.position }}</li>
                {% endif %}

			    <!-- former non-staff -->
<!-- Checking whether a role includes a comma to see if a year is listed or if we need to instead prepend with "Former" -->
                {% unless pr contains 'staff' %}
				{% for item in person.roles %}
					{% if item contains "20" %}
      					<li>{{ item }}</li>
					{% endif %}
					{% unless item contains '20' %}
						{% if person.people-category contains "staff" %}
						<li>Former {{ person.position }}</li>	
						{% elsif person.people-category contains "student" %}
						<li>Former {{ person.roles.first }}</li>	
						{% endif %}
					{% endunless %}
				{% endfor %}
  				{% endunless %}
            </ul>
          </a>
        </div>
        {% endfor %} <!-- end item -->
      </div> <!-- end gallery -->
    </section> <!-- end alumni -->
  </article> <!-- end main content -->
</div> <!-- end wrapper -->
