---
layout: default
title: Spatial Tech
permalink: /spatial-technologies/
nav: true
order: 6
status: in progress
time-required: ~6hrs
notes:
- Content:
- Style: landing page mostly done, HTML skeleton in place
- NB: time requirement is a repeat - see stats on "Phase 1, Other", #9 for details.
---

<div class="spatial-landing-wrapper">
	<div class="spatial-landing-grid">
	<div class="spatial-landing__page-title" aria-label="Landing page">
		<div class="spatial-title__text">Spatial Technologies</div>
	</div>
	<div class="spatial-landing__lines1">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class="spatial-landing__lines3">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class="spatial-landing__lines2">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	</div>
</div>

<div class="spatial-main-content">

	<div class="spatial__mission"> <!-- = 'ethos' in Makerspace -->
		<div class="spatial-mission__title">What We Do</div>
		<!-- insert relevant links in this text: -->
		<div class="spatial-mission__text">
			<p>We specialize in a wide-range of methods in spatial analysis related to <a href="#">mapping</a> and the collection of <a href="#">cultural heritage data</a>, for use across disciplines. Our expert staff are here to collaborate and support the application of spatial technologies in your research and in the classroom.</p>
			<p>We provide training and consultations on the latest software and documentation tools, including GIS, 3D modeling, laser scanners, aerial drones, photogrammetric technologies, our own <a href="#">Neatline exhibit-builder</a> for storytelling in the humanities, and more.</p>
		</div>
	</div>

	<div class="spatial__starting">
		<div class="spatial-starting__title">Getting Started</div>
		<div class="spatial-starting__how">
			<!-- NB: merge these when add content -->
			<ul class="spatial-starting__chi">
				<h3>How to get in touch</h3>
				<li>This section is a total black box until I know what kind of info structure we have</li>
			</ul>
			<ul class="spatial-starting__gis">
				<h3>Hours/spaces</h3>
				<li>Again, a black box. Probably should make a separate section w/ a diagram, though.</li>
			</ul>
		</div>
	</div>

	<div class="spatial__faq">
		<div class="spatial-faq__title">FAQ</div>
		<div class="spatial-faq__subtitle">A subtitle if we want one. <em>Designer's Note: in my head I just. keep. reading this. with the same creepy emphasis as "a democracy... <strong>if you can keep it."</strong> GAH ok the end.</em></div>
		<ul class="spatial-faq__list">
			<li><span>Question: foo bar bas bat bamus batis bant</span>Answer: Katherine remembers gibberish Latin better than she thought.</li>
			<li>Etc.</li>
			<li>E.g., explainers CHI has on their site, some FAQs that GIS links to maybe</li>
		</ul>
	</div>

	<!-- meant as more in-depth pairing w/ FAQ: -->
	<div class="spatial__resources">
		<div class="spatial-resources__title">Resources</div>
		<div class="spatial-resources__subtitle">Didn't find what you were looking for, or want to explore these subjects more in-depth? [See...the stuff...below... or don't phrase this as a question whoops]</div>
		<ul class="spatial-resources__list">
			<li><span>Purpose of the resource:</span> <a href="#">description of site link</a></li>
			<li><span>An explainer on GIS, its history, & how we use it:</span> <a href="#">specific library link in GIS portal</a></li>
		</ul>
	</div>

	<div class="spatial__inventory">
		<div class="spatial-inventory__title">Spatial Tech Inventory</div> <!-- placeholder title -->
		<!-- copy/pasting makerspace version right now since styles already exist -->
		<div class="maker-inventory__list">
		  <!-- 3D Printing -->
		  <ul class="maker-list__3d">
		    <span>3D Printing</span>
		    <li>FDM 3D Printers: MakerBot Replicator 2, Ultimaker 2, Lulzbot TAZ 5</li>
		    <li>SLA 3D Printer: Formlabs Form 2 (available for use with staff assistance only)</li>
		    <li>Assortment of FDM 3D printer filaments</li>
		  </ul>
		  <!-- VR/AR/3D -->
		  <ul class="maker-list__vr-ar">
		    <span>VR, AR, & 3D Scanning</span>
		    <li>NextEngine Desktop 3D laser scanner</li>
		    <li>Oculus Rift DK1 Development KitsMicrosoft</li>
		    <li>HoloLens</li>
		    <li>Google Cardboard classroom set</li>
		  </ul>
		  <!-- Physical Computing -->
		  <ul class="maker-list__physical">
		    <span>Physical Computing</span>
		    <li>Sparkfun Arduino kits, with Arduino UNO boards and an assortment of Arduino shields.</li>
		    <li>Raspberry Pi</li>
		  </ul>
		  <!-- Textiles, Wearables - Learn how to take fashion into the future. -->
		  <ul class="maker-list__wearables">
		    <span>Textiles & Wearables</span>
		    <li>Bernini sewing machines + surger</li>
		    <li>Basic supplies for wearables and tactile computing</li>
		    <li>Felt</li>
		    <li>Sewing needles and thread</li>
		    <li>Quilting/cross-stitch frames</li>
		  </ul>
		  <!-- Visual Technologies - For the visually inclined. -->
		  <ul class="maker-list__visual">
		    <span>Graphics & Photography</span>
		    <li>Wacom Cintiq 22HD graphics tablet</li>
		    <li>Camera equipment:</li>
		    <li>Canon EOS 6D DSLR camera with 24mm f/2.8 and 35mm f/2.0 lenses</li>
		    <li>Samsung NX1000 MILC camera with kit lens</li>
		  </ul>
		  <!-- Software Suites: -->
		  <ul class="maker-list__software">
		    <span>Software</span>
		    <!-- insert this as an aside somewhere: -->
		    <!--span>High-end Mac and PC with maker software installed</span-->
		    <li>Adobe Creative Suite</li>
		    <li>Agisoft PhotoScan</li>
		    <li>ArcGIS, qGIS</li>
		    <li>Arduino</li>
		    <li>Blender, MeshMixer, Tinkercad, SketchUp, Maya</li>
		    <li>Cura, Makerbot Desktop</li>
		    <li>Oculus</li>
		    <li>PreForm</li>
		    <li>Rhinocerous</li>
		    <li>Simplify3D</li>
		  </ul>
		  <!-- Miscellaneous -->
		  <ul class="maker-list__misc">
		    <span>Miscellaneous</span>
		    <li>Tool box with basic hand tools (wrenches, screwdrivers. etc.)</li>
		    <li>Soldering irons, solder, helping hands</li>
		    <li>Digital multimeters</li>
		    <li>Spare parts for basic electronics tinkering (breadboards, wire, switches, sensors)</li>
		  </ul>
		</div> <!-- end list -->
	</div> <!-- end inventory -->

	<div class="spatial__people">
		<div class="spatial-people__title">Spatial Technologists</div>
		<ul class="spatial-people__list">
			<!-- use Liquid here: -->
			{% for person in site.people %}
			{% if person.name == 'Will Rourk' or person.name == 'Arin Bennett' or person.name == 'Chris Gist' or person.name == 'Drew Macqueen' %}
			<li class="spatial-people__person">
				<div class="spatial-person__img"><img src="{{ site.baseurl }}/assets/img/people/{{ person.slug }}.jpg" alt="{{ person.name }}"></div>
				<div class="spatial-person__name"><a href="#">{{ person.name }}</a></div> <!-- link to their page -->
				<div class="spatial-person__position">{{ person.position }}</div>
			</li>
			{% endif %}
			{% endfor %}
		</ul> <!-- end person list -->
	</div>

	<div class="spatial__inclusion-note">
		<div class="spatial-inclusion__title">A Note on Belonging</div>
		<div class="spatial-inclusion__text">
			<p>This text is separate and apart from the blurbs up top explaining what Spatial Tech does and what methods they use to do it. This is a space to explicitly indicate that Spatial Tech is <em>not</em> a boys' club for flying drones, or outdoorsy people, or people who already know how to use ArcGIS and what "photogrammetry" means.</p>
			<p>This text is necessary here just as it is necessary in the Makerspace page&mdash;women, people of color, and other marginalized groups are much less likely to have had ambient exposure to these types of tools; and much less likely to have been encouraged to keep trying if they didn't get it perfectly the first time. This is a space for learning and curiosity; not for making judgments about groups. A primary mission of Spatial Technologies in the Scholars' Lab is to highlight systemic, endemic injustices rendered invisible by decisions to exclude whole groups from dignified historical record. We need your skills, questions, and backgrounds to succeed, and hope you'll join us.</p>
		</div>
	</div>

	<div class="spatial__workshops">
		<div class="spatial-workshops__title">Our Workshops</div>
		<div class="spatial-workshops__subtitle">Something about repeating workshop series every semester. Note the usual when/where in this section. Upcoming events:</div>
		<ul class="spatial-workshops__list">
			<!-- Possibly use Liquid for this, depending on if it's worth making workshops a collection? -->
			{% assign workshops = site.events | where_exp: "event", "event.title contains 'GIS'" %}
			{% if workshops.size < 1 %}
			<li><em>There are no upcoming workshops at this time. :(</em></li>
			{% else %}
			{% for event in workshops limit:3 %}
			<li>
				<div class="spatial-workshop__ws-title"><a href="{{ site.baseurl }}/events/{{ event.slug }}">{{ event.title }}</a></div>
				<div class="spatial-workshop__logistics">Some sort of brief logistical info&mdash;a sentence description if the title isn't particularly illuminating, or the when/where info if doesn't change.</div>
				<div class="spatial-workshop__cta"><a href="#">See More &rsaquo;</a></div> <!-- link to events page -->
			</li>
			{% endfor %}
			{% endif %}
		</ul>
	</div>

	<div class="spatial__showcase">
		<div class="spatial-showcase__title">A Project Sampler</div>
		<div class="spatial-showcase__subtitle">A selection of projects we're pretty dang proud of. To see more of our work, head over to our <a href="{{ site.baseurl }}/research">Research page</a>.</div>
		<ul class="spatial-showcase__list">
			{% for project in site.research %}
			{% if project.title contains 'Falmouth' or project.title contains 'Catalogue of Ships' or project.title contains 'Neatline' %}
			<li>
				<a href="{{ site.baseurl }}/research/{{ project.slug }}" aria-label="{{ project.title }}">
					<ul class="spatial-showcase__project">
						<li>{{ project.title }}</li>
						<li><img src="{{ site.baseurl}}/assets/img/research/{{ project.preview-img }}" alt="{{ project.title }}"></li>
					</ul>
				</a>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
		<div class="spatial-showcase__cta"><a href="{{ site.baseurl }}/research">All Projects &rsaquo;</a></div> <!-- link to research page -->
	</div>

</div> <!-- end main content -->