---
layout: default
title: Spatial Tech
permalink: /spatial-technologies/
nav: true
order: 6
status: almost done
time-required: ~1hr
notes:
- Content: blurb done, most other content needed
- Style: HTML stable, landing page mostly stable, main content 75%
- NB: time requirement is a repeat - see stats on "Phase 1, Other", #9 for details.
---

<div class="spatial-landing-wrapper">
	<div class="spatial-landing-grid">
		<div class="spatial-landing__page-title" aria-label="Landing page">
			<div class="spatial-title__text">Spatial Technologies</div>
		</div>
		<div class="spatial-landing__cube-wrapper-1">
			<div class="spatial-landing__lines1">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
		<div class="spatial-landing__cube-wrapper-3">
			<div class="spatial-landing__lines3">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
		<div class="spatial-landing__lines2">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div> <!-- end landing grid -->
</div> <!-- end landing wrapper -->

<div class="spatial-main-content">

	<div class="spatial__mission"> <!-- = 'ethos' in Makerspace -->
		<div class="spatial-mission__title">What We Do</div>
		<!-- insert relevant links in this text: -->
		<div class="spatial-mission__text">
			<p>We specialize in a wide-range of methods in spatial analysis related to <a href="#">mapping</a> and the collection of <a href="#">cultural heritage data</a>, for use across disciplines. Our expert staff are here to collaborate and support the application of spatial technologies in your research and in the classroom.</p>
			<p>We provide training and consultations on the latest software and documentation tools, including GIS, 3D modeling, laser scanners, aerial drones, photogrammetric technologies, our own <a href="#">Neatline exhibit-builder</a> for storytelling in the humanities, and more.</p>
		</div>
	</div>

	<div class="spatial__starting">
		<div class="spatial-starting__title">Getting Started</div>
		<div class="spatial-starting__how">
			<!-- NB: merge these when add content -->
			<ul class="spatial-starting__chi">
				<h3>Get in touch</h3>
				<li><a href="mailto:spatial@virginia.edu">Email all the Spatial Tech experts</a></li>
				<li><a href="mailto: slabgis@virginia.edu">Email just the GIS experts</a></li>
			</ul>
			<ul class="spatial-starting__gis">
				<h3>GIS</h3>
				<li>Office: 417 Alderman</li>
		  	    <li>Hours: Weekdays 9-5 in general, but <a href="mailto: slabgis@virginia.edu">email the GIS folks</a> in advance if you need us to be there</li>
				<h3>Cultural heritage informatics</h3>
				<li>Hours: by appointment</li>
				<li>Office: by appointment (Clemons is closed during Summer 2018)</li>
			</ul>
		</div>
	</div>

	<div class="spatial__faq">
		<div class="spatial-faq__title">Frequently<br/>Asked<br/>Questions</div>
		<div class="spatial-faq__subtitle">A subtitle if we want one. <em>Designer's Note: in my head I just. keep. reading this. with the same creepy emphasis as "a democracy... <strong>if you can keep it."</strong> GAH ok the end.</em></div>
		<ul class="spatial-faq__list">
			<!-- extra spaces b/t them so more readable code until we fill stuff in: -->
			<li><img src="{{ 'assets/img/svg/asterisk-2.svg' | relative_url }}" alt="asterisk drawing" style="height:20px;width:20px"> <span>What is spatial tech?</span>Our Spatial Technologies team combines overlapping expertise in GIS, cultural heritage informatics, and other methods of exploring space and place.</li>

			<li><span>Isn't GIS just online maps?</span> E.g., explainers CHI has on their site, some FAQs that GIS links to maybe</li>

			<li><span>What's the best way to get in touch?</span>Need help finding data, getting it on a map, or downloading the newest version of ArcGIS?  Check the FAQ’s on the GIS research page, search the UVA Library Geoportal, or come to a session in our Fall or Spring workshop series.   You can also consult directly with GIS specialist Chris Gist.  If you have questions or would like to schedule an appointment, please contact slabgis@virginia.edu (GIS specifically) or spatial@virginia.edu (spatial technology in general).</li>

			<li><span>What does Spatial Tech have to do with social justice?</span>Cultural heritage consists of tangible and intangible, natural and cultural, movable and immovable assets inherited from the past. It is of extremely high value for the present and the future of a country. Access, preservation, and education around cultural heritage are essential for the evolution of people and their culture. [NB: this is not an actual answer to the question, just more realistic words than lorem ipsum.]</li>

			<li><span>Lorem ipsum foo bar bas bat bamus batis bant?</span>Katherine remembers gibberish Latin better than she thought.</li>
		</ul>
	</div>

	<div class="spatial__contact">
	  <div class="spatial-contact__title">Contact</div>
	  <div class="spatial-contact__text">Either an hours & spaces diagram, or organized contact info/process for setting up an appointment.</div>
	</div>

	<!-- meant as more in-depth pairing w/ FAQ: -->
	<div class="spatial__resources">
		<div class="spatial-resources__title">Resources</div>
		<div class="spatial-resources__subtitle">Didn't find what you were looking for, or want to explore these subjects more in-depth? [See...the stuff...below... or don't phrase this as a question whoops]</div>
		<ul class="spatial-resources__list">
			<li><span>University support of GIS:</span> <a href="https://guides.lib.virginia.edu/c.php?g=514920&p=3520109">GIS Lib Guide</a></li>
			<li><span>Cultural heritage informatics at UVA:</span> <a href="https://pages.shanti.virginia.edu/Cultural_Heritage_Data/">data, demos, and news</a></li>
		</ul>
	</div>

	<div class="spatial__inventory">
		<div class="spatial-inventory__title">Tools, Data, Equipment</div> <!-- placeholder title -->
<p>* = by appointment/request only  /  ^ = not distributed</p>

		<!-- copy/pasting makerspace version right now since styles already exist -->
		<div class="maker-inventory__list">
		  <!-- 3D Printing -->
		  <ul class="maker-list__3d">
		    <span>GIS software & extensions</span>
		    <li><a href="https://guides.lib.virginia.edu/gis/ArcGIS_Installation">ArcMap</a></li>
		    <li>ArcGIS Pro</li>
		    <li>ArcGIS Server</li>
		    <li>Drone2Map</li>
			<li>City Engine*</li>
		    <li><a href="https://guides.lib.virginia.edu/gis/businessAnalyst">Business Analyst</a></li>
		    <li>Network Analyst</li>
		    <li>Spatial Analyst</li>
		  </ul>
		  <!-- VR/AR/3D -->
		  <ul class="maker-list__vr-ar">
		    <span><a href="https://guides.lib.virginia.edu/c.php?g=514920&p=5784715">ArcGIS Online Enterprise Access</a></span>
            <li>Story maps</li>
            <li>Web AppBuilder</li>
            <li>Business Analyst Online</li>
		  </ul>
		  <!-- Physical Computing -->
		  <ul class="maker-list__physical">
		    <span>Supported GIS tools</span>
		    <li>QGIS</li>
            <li>Google Earth</li>
            <li>Google Tour Builder</li>
		  </ul>
		  <!-- Textiles, Wearables - Learn how to take fashion into the future. -->
		  <ul class="maker-list__wearables">
		    <span>GIS data</span>
		    <li><a href="https://guides.lib.virginia.edu/gis/sharedDrive">Shared Drive</a></li>
		    <li><a href="http://data-uvalibrary.opendata.arcgis.com/">Open Data Portal</a></li>
		  </ul>
		  <!-- Textiles, Wearables - Learn how to take fashion into the future. -->
		  <ul class="maker-list__wearables">
		    <span>VR & AR</span>
		    <li>2 VR spaces (Clemons 3rd Floor Viz Lounge)</li>
			<li>Virtual reality and augmented reality equipment^</li>
		  </ul>
		  <!-- CHI stuff -->
		  <ul class="maker-list__wearables">
		    <span>GIS equipment</span>
		    <li>4 Garmin eTrex 20 handheld GPS units</li>
		  </ul>
		  <ul class="maker-list__physical">
		    <span>3D laser scanning</span>
		    <li>FARO Focus 3D laser scanner*</li>
            <li>Creaform Zscanner 700 CX*</li>
            <li>FARO Scene*</li>
            <li>Creaform VX Elements^</li>
		  </ul>
		  <ul class="maker-list__physical">
		    <span>Photogrammetry</span>
		    <li>DJI Inspire 1 quadcopter*</li>
            <li>Photoscan Pro^</li>
            <li>Autodesk Recap</li>
			</ul>
		  <ul class="maker-list__physical">
		    <span>Tactile surface scanning</span>
		    <li>Microscribe*</li>
            <li>Rhino 3D^</li>
		  </ul>
		  <ul class="maker-list__physical">
		    <span>Data & modeling software</span>
            <li>FARO Scene LT</li>
            <li>Autodesk Recap</li>
            <li>Geomagic*</li>
            <li>Mesh Lab</li>
            <li>Cloud Compare</li>
            <li>Sketchup</li>
            <li>Blender</li>
            <li>Maya 3D (in G-Lab)</li>
		  </ul>
		  </ul>
		</div> <!-- end list -->
	</div> <!-- end inventory -->

	<div class="spatial__people">
		<div class="spatial-people__title">Spatial<br/>Technologists</div>
		<ul class="spatial-people__list">
			<!-- use Liquid here: -->
			{% for person in site.people %}
			{% if person.name == 'Will Rourk' or person.name == 'Arin Bennett' or person.name == 'Chris Gist' or person.name == 'Drew Macqueen' or person.name == 'Cho Jiang' %}
			<li class="spatial-people__person">
				<div class="spatial-person__img"><img src="{{ site.baseurl }}/assets/img/people/{{ person.slug }}.jpg" alt="{{ person.name }}"></div>
				<div class="spatial-person__name"><a href="{{ site.baseurl }}/people/{{ person.slug }}">{{ person.name }}</a></div> <!-- link to their page -->
				<div class="spatial-person__position">{{ person.position }}</div>
			</li>
			{% endif %}
			{% endfor %}
		</ul> <!-- end person list -->
	</div>

	<div class="spatial__inclusion-note">
		<div class="spatial-inclusion__title">A Note on Belonging</div>
		<div class="spatial-inclusion__text">
			<p>This text is separate and apart from the blurbs up top explaining what Spatial Tech does and what methods they use to do it. This is a space to explicitly indicate that Spatial Tech is <em>not</em> a boys' club for flying drones, or outdoorsy people, or people who already know how to use ArcGIS and what "photogrammetry" means.</p>
			<p>This text is necessary here just as it is necessary in the Makerspace page&mdash;women, people of color, and other marginalized groups are much less likely to have had ambient exposure to these types of tools; and much less likely to have been encouraged to keep trying if they didn't get it perfectly the first time. This is a space for learning and curiosity; not for making judgments about groups. A primary mission of Spatial Technologies in the Scholars' Lab is to highlight systemic, endemic injustices rendered invisible by decisions to exclude whole groups from dignified historical record. We need your skills, questions, and backgrounds to succeed, and hope you'll join us.</p>
		</div>
	</div>

	<div class="spatial__workshops">
		<div class="spatial-workshops__title">Our Workshops</div>
		<div class="spatial-workshops__subtitle">Something about repeating workshop series every semester. Note the usual when/where in this section. Upcoming events:</div>
		<ul class="spatial-workshops__list">
			<!-- Possibly use Liquid for this, depending on if it's worth making workshops a collection? -->
			{% assign workshops = site.events | where_exp: "event", "event.title contains 'GIS'" %}
			{% if workshops.size < 1 %}
			<li><em>There are no upcoming workshops at this time. :(</em></li>
			{% else %}
			{% for event in workshops limit:3 %}
			<li>
				<div class="spatial-workshop__ws-title"><a href="{{ site.baseurl }}/events/{{ event.slug }}">{{ event.title }}</a></div>
				<div class="spatial-workshop__logistics">Some sort of brief logistical info&mdash;a sentence description if the title isn't particularly illuminating, or the when/where info if doesn't change.</div>
				<div class="spatial-workshop__cta"><a href="#">See More &rsaquo;</a></div> <!-- link to events page -->
			</li>
			{% endfor %}
			{% endif %}
		</ul>
	</div>

	<div class="spatial__showcase">
		<div class="spatial-showcase__title">A Project Sampler</div>
		<div class="spatial-showcase__subtitle">A selection of projects we're pretty dang proud of. To see more of our work, head over to our <a href="{{ site.baseurl }}/research">Research page</a>.</div>
		<ul class="spatial-showcase__list">
			{% for project in site.research %}
			{% if project.title contains 'Falmouth' or project.title contains 'Catalogue of Ships' or project.title contains 'Neatline' %}
			<li>
				<a href="{{ site.baseurl }}/research/{{ project.slug }}" aria-label="{{ project.title }}">
					<ul class="spatial-showcase__project">
						<li>{{ project.title }}</li>
						<li><img src="{{ site.baseurl}}/assets/img/research/{{ project.banner-img }}" alt="{{ project.title }}"></li>
					</ul>
				</a>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
		<div class="spatial-showcase__cta"><a href="{{ site.baseurl }}/research">All Projects &rsaquo;</a></div> <!-- link to research page -->
	</div>

</div> <!-- end main content -->
