---
layout: default
title: Spatial Tech
permalink: /spatial-technologies/
nav: true
order: 6
---

<div class="spatial-landing-wrapper">
	<div class="spatial-landing-grid">
		<div class="spatial-landing__page-title" aria-label="Landing page">
			<div class="spatial-title__text">Spatial Tech</div>
		</div>
		<div class="spatial-landing__cube-wrapper-1">
			<div class="spatial-landing__lines1">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
		<div class="spatial-landing__cube-wrapper-3">
			<div class="spatial-landing__lines3">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
		<div class="spatial-landing__lines2">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div> <!-- end landing grid -->
</div> <!-- end landing wrapper -->

<div class="spatial-main-content">

	<div class="spatial__mission"> <!-- = 'ethos' in Makerspace -->
		<div class="spatial-mission__title">What We Do</div>
		<!-- insert relevant links in this text: -->
		<div class="spatial-mission__text">
			<p>We provide training, consultations, and collaboration on the latest software, equipment, and methods, including GIS, 3D modeling, laser scanning, aerial drones, photogrammetry, our own <a href="http://neatline.org">Neatline exhibit-builder</a> for storytelling in the humanities, and more.</p>
		</div>
	</div>

	<div class="spatial__starting">
		<div class="spatial-starting__title">Get in touch</div>
		<div class="spatial-starting__how">
			<!-- NB: merge these when add content -->
			<ul class="spatial-starting__chi">
				<h3>Email</h3>
				<li><a href="mailto:spatial@virginia.edu">Email the Spatial Tech experts</a> at spatial@virginia.edu</li>
			</ul>
			<ul class="spatial-starting__gis">
				<h3>GIS staff availability</h3>
				<li>Staff: Chris Gist and Drew Macqueen</li>
				<li>Office: 417 Alderman</li>
		  	    <li>Hours: Weekdays 9-5 in general, but <a href="mailto: slabgis@virginia.edu">email the GIS folks</a> in advance if you need us to be there</li>
				<h3>Cultural heritage informatics staff availability</h3>
				<li>Staff: Will Rourk and Arin Bennett</li>
				<li>Hours: by appointment</li>
				<li>Office: Clemons 3rd Floor (DML wing)</li>
			</ul>
		</div>
	</div>

	<div class="spatial__faq">
		<div class="spatial-faq__title">Resources</div>
		<ul class="spatial-faq__list">
			<ul class="spatial-starting__gis">
			<li><span>University support of GIS:</span> <a href="https://guides.lib.virginia.edu/gis">GIS Lib Guide</a></li>
			<li><span>Cultural heritage informatics at UVA:</span> <a href="https://pages.shanti.virginia.edu/Cultural_Heritage_Data/">data, demos, and news</a></li>
			</ul>
		</ul>
	</div>
	<div class="spatial__inventory">
		<div class="spatial-inventory__title">Tools, Data, Equipment</div> <!-- placeholder title -->
<p>* = by appointment/request only. ^ = not distributed</p>

		<!-- copy/pasting makerspace version right now since styles already exist -->
		<div class="maker-inventory__list">
		  <!-- 3D Printing -->
		  <ul class="maker-list__3d">
			  <span><a href="https://guides.lib.virginia.edu/gis/software">GIS software & extensions</a></span>
		    <li>ArcMap</li>
		    <li>ArcGIS Pro</li>
		    <li>ArcGIS Server</li>
		    <li>Drone2Map</li>
			<li>City Engine*</li>
		    <li><a href="https://guides.lib.virginia.edu/gis/data#s-lib-ctab-20595222-4">Business Analyst</a></li>
		    <li>Network Analyst</li>
		    <li>Spatial Analyst</li>
		  </ul>
		  <!-- VR/AR/3D -->
		  <ul class="maker-list__vr-ar">
		    <span><a href="https://guides.lib.virginia.edu/gis/software#s-lib-ctab-20595149-3">ArcGIS Online Enterprise Access</a></span>
            <li>Story maps</li>
            <li>Web AppBuilder</li>
            <li>Business Analyst Online</li>
		  </ul>
		  <!-- Physical Computing -->
		  <ul class="maker-list__physical">
		    <span>Supported GIS tools</span>
		    <li>QGIS</li>
            <li>Google Earth</li>
            <li>Google Tour Builder</li>
		  </ul>
		  <!-- Textiles, Wearables - Learn how to take fashion into the future. -->
		  <ul class="maker-list__wearables">
			  <span><a href="https://guides.lib.virginia.edu/gis/data">GIS data</a></span>
		    <li>Shared Drive</li>
		    <li>Open Data Portal</li>
		  </ul>
		  <!-- Textiles, Wearables - Learn how to take fashion into the future. -->
		  <ul class="maker-list__wearables">
		    <span>VR & AR</span>
		    <li>2 VR spaces (Clemons 3rd Floor Viz Lounge)</li>
			<li>Virtual reality and augmented reality equipment^</li>
		  </ul>
		  <!-- CHI stuff -->
		  <ul class="maker-list__wearables">
		    <span>GIS equipment</span>
		    <li>4 Garmin eTrex 20 handheld GPS units</li>
		  </ul>
		  <ul class="maker-list__physical">
		    <span>3D laser scanning</span>
		    <li>FARO Focus 3D laser scanner*</li>
            <li>Creaform Zscanner 700 CX*</li>
            <li>FARO Scene*</li>
            <li>Creaform VX Elements^</li>
		  </ul>
		  <ul class="maker-list__physical">
		    <span>Photogrammetry</span>
		    <li>DJI Inspire 1 quadcopter*</li>
            <li>Photoscan Pro^</li>
            <li>Autodesk Recap</li>
			</ul>
		  <ul class="maker-list__physical">
		    <span>Tactile surface scanning</span>
		    <li>Microscribe*</li>
            <li>Rhino 3D^</li>
		  </ul>
		  <ul class="maker-list__physical">
		    <span>Data & modeling software</span>
            <li>FARO Scene LT</li>
            <li>Autodesk Recap</li>
            <li>Geomagic*</li>
            <li>Mesh Lab</li>
            <li>Cloud Compare</li>
            <li>Sketchup</li>
            <li>Blender</li>
            <li>Maya 3D (in G-Lab)</li>
		  </ul>
		  </ul>
		</div> <!-- end list -->
	</div> <!-- end inventory -->

	<div class="spatial__people">
		<div class="spatial-people__title">Spatial<br/>Technologists</div>
		<ul class="spatial-people__list">
			<!-- use Liquid here: -->
			{% for person in site.people %}
			{% if person.title == 'Will Rourk' or person.title == 'Arin Bennett' or person.title == 'Chris Gist' or person.title == 'Drew Macqueen' or person.title == 'Cho Jiang' %}
			<li class="spatial-people__person">
				<div class="spatial-person__img"><img src="{{ site.baseurl }}/assets/img/people/{{ person.slug }}.jpg" alt="{{ person.title }}"></div>
				<div class="spatial-person__name"><a href="{{ site.baseurl }}/people/{{ person.slug }}">{{ person.title }}</a></div> <!-- link to their page -->
				<div class="spatial-person__position">{{ person.position }}</div>
			</li>
			{% endif %}
			{% endfor %}
		</ul> <!-- end person list -->
	</div>

</div> <!-- end main content -->
