---
layout: page
title: Essay Tags
permalink: /tags/
---
<div>
<!-- list of all tags used in site posts -->
<div>
<ul>
{% assign sorted_tags = site.tags | sort %}
{% for tag in sorted_tags %}
<li><a href="#{{ tag[0] | slugify }}" class="post-tag">{{ tag[0] }}</a></li>
{% endfor %}
</ul>
</div>
<hr/>
<!-- Each tag, with posts using the tag beneath it. Posts may appear under multiple tag sections due to having multiple tags. -->
<div>
{% for tag in site.tags %}
<h2 id="{{ tag[0] | slugify }}">{{ tag | first }}</h2>
<ul>
{% for post in tag[1] %}
<a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
<li>
{{ post.title }}
<small class="post-date">{{ post.date | date_to_string }}</small>
</li>
</a>
{% endfor %}
</ul>
{% endfor %}
</div>
</div>