---
layout: default
title: Text-Based Page
permalink: /text-page-layout/
status: in progress
notes:
- Model layout page for anything that's mostly body text, like a blog post
- Should not appear in production
- 'Reason: there are like 80 million blog posts so KBD is making the layout first, since that takes less time to build as one page.'
# test vars:
post-title: Text-Based Page, Like a Blog Post
author: Katherine Donnally
categories: 
- tutorials
- ice cream
- dogs
# punchy quote or sentence-ish summary of article.
# (Gives little preview for readers who aren't sure whether to
# delve in based on the title alone, or as another hook for
# something that might've been too long for the title.)
punchy-quote: Text content of section two. Blah blah blah. Donec molestie fermentum lorem eu laoreet.
---

<div class="text-main-content" aria-label="Main content">

	<div class="text__page-type">Text Page</div>

	<div class="text__title">{{ page.post-title }}</div>

	<div class="text__metadata">
		<div class="text-meta__categories">&ldquo;{{ page.punchy-quote }}&rdquo;</div>
		<div class="text-meta__author">By <a href="#">{{ page.author }}</a></div>
		<div class="text-meta__date">Posted {{ site.time | date: "%B %d, %Y" }}</div>
		<div class="text-meta__categories">Filed under:
			{% for c in page.categories %}
			{% assign last = page.categories | last %}
			{% if c == last %} <a href="#">{{ c }}</a>
			{% else %} <a href="#">{{ c }}</a>,
			{% endif %}{% endfor %}
		</div>
	</div>

	<div class="text__content">
		<p>Text content of section one. Blah blah blah. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non iaculis enim, et porta lectus. Duis non quam ornare, euismod leo nec, posuere mauris. Pellentesque sed varius ipsum, luctus pharetra nibh. Vestibulum ante sapien, posuere non metus sed, eleifend vulputate lorem. Vivamus elementum mollis turpis.</p>
		<p>Text content of section two. Blah blah blah. Donec molestie fermentum lorem eu laoreet. Fusce id urna eu lectus eleifend rhoncus nec ac nulla. Donec dui ligula, ultrices at luctus sed, mollis eu nibh. Nunc tincidunt, felis ac consectetur ultricies, neque tortor gravida nibh, sodales cursus massa tellus eu sapien. Suspendisse dolor velit, venenatis quis sodales ut, pellentesque at enim. Integer feugiat, dui id sollicitudin auctor, tellus nulla ullamcorper erat, nec porta velit diam congue lectus. Pellentesque et quam sed lectus semper egestas. Quisque augue magna, imperdiet id augue eu, sollicitudin vestibulum nulla.</p>
		<p>Text content of section three. Blah blah blah. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non iaculis enim, et porta lectus. Duis non quam ornare, euismod leo nec, posuere mauris. Pellentesque sed varius ipsum, luctus pharetra nibh. Vestibulum ante sapien, posuere non metus sed, eleifend vulputate lorem. Vivamus elementum mollis turpis.</p>
		<p>Text content of section four. Blah blah blah. Morbi sed turpis vitae est fringilla posuere ac id ante. Aenean eu diam eu ligula viverra dignissim eu a tortor. Phasellus vestibulum augue turpis, sed mollis sem interdum at. Aliquam libero orci, vulputate eu velit nec, aliquam dignissim tortor. Maecenas id neque ultrices, scelerisque felis id, placerat arcu.</p>
	</div>
</div>