---
layout: default
title: Our Work
permalink: /work/
excerpt: "Here we share a sampling of the Scholars’ Lab scholarship in its many states and forms, from incipient ideas to projects with their own laptop stickers."
nav: true
order: 3
---

<div class="research-landing-wrapper">
	<div class="research-landing-grid">
		<div class="research-landing__page-title" aria-label="Landing page">
			<div class="research-title__text">Our Work</div>
		</div>
		<div class="research-landing__lines1">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
		<div class="research-landing__lines2">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
</div>

<div class="research__description">
	<div class="research-description__text">
		<p>This page shares a sampling of the Scholars’ Lab scholarship in its many states and forms, from incipient ideas to projects with their own laptop stickers. (<a href="/about/#who-are-the-scholars-in-scholars-lab">We define "scholarship" inclusively</a>.)</p>
	</div>
</div>

<article class="people-main-content">
    <!-- staff: -->
    <section class="people__staff">
      <!-- section label: -->
      <div class="people-staff__gallery">
        <!-- gallery item: -->
        {% for project in site.work %}
				{% unless project.research-category == 'Student' %}
        <div class="people-item-wrapper">
          <a href="/work/{{ project.slug }}/" aria-label="{{ project.title }}">
            <div class="people-item__img">

            <img src="{{ '/assets/img/work/' | append: project.thumb-img }}" alt="{{ project.title }}">

            </div>
            <div class="people-item__name">
{{ project.title | replace: ' - ', ': ' }}
</div>
            <div class="people-item__position">{{ project.position }}</div>
          </a>
        </div>
				{% endunless %}
        {% endfor %} <!-- end item -->
      </div> <!-- end gallery -->
    </section> <!-- end staff -->

		<section class="people__staff" id="student-projects-archive">
			<!-- section label: -->
			<h2 style="padding-left: 2em; padding-top: 1em; margin-bottom: 0;">Student Projects</h2>
			<div class="people-staff__gallery">
				<!-- gallery item: -->

				{% assign student_projects = site.work | where:'research-category', 'Student' %}
				{% for project in student_projects %}

				<div class="people-item-wrapper">
					<a href="/work/{{ project.slug }}/" aria-label="{{ project.title }}">
						<div class="people-item__img">

						<img src="{{ '/assets/img/work/' | append: project.thumb-img }}" alt="{{ project.title }}">

						</div>
						<div class="people-item__name">
	{{ project.title | replace: ' - ', ': ' }}
	</div>
						<div class="people-item__position">{{ project.position }}</div>
					</a>
				</div>
				{% endfor %} <!-- end item -->
			</div> <!-- end gallery -->
		</section> <!-- end staff -->
