/* Coolors Exported Palette - coolors.co/6320ee-edd2e0-6cd4ff-8b80f9-242325 */

/* HSL */
$hanpurple: hsla(260%, 86%, 53%, 1);
$queenpink: hsla(329%, 43%, 88%, 1);
$mayablue: hsla(198%, 100%, 71%, 1);
$medslateblue: hsla(245%, 91%, 74%, 1);
$raisinblack: hsla(270%, 3%, 14%, 1);

/* RGB */
$rgb-hanpurple: rgba(99, 32, 238, 1);
$rgb-queenpink: rgba(237, 210, 224, 1);
$rgb-mayablue: rgba(108, 212, 255, 1);
$rgb-medslateblue: rgba(139, 128, 249, 1);
$rgb-raisinblack: rgba(36, 35, 37, 1);