/* Color Palette: */

/* Key:
1. grape: 			    bright purple
2. pale aqua: 		    light blue, hint of gray
3. diamond: 		    light turquoise
4. dark pastel purple:  bright purple, easter egg-ified
5. medium sky blue:     medium turquoise
6. text gray:			dark gray, 25% lightness
7. nav gray:			darker gray, 13% lightness
*/

/* HSL: */
$grape: 				hsla(268%, 62%, 46%, 1);
$pale-aqua: 			hsla(212%, 56%, 82%, 1);
$diamond: 				hsla(178%, 87%, 85%, 1);
$darkpastelpurple:  	hsla(263%, 50%, 65%, 1);
$medskyblue: 			hsla(186%, 79%, 70%, 1);

/* Adjusted: */
$brightgrape:			hsla(268%, 70%, 55%, 1);

/* Custom: */
$textgray: 				hsla(186, 1%, 25%, 1); // default text
$navgray:				hsla(186, 0%, 13%, 1); // dark backgrounds

/* RGB: */
$rgb-grape: 			rgba(111, 45, 189, 1);
$rgb-pale-aqua: 		rgba(184, 208, 235, 1);
$rgb-diamond: 			rgba(185, 250, 248, 1);
$rgb-darkpastelpurple:  rgba(154, 119, 210, 1);
$rgb-medskyblue: 		rgba(117, 227, 239, 1);

/* Source:  Coolors Exported Palette
   URL:		coolors.co/6f2dbd-b8d0eb-b9faf8-9a77d2-75e3ef */