---
layout: default
---

<header>
	<hgroup>
		<span class="eyebrow">Events</span>
		<h1>{{ page.title | replace: ' - ', ': ' | replace: ' and ', ' &amp; ' }}</h1>
	</hgroup>
</header>
<!-- NB: !!! this only exists until we restructure the YAML !!! -->
<!-- remove trailing seconds zeros on time -->
{% assign start_time = page.start_time | date: "%r" | remove: ":00 " %}
{% assign end_time = page.end_time | date: "%r" | remove: ":00 " %}
<!-- check for leading zero -->
{% assign zerocheck1 = start_time | slice: 0 %}
{% assign zerocheck2 = end_time | slice: 0 %}
<!-- remove if present -->
{% if zerocheck1 == '0' %}
	{% assign start_time = start_time | slice: 1, 6 %}
{% endif %}
{% if zerocheck2 == '0' %}
	{% assign end_time = end_time | slice: 1, 6 %}
{% endif %}

<div class="content">
	<div class="metadata">
		<h2>Event Information</h2>
		<table>
			{% if page.start_date %}
			<tr><th scope="row">Date:</tr><td>{{ page.start_date | date: "%A, %m/%-d/%Y" }}</td></tr>
			{% endif %}
			{% if page.start_time and page.end_time  %}
			<tr><th scope="row">Time:</th><td>{{ start_time }}-{{ end_time }}</td></tr>
			{% endif %}
			<!--span>Length:</span>1hr<br/-->
			{% if page.location %}
			<tr><th scope="row">Place:</th><td>{{ page.location }}</td></tr>
			{% endif %}
			{% if page.instructor %}
			<tr><th>Instructor(s):</th><td>{{ page.instructor }}</td></tr>
			{% endif %}
			{% if page.rsvp %}
			<tr><th scope="row">Registration required:</th><td><a href="{{ page.rsvp }}">register here</a></td></tr>
			{% endif %}
		</table>
	</div>
	{% unless page.content.size == 1 or page.content == blank or page.content == empty %}
		{{ content }}
	{% else %}
		<p>No description has been added at this time.</p>
	{% endunless %}

	<span>Questions?</span><br/>Contact Scholars' Lab Assistant Director for Public Services <a href="mailto:lam2c@virginia.edu?subject=Question about SLab Event">Laura Miller</a>.</li>

</div>
