---
layout: default
---

<article class="event-wrapper">
	<div class="event-main-content" aria-label="Main content">

		<div class="event__big-title">
			<span aria-label="page type">Events //</span>
			{{ page.title | replace: ' - ', ': ' | replace: ' and ', ' &amp; ' }}
		</div>

		<!-- NB: !!! this only exists until we restructure the YAML !!! -->
		<!-- remove trailing seconds zeros on time -->
		{% assign start_time = page.start_time | date: "%r" | remove: ":00 " %}
		{% assign end_time = page.end_time | date: "%r" | remove: ":00 " %}
		<!-- check for leading zero -->
		{% assign zerocheck1 = start_time | slice: 0 %}
		{% assign zerocheck2 = end_time | slice: 0 %}
		<!-- remove if present -->
		{% if zerocheck1 == '0' %}
			{% assign start_time = start_time | slice: 1, 6 %}
		{% endif %}
		{% if zerocheck2 == '0' %}
			{% assign end_time = end_time | slice: 1, 6 %}
		{% endif %}

		<div class="event__stats">
			<div class="event-stats__title">Event Info</div>
			<div class="event-stats__box">
				{% if page.start_date %}
				<span>Date:</span>{{ page.start_date | date: "%A, %B %-d, %Y" }}<br/>
				{% endif %}
				{% if page.start_time and page.end_time  %}
				<span>Time:</span>{{ start_time }}-{{ end_time }}<br/>
				{% endif %}
				<span>How long:</span> 2hrs<br/>
				{% if page.location %}
				<span>Where:</span>{{ page.location }}
				{% endif %}
			</div>
		</div> <!-- end stats -->

		<div class="event__description">
			<div class="event-describe__title">About</div>
			<div class="event-describe__text">
			{% unless page.content.size == 1 or page.content == blank or page.content == empty %}
				{{ content }}
			{% else %}
				<p>No description has been added at this time.</p>
			{% endunless %}
			</div>
		</div>

		<div class="event__calendar">
			<div class="event-cal__btn">
				<a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MGxyZnE4aHIycmY1Z3FqcTBsa2tjbm5hbTYga2JkM2F4QHZpcmdpbmlhLmVkdQ&amp;tmsrc=kbd3ax%40virginia.edu" aria-label="Link to add to Google calendar">
					<img src="{{ 'assets/img/svg/calendar-icon.svg' | relative_url }}" alt="Calendar icon">
					<span>Add to Calendar</span>
				</a>
			</div>
		</div>

		<!-- NB: !!! again, compensating until restructure data !!! -->
		{% assign hosts = site.people | where_exp: "person", "person.slug == page.author" %}
		<div class="event__questions">
			<p class="event-questions__text">Questions? Please reach out to
				{% for host in hosts %} {{ host.name }} ({{ host.email }}) {% endfor %}.
			</p>
		</div>

		<div class="event__notes">
			<div class="event-notes__title">Notes</div>
			<div class="page--borrowed-style">
			<ol class="event-notes__content">
				<li><span>Prior knowledge required?</span> Nope! Open to all, especially beginners. <!--code>page.codereqs | default: Nope! No prior knowledge is assumed&amp;beginners definitely encouraged.</code--></li>
				{% if page.supplies %}
				<li>Supplies to bring: [insert supplies]</li> <!--code> page.supplies | default: Nope! Come as you are.</code></li-->
				{% endif %}
				<li>This event is free to attend and are open to the UVa and larger Charlottesville community.</li>
				<!-- NB: I know the wording on this isn't strictly true; figured would leave to content people to edit it -->

				<!-- any custom notes someone's added: -->
				{% if page.notes and page.notes.size >= 1 %}
				<li>
					<h3>Notes:</h3>
					<ul>
					{% for note in page.notes %}
						<li>{{ note }}</li>
					{% endfor %}
					</ul>
				</li>
				{% endif %}
			</ol> <!-- end notes content -->
			</div>
		</div> <!-- end notes -->

	</div> <!-- end main content -->
</article> <!-- end wrapper -->