---
layout: default
---
{% capture authorstring %}{% include author-name.html authorid=page.author %}{% endcapture %}

<article class="post-wrapper">

  <div class="post-main-content">

    <div class="post__big-title"><span aria-label="page type">Blog //</span>{{ page.title | replace: ' - ', ': ' }}</div>

    <!-- make span an <a> tag to blog home and put h1 tags around page.title w/ the font styles when finalizing -->

    <div class="post__metadata">

      {% if page.pull-quote != nil %}
      <div class="post-meta__quote">&ldquo;{{ page.pull-quote }}&rdquo;</div>
      {% endif %}

      <div class="post-meta__author">
        <span>By</span> {{ authorstring | strip }} on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
      </div>

      {% assign catsize = page.categories | size %}
<!--  {% if catsize >= 1 %}
      <div class="post-meta__categories">Filed to:
        {% for c in page.categories %}
        {% assign last = page.categories | last %}
        {% if c == last %} {{ c | downcase }}
        {% else %} {{ c | downcase }},
        {% endif %}{% endfor %}
      </div>
      {% endif %}
-->
{% assign tagsize = page.tags | size %}
<!--    {% if tagsize >= 1 %}
      <div class="post-meta__tags">Tagged as:
        {% for t in page.tags%}
        {% assign last = page.tags | last %}
        {% if t == last %} <a href="{{ site.url }}/posts-by-tag/#{{ t | slugify }}">{{ t }}</a>
        {% else %} <a href="{{ site.url }}/posts-by-tag/#{{ t | slugify }}">{{ t }}</a>,
        {% endif %}{% endfor %}
      </div>
      {% endif %}
-->
    {% include old-post-alert.html %}

    </div> <!-- end metadata -->

    <!-- text of post -->
    <div class="post__content">
      {{ content }}
    </div>

    <footer class="post__credits">
      {% comment %}
      {% for author in page.author %} <!-- if there is a listed author -->
      {% include author-profile.html authorid=page.author %}
      {% endfor %}
      {% endcomment %}
        <!-- cite post -->
        <div class="post-credits__citation">
            <span>Cite this post: </span>{{ authorstring | strip }}. &ldquo;{{ page.title }}&rdquo;. Published {{ page.date | date: "%B %d, %Y" }}. <a href="{{site.url}}/{{page.url}}">{{site.url}}/{{page.url}}</a>. Accessed on 
<script>
<!-- 
var now = new Date();
var months = new Array('January','February','March','April','May','June','July','August','September','October','November','December');
var date = ((now.getDate()<10) ? "0" : "")+ now.getDate();
function fourdigits(number) {
    return (number < 1000) ? number + 1900 : number;
}
today =  months[now.getMonth()] + " " +
         date + ", " +
         (fourdigits(now.getYear())) ;
document.write(today);
-->
</script>.
        </div>

    </footer> <!-- end post footer -->
  </div> <!-- end post-main-content -->
</article> <!-- end post wrapper -->
