---
layout: no-header
---

{% assign colors = site.data.research[page.slug] %}

<article class="project-content-wrapper">
	<div class="project-content__img">
		<img src="{{ '/assets/img/research/' | append: page.banner-img | relative_url }}" alt="{{ page.title }}">
	</div>
	<div class="project-content__title">
		<span>{{ page.title | replace: ' - ', ': ' }}</span>
	</div>
	<div class="project-content__metadata">
		<div class="project-content__year">{{ page.year }}</div>
		<div class="project-content__category">{{ page.research-category | replace: 'and', '&amp;' }}</div>
		<div class="project-content__collaborators">
		{% for person in page.collaborators %}
			<ul>
				<li>{% if person.slug %}<a href="{{ site.baseurl }}/people/{{person.slug}}/">{{ person.name }}</a>{% else %}{{ person.name }}{% endif %}</li>
				<li>{{ person.role }}</li>
			</ul>
		{% endfor %}
		</div>
		<div class="project-content__cta"><a href="{{ page.link }}">Visit Project</a></div>
	</div>
	<div class="project-content__text">{{ content }}</div>
</article>

<script>
	var textLinks = document.querySelectorAll(".project-content__text p a");
	var hoverLinks = document.querySelectorAll(".project-content__text p a:hover");
	for (let a of textLinks) {
		a.style.borderBottomColor = "{{ colors[0].color }}";
	}
	for (let a of hoverLinks) {
		a.style.backgroundColor = "{{ colors[0].color }}";
	}
</script>
