---
layout: default
---
<article>
<header>
    <hgroup>
    <span aria-label="page type">Update</span>
    <h1>{{ page.title }}</h1>
    <p class="metadata">
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
    </p>
</hgroup>
</header> <!-- end metadata -->

<!-- text of post -->
{% capture authorstring %}{% include author-name.html authorid=page.people %}{% endcapture %}

<div class="content">
	{{ content }}

	{% if page.people %}
		<span class="post-credits__citation"><p><em>This update involves the following Scholars' Lab folks:</em> {{ authorstring | strip }}</p></span>
	{% endif %}
</div>

</article> <!-- end post wrapper -->