---
layout: default
---

{% assign colors = site.data.work[page.slug] %}
{% assign title_array = page.title | split: ' ' %}

<header>
	<hgroup>
		<span class="eyebrow"><a href="{{ site.url }}/work">Projects</a></span>
		<h1>{{ page.title | replace: ' - ', ': ' }}</h1>
	</hgroup>
</header>

<div class="content">

<div class="stats-box">
	<h2>Details</h2>
	<ul>
		{% if page.start-year !=  nil and page.end-year != nil %}
			<li><span>When: </span>
				{% if page.start-year and page.end-year == nil %}
					{{ page.start-year }}
				{% elsif page.start-year and page.end-year %}
					{{ page.start-year }}-{{page.end-year}}
				{% elsif page.start-year == nil and page.end-year %}
					{{ page.end-year }}
				{% endif %}
			</li>
		{% endif %}
		{% if page.link !=  nil and page.link != 'None' and page.link != 'none' %}
			<li><span>Project Link: </span><a href="{{ page.link }}">{{ page.title }}</a>
			</li>
		{% endif %}
		{% if page.research-category !=  nil %}
			<li><span>Project type: </span>
				{% if page.research-category == "Internal Projects & Community Service" %}
					Internal Projects & Community Service
				{% elsif page.research-category == "Collaborations" %}
					Collaborations
				{% elsif page.research-category == "Events & Community Building" %}
					Events & Community Building
				{% elsif page.research-category == "Prototypes & Proofs of Concept" %}
					Prototypes & Proofs of Concept
				{% elsif page.research-category == "Student" %}
					Student
				{% endif %}
			</li>
		{% endif %}		
	</ul>	
</div>

{% if page.banner-img %}
	{% if page.banner-img != "default-banner.png" %}
		<div class="project-image">
			<img src="{{ '/assets/img/work/' | append: page.banner-img }}" alt="{{ page.title }} logo or decorative image">
		</div>
	{% endif %}
{% endif %}

<div>
{{ content }}
</div>

<div id="collaborators">
	<h2>Collaborators:</h2>
	<ul class="project-collab__people">
{% for person in page.collaborators %}
		<li>{% if person.slug %}<a href="{{ site.baseurl }}/people/{{person.slug}}/">{{ person.name }}</a>{% else %}{{
person.name }}{% endif %}{% if person.role %}, {{ person.role }}</li>{% endif %}
{% endfor %}
	</ul>
</div>
{% if page.title == 'Prism' or page.title == 'Ivanhoe' or page.title == 'ClockWork' or page.title == 'Dash-Amerikan' or page.title == 'UVA Reveal' or page.title == 'Neatline' %}
{% assign posts_tag = page.title | downcase %}
{% assign project_posts = site.posts | where: 'tags', posts_tag %}
{% if project_posts != empty %}
<div id="related-posts">
	<h2>Related Posts</h2>
	<ul>
{% for post in project_posts %}
{% capture authorstring %}
{% include author-name.html authorid=post.author %}
{% endcapture %}
		<li> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> by {{ authorstring | strip }}</li>
{% endfor %}
	</ul>
{% endif %}
{% endif %}
</div>

</div> <!-- end div.content -->