.include--topnav {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 80px;
  z-index: 2;
  transition: height 1s; }

.topnav-scroll--down {
  opacity: 1 !important; }

.topnav__background {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(to right, #7f00ff, #7f00ff);
  opacity: 0;
  transition: opacity .5s ease-out; }

.topnav__content-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 100%; }

.topnav-item {
  border: 1px solid black;
  margin: 0 1em; }
  .topnav-item:first-of-type {
    margin-right: auto; }

.topnav-item__link {
  display: block;
  height: 60px;
  line-height: 60px;
  border: 1px solid blue; }
  .topnav-item__link img {
    display: block;
    height: 60px; }

.topnav-dummy-content {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 3em;
  background-image: linear-gradient(to bottom, lightpink, white); }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif; }

/* Background colors: */
.home-landing-grid {
  display: grid;
  justify-content: start;
  align-items: end;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  padding-left: 4.167%; }
  @media screen and (min-width: 600px) {
    .home-landing-grid {
      padding-left: 8.33%; } }

.home-title-wrapper {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 4em;
  font-weight: 600;
  text-transform: uppercase;
  line-height: .9;
  transform: translate(0, -1em);
  /* NB: need to move placement of words on smaller screens */ }
  .home-title-wrapper .home-title__text {
    position: relative; }
  @media screen and (min-width: 600px) {
    .home-title-wrapper {
      font-size: 5em; } }
  @media screen and (min-width: 768px) {
    .home-title-wrapper {
      font-size: 6em; } }
  @media screen and (min-width: 1024px) {
    .home-title-wrapper {
      font-size: 7em; } }

/* Main Content */
.home-main-content {
  position: relative;
  display: grid;
  grid-template-areas: "hero hero" "faq contact" "faq grads" "hours floor" "make gis" "learn learn" "events events" "blog contact2" "blog listserv"						  "people projects" "origins origins"			  "charter colophon";
  grid-auto-rows: minmax(25vh, auto); }

/* All section titles: */
[class*="__title"] {
  color: red; }

/* Hero: */
.home__hero {
  grid-area: hero;
  position: relative;
  font-size: 1.75rem;
  margin-bottom: 1em;
  line-height: 1; }
  @media screen and (min-width: 768px) {
    .home__hero {
      font-size: 2rem; } }
  @media screen and (min-width: 1024px) {
    .home__hero {
      font-size: 2.5rem; } }

.home-hero__title {
  position: relative;
  font-weight: 200;
  color: black;
  /* all titles are red rn */
  margin-left: 4.167%;
  margin-right: 4.167%;
  margin-bottom: 1em; }
  @media screen and (min-width: 600px) {
    .home-hero__title {
      margin-left: 8.33%;
      margin-right: 8.33%; } }

.home-hero__text {
  margin-left: 4.167%;
  margin-right: 4.167%;
  font-weight: 200; }
  .home-hero__text span {
    display: block;
    font-weight: 700; }
  .home-hero__text .if-big {
    display: none !important; }
  @media screen and (min-width: 600px) {
    .home-hero__text {
      margin-left: 8.33%;
      margin-right: 8.33%; } }
  @media screen and (min-width: 1200px) {
    .home-hero__text .if-big {
      display: initial !important; } }

/* Contact prompt: */
.home__contact--1 {
  grid-area: contact; }

/* FAQ corner/link: */
.home__faq {
  grid-area: faq; }

/* Grad students: */
.home__grads {
  grid-area: grads; }

/* Floor diagram: (esp for office hours) */
.home__floor-diagram {
  grid-area: floor; }

/* Office hours: */
.home__office-hours {
  grid-area: hours; }

/* Makerspace corner: */
.home__makerspace-corner {
  grid-area: make; }

/* GIS corner: */
.home__gis-corner {
  grid-area: gis; }

/* Starter kit corner: */
.home__learn {
  grid-area: learn; }

/* Events & get involved prompt: */
.home__events {
  grid-area: events; }

/* Listserv sign-up: */
.home__listserv-prompt {
  grid-area: listserv; }

/* Second direct contact: */
.home__contact--2 {
  grid-area: contact2; }

/* People: */
.home__people {
  grid-area: people; }

/* Blog corner: */
.home__blog {
  grid-area: blog; }

/* Origin stories: */
.home__origin-stories {
  grid-area: origins; }

/* Projects corner: */
.home__staffer-projects {
  grid-area: projects; }

/* Charter: */
.home__charter-link {
  grid-area: charter; }

/* Colophon */
.home__colophon {
  grid-area: colophon; }
