@import "_sass/navbar";

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Raleway", sans-serif;
}

/* Background colors: */
  $purple:	rgba(127, 0, 255, 1);
 $magenta: 	rgba(255, 0, 255, 1);
 $purple9: 	rgba(127, 0, 255, .9);
 $purple7: 	rgba(127, 0, 255, .7);
 $purple5: 	rgba(127, 0, 255, .5);
 $purple3: 	rgba(127, 0, 255, .3);
$magenta9: 	rgba(255, 0, 255, .9);
$magenta7: 	rgba(255, 0, 255, .7);
$magenta5: 	rgba(255, 0, 255, .5);
$magenta3: 	rgba(255, 0, 255, .3);

.home-landing-grid {
	display: grid;
	justify-content: start;
	align-items: end;
	overflow: hidden;
	height: 100vh;
	width: 100%;
//	background-image: linear-gradient(to top left, transparent 60%, white 60%, white), url("img/low-poly-white.svg"), linear-gradient(to bottom, rgb(42, 0, 255), $purple 30%, $magenta);
}

.home-title-wrapper {
	position: relative;
	font-family: "Raleway";
	font-size: 7em;
	font-weight: 700;
//	text-transform: uppercase;
	line-height: .8;
	transform: translate(1em, -1em);
	.home-title__text {
		position: relative;
	}
}



/* Main Content */

.home-main-content {
	position: relative;
	display: grid;
	// do media query testing!!!
	grid-template-areas: "hero hero"
						 "faq contact"
						 "faq grads"
						 "hours floor"
						 "make gis"
						 "learn learn"
						 "events events"
						 "blog contact2"
						 "blog listserv"						 
						 "people projects"
						 "origins origins"			 
						 "charter colophon";
	grid-auto-rows: minmax(25vh, auto);
}

/* All section titles: */

[class*="__title"] {
	color: red;
}

/* Hero: */

.home__hero {
	grid-area: hero;
	position: relative;
	max-width: 900px;
	justify-self: end;
	text-align: center;
//	border: 1px solid black;
}

.home-hero__title {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 3em 1fr;
	grid-template-rows: repeat(4, auto);
	margin: 1em 0;
//	font-family: "Inconsolata", monospace;
	font-size: 3rem;
	font-weight: 900;
	line-height: 1;
//	text-transform: uppercase;
	color: black;
	span {
//		border: 1px solid blue;
	}
	span:nth-of-type(1) {
		grid-column: span 4;
		grid-row: 1;
	//	font-size: 1.25em;
	//	text-align: left;
	}
	span:nth-of-type(2) {
		grid-column: 1;
		grid-row: 2;
	//	justify-self: end;
		margin-top: 1em;
		text-align: left;
	}
	span:nth-of-type(3) {
		grid-column: 2;
		grid-row: 3;
		margin: 1em 0;
		text-align: left;
	}
	span:nth-of-type(4) {
		grid-column: 3;
		grid-row: 4;
		text-align: left;
	}
}

.home-hero__text {

}

/* Contact prompt: */

.home__contact--1 {
	grid-area: contact;
}

/* FAQ corner/link: */

.home__faq {
	grid-area: faq;
}

/* Grad students: */

.home__grads {
	grid-area: grads;
}

/* Floor diagram: (esp for office hours) */

.home__floor-diagram {
	grid-area: floor;
}

/* Office hours: */

.home__office-hours {
	grid-area: hours;
}

/* Makerspace corner: */

.home__makerspace-corner {
	grid-area: make;
}

/* GIS corner: */

.home__gis-corner {
	grid-area: gis;
}

/* Starter kit corner: */

.home__learn {
	grid-area: learn;
}

/* Events & get involved prompt: */

.home__events {
	grid-area: events;
}

/* Listserv sign-up: */

.home__listserv-prompt {
	grid-area: listserv;
}

/* Second direct contact: */

.home__contact--2 {
	grid-area: contact2;
}

/* People: */

.home__people {
	grid-area: people;
}

/* Blog corner: */

.home__blog {
	grid-area: blog;
}

/* Origin stories: */

.home__origin-stories {
	grid-area: origins;
}

/* Projects corner: */

.home__staffer-projects {
	grid-area: projects;
}

/* Charter: */

.home__charter-link {
	grid-area: charter;
}

/* Colophon */

.home__colophon {
	grid-area: colophon;
}