@import "_sass/navbar";

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Raleway", sans-serif;
}

/* Background colors: */
  $purple:	rgba(127, 0, 255, 1);
 $magenta: 	rgba(255, 0, 255, 1);
 $purple9: 	rgba(127, 0, 255, .9);
 $purple7: 	rgba(127, 0, 255, .7);
 $purple5: 	rgba(127, 0, 255, .5);
 $purple3: 	rgba(127, 0, 255, .3);
$magenta9: 	rgba(255, 0, 255, .9);
$magenta7: 	rgba(255, 0, 255, .7);
$magenta5: 	rgba(255, 0, 255, .5);
$magenta3: 	rgba(255, 0, 255, .3);

.home-grid-wrapper {
	position: relative;
	display: grid;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(to bottom, rgb(42, 0, 255), $purple 30%, $magenta);
}

.home-title-wrapper {
	position: relative;
}

.home-title__text {
	position: relative;
	font-family: "Righteous";
	font-size: 6em;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
//	color: white; /* for testing layers */
	z-index: 1;
//	text-shadow: 0 0 2px $magenta5;
//	transform: translate(0, 8px);
	span {
	//	display: none;
		line-height: 1;
	}
}

.home-dots-wrapper {
	position: absolute;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
//	grid-gap: 4px;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	
}

.home-dots__dot {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.7);
//	border: 1px solid red;
	span {
	//	content: '';
		position: absolute;
		right: 50%;
		bottom: 50%;
		display: block;
		height: 6px;
		width: 6px;
		transform: translate(50%, 50%);
		border-radius: 50%;
	//	background-color: rgba(255,255,255,.7);
		background-clip: border-box;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			height: 100%;
			width: 100%;
			border-radius: 50%;
			background-image: linear-gradient(to bottom, rgba(42, 0, 255, 1), $purple 30%, $magenta);
			background-size: 100vw 100vh;
		//	background-position: ** this is where things get tricksy but it's gotta be possible... **

		}
		

	//	background-clip: border-box;
		// set bg of pseudo elem to be a gradient of identical size as real bg
		// can't think of another way to do it
	}
}

/* ---------------------------------------------------------------------------- */

/* CONTENT GRID: */

.home-main-content {
	position: relative;
	display: grid;
	grid-template-columns: repeat(8, 12.5vw);
	grid-auto-rows: 12.5vw;
	background-color: black;
}

[class*="home-item--"] {
//	border: 1px solid black;
	opacity: .9;
}

#s1 {

}

#s2 {
//	grid-column-start: 4;
}

#s3 {
//	grid-column-start: 7;
}

#s4 {
//	grid-column-start: 7;
//	grid-row-start: 4;
}
#s5 {
	grid-column-start: 2;
}

#l6 {
	grid-column-start: 5;
	grid-row-start: 3;
}

#m7 {
	grid-column-start: 1;
	grid-row-start: 3;
}

#s8 {
	grid-column-start: 4;
	grid-row-start: 6;
}

#m10 {
	grid-column-start: 1;
	grid-row-start: 8;
	z-index: 1;
}

#l11 {
	grid-column-start: 2;
	grid-row-start: 11;
}

#s12 {
	grid-column-start: 6;
	grid-row-start: 10;
}

#m13 {
	grid-column-start: 6;
	grid-row-start: 12;
}

#s14 {
	grid-column-start: 2;
	grid-row-start: 14;
}

#m15 {
	grid-column-start: 4;
	grid-row-start: 13;
}

#l16 {
	grid-column-start: 3;
	grid-row-start: 16;
}

#s17 {
	grid-column-start: 6;
	grid-row-start: 17;
}

#m18 {
	grid-column-start: 1;
	grid-row-start: 18;
}

#s19 {
	grid-column-start: 1;
	grid-row-start: 21;
}

#s20 {
	grid-row-start: 21;
}

#s21 {
	grid-row-start: 21;
}

#s22 {
	grid-row-start: 21;
}

// 1/24 MORNING: PEEP THIS SITE --> https://huemor.rocks/

.home-item--small {
	grid-row-end: span 2;
	grid-column-end: span 2;
	background-color: lightpink;
}

.home-item--medium {
	grid-row-end: span 3;
	grid-column-end: span 3;
	background-color: lavender;
}

.home-item--large {
	grid-row-end: span 4;
	grid-column-end: span 4;
	background-color: lightgreen;
}