.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  height: 35px;
  width: 100%;
  padding: 0 .5rem 0 .25rem;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0) 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 90%), linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0) 80%);
  z-index: 5;
  transform: translateY(-100%);
  transition: transform .5s ease-out .2s; }
  @media screen and (min-width: 768px) {
    .nav-wrapper {
      height: 50px; } }

.nav-wrapper--scroll-up {
  transform: translateY(0); }

[class*="nav__arrow"] {
  position: relative;
  display: inline-block;
  height: 100%; }
  [class*="nav__arrow"] a img {
    height: 15px;
    margin-top: 7.5px; }
  @media screen and (min-width: 768px) {
    [class*="nav__arrow"] a img {
      height: 20px;
      margin-top: 10px; } }

.nav__arrow--top a img {
  transform: rotate(90deg);
  opacity: .7; }

/**
 * 					Table of Contents
 * --------------------------------------------------------------------
 * #  Section:			Description:
 * --------------------------------------------------------------------
 * 1. General styles....Universal styles for repeating elements
 * 2. Landing page......Styles for title page
 * 3. Main content......Styles for content sections, e.g. 'Ethos'
 * 4. Unused styles.....Copied main styles for future customizing
 * --------------------------------------------------------------------
 */
/* 1. General Styles: */
[class*="__title"][class*="maker-"] {
  margin-bottom: .5em;
  margin-top: 1em;
  font-family: "Raleway", sans-serif;
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase; }
  @media screen and (min-width: 600px) {
    [class*="__title"][class*="maker-"] {
      font-size: 2rem; } }

[class*="maker-"] ul {
  list-style: none;
  margin: 0;
  padding: 0; }

/* Landing Page: */
.makerspace-landing-grid {
  position: relative;
  display: grid;
  grid-template-areas: "title";
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100vh, auto);
  align-items: end;
  overflow: hidden;
  width: 100%;
  padding-left: 4.167%;
  background-color: black;
  background-image: linear-gradient(to bottom, black, black 100vh, white 100vh, white); }
  @media screen and (min-width: 600px) {
    .makerspace-landing-grid {
      padding-left: 8.33%; } }
  @media screen and (min-width: 768px) {
    .makerspace-landing-grid {
      grid-template-areas: "title pics";
      grid-template-columns: 2fr 1fr; } }
  @media screen and (min-width: 900px) {
    .makerspace-landing-grid {
      padding-left: 4.167%; } }
  @media screen and (min-width: 1200px) {
    .makerspace-landing-grid {
      padding-right: 4.167%; } }

.maker-landing__big-title {
  grid-area: title;
  align-self: start;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: start;
  height: 100vh;
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: .9;
  color: white; }
  @media screen and (min-width: 600px) {
    .maker-landing__big-title {
      font-size: 5rem; } }
  @media screen and (min-width: 900px) {
    .maker-landing__big-title {
      font-size: 6rem; } }
  @media screen and (min-width: 1024px) {
    .maker-landing__big-title {
      font-size: 7rem; } }

.maker-title__text::after {
  content: '';
  display: block;
  height: 4px;
  width: 200%;
  background-color: cyan; }

.maker-landing__pics {
  grid-area: pics;
  position: relative;
  display: none;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 60px; }
  .maker-landing__pics img {
    display: inline-block;
    max-width: 90%; }
    .maker-landing__pics img:nth-of-type(2) {
      align-self: flex-end; }
  .maker-landing__pics div {
    height: 33vh;
    width: 75%;
    margin-bottom: 2rem;
    background-color: black;
    border: 3px solid magenta; }
    .maker-landing__pics div:nth-of-type(2) {
      align-self: flex-end; }
    .maker-landing__pics div:nth-of-type(3) {
      transform: translate(-25%, 0);
      background-color: transparent; }
  @media screen and (min-width: 768px) {
    .maker-landing__pics {
      display: flex; } }

/* Main Content: */
.makerspace-main-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(25vh, auto);
  grid-template-areas: "ethos" "hours" "people" "usage" "invent" "public" "diagram" "question";
  padding: 0 4.167%; }
  @media screen and (min-width: 600px) {
    .makerspace-main-content {
      padding: 0 8.33%; } }
  @media screen and (min-width: 768px) {
    .makerspace-main-content {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "ethos hours" "people usage" "invent invent" "public diagram" "question question"; } }

/* Ethos: */
.makerspace__ethos {
  grid-area: ethos; }
  @media screen and (min-width: 768px) {
    .makerspace__ethos {
      padding-right: 8.33%; } }

/* Hours: */
.makerspace__hours {
  grid-area: hours; }
  @media screen and (min-width: 768px) {
    .makerspace__hours {
      padding-left: 8.33%; } }

/* People: */
.makerspace__people {
  grid-area: people; }
  @media screen and (min-width: 768px) {
    .makerspace__people {
      padding-right: 8.33%; } }

.maker-people__students, .maker-people__staff {
  position: relative;
  font-family: "base-mono-narrow", monospace;
  font-weight: 200;
  text-align: right; }
  .maker-people__students span, .maker-people__staff span {
    float: left;
    font-weight: initial; }

.maker-students__label, .maker-staff__label {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  text-align: left;
  line-height: 1;
  margin-bottom: 1em;
  margin-top: 1em; }

.maker-people__grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(9, 5vh);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 1px solid rgba(0, 0, 0, 0.3); }

.maker-grid__default {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); }

.maker-grid__skill {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  z-index: 1; }

[id*="skill1"], [id*="skill4"], [id*="skill7"] {
  position: relative;
  background-color: rgba(255, 0, 255, 0.7); }

[id*="skill2"], [id*="skill5"] {
  background-color: rgba(0, 255, 255, 0.7); }

[id*="skill3"], [id*="skill6"] {
  background-color: rgba(0, 47, 255, 0.7); }

#ppl1skill1 {
  grid-column: 1;
  grid-row: 1; }

#ppl1skill2 {
  grid-column: 2;
  grid-row: 1; }

#ppl2skill1 {
  grid-column: 1;
  grid-row: 2; }

#ppl2skill3 {
  grid-column: 3;
  grid-row: 2; }

#ppl2skill7 {
  grid-column: 7;
  grid-row: 2; }

#ppl3skill1 {
  grid-column: 1;
  grid-row: 3; }

#ppl3skill4 {
  grid-column: 4;
  grid-row: 3; }

#ppl4skill1 {
  grid-column: 1;
  grid-row: 4; }

#ppl5skill1 {
  grid-column: 1;
  grid-row: 5; }

#ppl6skill1 {
  grid-column: 1;
  grid-row: 6; }

#ppl6skill2 {
  grid-column: 2;
  grid-row: 6; }

#ppl6skill3 {
  grid-column: 3;
  grid-row: 6; }

#ppl6skill6 {
  grid-column: 6;
  grid-row: 6; }

#ppl7skill1 {
  grid-column: 1;
  grid-row: 7; }

#ppl7skill2 {
  grid-column: 2;
  grid-row: 7; }

#ppl7skill6 {
  grid-column: 6;
  grid-row: 7; }

#ppl8skill1 {
  grid-column: 1;
  grid-row: 8; }

#ppl8skill2 {
  grid-column: 2;
  grid-row: 8; }

#ppl8skill5 {
  grid-column: 5;
  grid-row: 8; }

#ppl9skill1 {
  grid-column: 1;
  grid-row: 9; }

#ppl9skill2 {
  grid-column: 2;
  grid-row: 9; }

#ppl9skill3 {
  grid-column: 3;
  grid-row: 9; }

#ppl9skill6 {
  grid-column: 6;
  grid-row: 9; }

/* How To Use: */
.makerspace__usage {
  grid-area: usage; }
  @media screen and (min-width: 768px) {
    .makerspace__usage {
      padding-left: 8.33%; } }

/* Inventory: */
.makerspace__inventory {
  grid-area: invent;
  position: relative;
  display: grid;
  grid-template-areas: "title" "list" "notes" "contact"; }
  @media screen and (min-width: 768px) {
    .makerspace__inventory {
      grid-template-areas: "title title" "list list" "notes contact"; } }

.maker-inventory__title {
  grid-area: title; }

.maker-inventory__list {
  grid-area: list;
  -moz-columns: 250px;
  -webkit-columns: 250px;
  columns: 250px;
  column-count: 1; }
  .maker-inventory__list ul {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    position: relative;
    padding: 1em;
    padding-right: .75em;
    padding-left: 1.25em;
    margin-bottom: 1em;
    margin-right: .5em;
    border: 4px solid black; }
    .maker-inventory__list ul span {
      display: inline-block;
      margin-bottom: .5em;
      font-weight: 600;
      font-family: "Oswald";
      line-height: 1.15; }
    .maker-inventory__list ul li {
      font-weight: 200;
      font-family: "base-mono-narrow", monospace;
      position: relative;
      margin-bottom: .25em;
      line-height: 1.25; }
      .maker-inventory__list ul li::before {
        content: '';
        position: absolute;
        top: .625em;
        left: 0;
        display: block;
        height: 6px;
        width: 6px;
        transform: translate(-200%, -50%);
        background-color: magenta;
        border-radius: 50%; }
    .maker-inventory__list ul:nth-of-type(3n - 1) li::before {
      background-color: cyan; }
    .maker-inventory__list ul:nth-of-type(3n) li::before {
      background-color: #002fff; }
  @media screen and (min-width: 400px) {
    .maker-inventory__list {
      column-count: auto; } }

.maker-inventory__rules {
  grid-area: notes; }
  @media screen and (min-width: 768px) {
    .maker-inventory__rules {
      padding-right: 8.33%; } }

.maker-inventory__contact {
  grid-area: contact; }
  @media screen and (min-width: 768px) {
    .maker-inventory__contact {
      padding-left: 8.33%; } }

/* Public Spaces: */
.makerspace__public-spaces {
  grid-area: public; }
  @media screen and (min-width: 768px) {
    .makerspace__public-spaces {
      padding-right: 8.33%; } }

/* Diagram: */
.makerspace__diagram {
  grid-area: diagram;
  position: relative; }
  @media screen and (min-width: 768px) {
    .makerspace__diagram {
      padding-left: 8.33%; } }

.maker-diagram__img {
  position: relative; }
  .maker-diagram__img img {
    max-height: 75vh; }

/* Questions: */
.makerspace__questions {
  grid-area: question; }

/* Old Images: */
.makerspace__images {
  grid-area: images;
  display: none; }

/* 4. Unused Styles */
/* If make into own for page:

.home-makerspace__hours {
	position: relative;
	border: 4px solid magenta;
	font-family: "base-mono-narrow", monospace;
	font-size: 20px;
	text-align: right;
	margin-top: calc(2em + 4px);
	padding: .5em 1em;
	div {
		position: absolute;
		font-family: "Oswald", sans-serif;
		font-size: 1.5rem;
		font-weight: 600;
		text-transform: uppercase;
		text-align: left;
		line-height: 1;
		transform: translate(-1em, calc(-1.5em - 4px));
	}
	span {
		float: left;
		color: magenta;
	}
}

*/
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  line-height: 1.5; }

.home-landing-grid {
  position: relative;
  display: grid;
  align-items: end;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  padding-left: 4.167%; }
  @media screen and (min-width: 600px) {
    .home-landing-grid {
      padding-left: 8.33%; } }

.home-title-wrapper {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 4em;
  font-weight: 600;
  text-transform: uppercase;
  line-height: .9;
  /* NB: need to move placement of words on smaller screens */
  border-bottom: 6px solid magenta; }
  .home-title-wrapper .home-title__text {
    position: relative; }
  @media screen and (min-width: 600px) {
    .home-title-wrapper {
      font-size: 5em; } }
  @media screen and (min-width: 768px) {
    .home-title-wrapper {
      font-size: 6em; } }
  @media screen and (min-width: 1024px) {
    .home-title-wrapper {
      font-size: 7em; } }

.home-landing__subtitle {
  position: relative;
  width: 100%;
  align-self: start;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1;
  padding-top: 1em; }
  @media screen and (min-width: 600px) {
    .home-landing__subtitle {
      font-size: 1.75rem;
      padding-top: 1.5em; } }
  @media screen and (min-width: 768px) {
    .home-landing__subtitle {
      font-size: 2rem;
      padding-top: 0;
      align-self: center; } }
  @media screen and (min-width: 1024px) {
    .home-landing__subtitle {
      font-size: 2rem; } }

/* Main Content */
.home-main-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(25vh, auto);
  grid-template-areas: "hero" "faq" "contact" "hours" "grads" "floor" "make" "gis" "learn" "events" "blog" "contact2" "listserv" "people" "projects" "origins" "charter" "colophon";
  padding: 0 4.167%; }
  @media screen and (min-width: 600px) {
    .home-main-content {
      padding: 0 8.33%; } }
  @media screen and (min-width: 768px) {
    .home-main-content {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "hero hero" "faq contact" "faq hours" "grads floor" "make gis" "learn learn" "events events" "blog contact2" "blog listserv" "people projects" "origins origins" "charter colophon";
      padding: 0 4.167%; } }
  @media screen and (min-width: 1200px) {
    .home-main-content {
      padding: 0 8.33%; } }

/****************** 1. Default Styles: *******************/
/* All section titles: */
[class*="__title"][class*="home-"] {
  margin-bottom: .5em;
  margin-top: 1em;
  font-family: "Raleway", sans-serif;
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase; }
  @media screen and (min-width: 600px) {
    [class*="__title"][class*="home-"] {
      font-size: 2rem; } }

/* All homepage links: */
[class*="home-"] a, [class*="maker-"] a {
  font-family: "base-mono-narrow", monospace;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid magenta;
  background-color: transparent;
  -webkit-transition: background-color .3s;
  transition: background-color .3s; }
  [class*="home-"] a:hover, [class*="home-"] a:focus, [class*="maker-"] a:hover, [class*="maker-"] a:focus {
    background-color: magenta; }

/* All call-to-action buttons: */
[class*="__cta"] {
  position: relative;
  margin-top: 1em; }
  [class*="__cta"] a {
    display: inline-block;
    padding: .25rem .5em;
    margin-top: 4px;
    font-size: 1.5rem;
    font-family: "base-mono-wide", monospace;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    color: cyan;
    border: 2px solid cyan; }
    [class*="__cta"] a:hover, [class*="__cta"] a:focus {
      background-color: transparent; }

/* Hero: */
.home__hero {
  grid-area: hero;
  position: relative; }

.home-hero__text {
  font-size: 1.5rem;
  font-weight: 300 !important;
  line-height: 1;
  margin-bottom: 1em;
  padding-bottom: 1em; }
  .home-hero__text span {
    font-weight: 700; }

/* Contact prompt: */
.home__contact--1 {
  grid-area: contact;
  font-size: 18px;
  line-height: 24px; }

/* FAQ corner/link: */
.home__faq {
  grid-area: faq; }

.home-faq__subtitle {
  padding-bottom: 1em;
  font-size: 18px;
  line-height: 24px;
  padding-right: 8.33%; }

.home-faq__questions {
  position: relative;
  font-family: "base-mono-narrow", monospace;
  font-size: 18px;
  line-height: 24px; }
  .home-faq__questions div {
    position: relative;
    margin-bottom: 1em; }
    .home-faq__questions div::before {
      content: '';
      position: absolute;
      left: -12px;
      top: 50%;
      transform: translate(0, -50%);
      display: block;
      height: 6px;
      width: 6px;
      border-radius: 50%; }
    .home-faq__questions div a {
      line-height: 1.5;
      text-decoration: none;
      color: black;
      border-bottom: 2px solid cyan;
      background-color: transparent;
      -webkit-transition: background-color .3s;
      transition: background-color .3s; }
      .home-faq__questions div a:hover, .home-faq__questions div a:focus {
        background-color: cyan; }

.home-faq__cta {
  position: relative;
  margin-top: 1em; }

/* Grad students: */
.home__students {
  grid-area: grads;
  padding-right: 8.33%;
  font-size: 18px;
  line-height: 24px; }
  .home__students a {
    border-bottom: 2px solid #002fff; }
    .home__students a:hover, .home__students a:focus {
      background-color: #002fff; }

.home-students__cta a {
  color: #002fff;
  border: 2px solid #002fff; }
  .home-students__cta a:hover, .home-students__cta a:focus {
    background-color: transparent; }

/* Floor diagram: (esp for office hours) */
.home__floor-diagram {
  grid-area: floor;
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 1.75rem; }
  .home__floor-diagram div img {
    display: inline-block;
    margin-top: 1em; }
  @media screen and (min-width: 600px) {
    .home__floor-diagram {
      font-size: 2rem; } }

/* Office hours: */
.home__office-hours {
  grid-area: hours;
  font-size: 18px;
  line-height: 24px;
  padding-right: 8.33%; }

.home-hours__when {
  font-family: "base-mono-narrow";
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 24px; }

/* Makerspace corner: */
.home__makerspace-corner {
  grid-area: make;
  padding-right: 8.33%; }

.home-makerspace__hours {
  position: relative;
  border: 4px solid magenta;
  font-family: "base-mono-narrow", monospace;
  font-size: 20px;
  text-align: right;
  margin-top: calc(2em + 4px);
  padding: .5em 1em; }
  .home-makerspace__hours div {
    position: absolute;
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    line-height: 1;
    transform: translate(-1em, calc(-1.5em - 4px)); }
  .home-makerspace__hours span {
    float: left;
    color: magenta; }

.home-makerspace__text {
  font-size: 18px;
  line-height: 1.5rem;
  margin-top: 1.5rem; }

.home-makerspace__cta a {
  border-color: magenta;
  color: magenta; }

/* GIS corner: */
.home__gis-corner {
  grid-area: gis;
  font-size: 18px;
  line-height: 24px; }
  @media screen and (min-width: 768px) {
    .home__gis-corner {
      padding-left: 8.33%; } }

/* Starter kit corner: */
.home__learn {
  grid-area: learn; }

/* Events & get involved prompt: */
.home__events {
  grid-area: events; }

/* Listserv sign-up: */
.home__listserv-prompt {
  grid-area: listserv; }

/* Second direct contact: */
.home__contact--2 {
  grid-area: contact2; }

/* People: */
.home__people {
  grid-area: people; }

/* Blog corner: */
.home__blog {
  grid-area: blog; }

/* Origin stories: */
.home__origin-stories {
  grid-area: origins; }

/* Projects corner: */
.home__staffer-projects {
  grid-area: projects; }

/* Charter: */
.home__charter-link {
  grid-area: charter; }

/* Colophon */
.home__colophon {
  grid-area: colophon; }
